{% extends "_layouts/_errors.twig" %}

{% set title = "404" %}
{% set subTitle = "Page Not Found" %}

{% block content %}

  <h1>{{ subTitle }}</h1>

  <p>The page you’re looking for may no longer exist or the URL may be incorrect. Apologies for the inconvenience.</p>

  <p>Please try again from the <a href="/"><b>homepage</b> →</a></p>

{% endblock %}