.animated {
  	@include animate-prefixer(animation-duration, $base-duration);
  	@include animate-prefixer(animation-fill-mode, $base-fill-mode);

	&.infinite {
	  animation-iteration-count: $base-iteration-count;
	}

	// &.hinge {
	//   @include animate-prefixer(animation-duration, $base-duration * 2);
	// }

	&.bounceIn,
	&.bounceOut {
	  @include animate-prefixer(animation-duration, $base-duration * 0.75);
	}

	// &.flipOutX,
	// &.flipOutY {
	//   @include animate-prefixer(animation-duration, $base-duration * 0.75);
	// }
}