.bg {
  @each $name, $color in $colors {
    &-#{$name} {
      background-color: color($name);
    }
    &-#{$name}--light {
      background-color: color($name, light);
    }
    &-#{$name}--lighter {
      background-color: color($name, lighter);
    }
    &-#{$name}--dark {
      background-color: color($name, dark);
    }
    &-#{$name}--darker {
      background-color: color($name, darker);
    }
    &-#{$name}--tint {
      background-color: color($name, tint);
    }
  }

  &-img {
    background-position: center center;
    background-size: cover;
  }
}

// $blend-modes: (
//   // normal,
//   multiply,
//   screen,
//   overlay,
//   darken,
//   lighten,
//   // color-dodge,
//   // color-burn,
//   soft-light
// );
//
// @each $mode in $blend-modes {
//   .bg-bm-#{$mode} {
//     background-blend-mode: $mode;
//   }
//
//   .mix-bm-#{$mode} {
//     mix-blend-mode: $mode;
//   }
// }