.b {
  &-primary {
    border-style: solid;
    border-color: color(primary);
  }
  &-secondary {
    border-style: solid;
    border-color: color(secondary);
  }
  &-tertiary {
    border-style: solid;
    border-color: color(tertiary);
  }
  &-grey {
    border-style: solid;
    border-color: color(grey);
  }
  &-grey--light {
    border-style: solid;
    border-color: color(grey, light);
  }
  &-grey--dark {
    border-style: solid;
    border-color: color(grey, dark);
  }
  &-text {
    border-style: solid;
    border-color: currentColor;
  }
}

.bw-0 { border-width: 0; }
.bw-1 { border-width: rem(1px); }
.bw-2 { border-width: rem(2px); }
.bw-4 { border-width: rem(4px); }

/* Resets */
.bt-0 { border-top-width: 0; }
.br-0 { border-right-width: 0; }
.bb-0 { border-bottom-width: 0; }
.bl-0 { border-left-width: 0; }

.bx-0 { border-top-width: 0; border-bottom-width: 0; }
.by-0 { border-right-width: 0; border-left-width: 0; }