.bc {
  &-grey {
    border-color: color(grey);
  }
  &-inherit {
    border-color: inherit;
  }
  &-text {
    border-color: currentColor;
  }
}

.bw-0 { border-width: 0; }
.bw-1 { border-width: .125rem; }
.bw-2 { border-width: .25rem; }
.bw-3 { border-width: .5rem; }
.bw-4 { border-width: 1rem; }
.bw-5 { border-width: 2rem; }

/* Resets */
.bt-0 { border-top-width: 0; }
.br-0 { border-right-width: 0; }
.bb-0 { border-bottom-width: 0; }
.bl-0 { border-left-width: 0; }
.bx-0 { border-right-width: 0; border-left-width: 0; }
.by-0 { border-top-width: 0; border-bottom-width: 0; }