// Output the button CSS.
$btn-css: true;
// Set to null for no corner radius.
$btn-corners: 0.25em;

@if $btn-css {

  .btn {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    font-family: inherit;
    // font-size: 100%;
    // text-decoration: none;
    padding: 0.5em 1em;
    border: 0;
    background-color: transparent;
    transition: background-color $speed-normal ease-in-out;
    @if $btn-corners {
      border-radius: rem($btn-corners);
    }

    &--primary {
      color: white;
      background-color: color(primary);

      &:hover,
      &:focus {
        color: white;
        background-color: color(primary, light);
      }
    }

    &--secondary {
      color: white;
      background-color: color(secondary);

      &:hover,
      &:focus {
        color: white;
        background-color: color(secondary, light);
      }
    }

    &--outline {
      box-shadow: 0 0 0 3px color(primary, dark)
    }

    &--empty {
      color: inherit;
      background-color: transparent;
    }

    &--fill {
      width: 100%;
    }
  }

}