// Output the button CSS.
$btn-css: true;
// Set to null for no corner radius.
$btn-corners: 1em;
// Configure colours and speed.
$btn-bg: $primary;
$btn-bg--hover: $primary--light;
$btn-txt: white;
$btn-txt--hover: $btn-txt;
$btn-transition-speed: $speed-normal;

@if $btn-css {

  .btn {
    display: inline-block;
    vertical-align: middle;
    color: $btn-txt!important;
    font-family: inherit;
    font-size: 100%;
    text-decoration: none !important;
    padding: 0.5em 0.75em;
    border: 0!important;
    background-color: $btn-bg;

    @if $btn-corners {
      border-radius: rem($btn-corners);
    }

    transition: all $btn-transition-speed ease-in-out!important;

    &:hover,
    &:focus {
      color: $btn-txt--hover;
      background-color: $btn-bg--hover;
    }

    &--fill {
      width: 100%;
    }
  }

}