// Output the button CSS.
$btn-css: true;
// Set to null for no corner radius.
$btn-corners: 0.25em;
// Configure colours and speed.
$btn-bg: color(primary);
$btn-bg--hover: color(primary, light);
$btn-txt: white;
$btn-txt--hover: $btn-txt;
$btn-transition-speed: $speed-normal;

@if $btn-css {

  .btn {
    display: inline-block;
    vertical-align: middle;
    color: $btn-txt;
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 0;
    background-color: $btn-bg;
    transition: background-color $btn-transition-speed ease-in-out;
    @if $btn-corners { border-radius: rem($btn-corners); }

    &:hover,
    &:focus {
      background-color: $btn-bg--hover;
    }

    &--secondary {
      background-color: color(secondary);

      &:hover,
      &:focus {
        background-color: color(secondary, light);
      }
    }

    &--fill {
      width: 100%;
    }
  }

}