.color {
  @each $name, $color in $colors {
    &-#{$name} {
      color: color($name);
    }
    &-#{$name}--light {
      color: color($name, light);
    }
    &-#{$name}--dark {
      color: color($name, dark);
    }
    &-#{$name}--tint {
      color: color($name, tint);
    }
  }
}
// OLD METHOD
//
// .color {
//   &-white {
//     color: white;
//   }
//
//   &-black {
//     color: black;
//   }
//
//
//   &-primary {
//     color: $primary;
//   }
//
//   &-secondary {
//     color: $secondary;
//   }
//
//   &-tertiary {
//     color: $tertiary;
//   }
//
// }