@if $btn-css {

  .#{$btn-name} {

    @include inline-block(middle);
    color: $btn-txt!important;
    font-family: inherit;
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none !important;
    padding: 0.5em 0.75em;
    background-color: $btn-bg;

    @if $btn-corners {
      border-radius: rem($btn-corners);
    }

    transition: all $btn-transition-speed ease-in-out!important;

    &:hover,
    &:active,
    &:focus {
      color: $btn-txt--hover;
      background-color: $btn-bg--hover;
    }

    &--medium {
      font-size: 1.25em;
    }

    &--large {
      font-size: 1.75em;
    }

    &--natural {
      vertical-align: baseline;
      line-height: 0.5;
      height: auto;
      padding-right: 0.25em;
      padding-left: 0.25em;
    }

    &--fill {
      width: 100%;
    }

    // FOR IE8
    // @if $mq-responsive == false {
    //  .#{$link-scope-name} & {
    //    @extend .#{$btn-name};
    //  }
    // }
  }

}