.site-logo {

  position: relative;
  width: $siteLogo-width / 2;
  height: $siteLogo-height / 2;

  @include mq(palm) {
    width: pct($siteLogo-width, $max-width);
    height: 0;
    padding-top: pct($siteLogo-height, $max-width);
  }

  a {
    @include fit-media;
    background-image: image-url("logos/site-logo.svg");
    background-size: cover;
  }
}