$form-element-bg-color: white;

.form {

  // quick label styling
  label {
    background: $form-element-bg-color;
    color: #999;
    display: block;
    font-size: 75%;
    padding: 0.5em 0.75em 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[list],
  input[type="file"],
  select,
  textarea  {
    appearance: none;
    background-clip: padding-box;
    background-color: $form-element-bg-color;
    border: 0;
    border-radius: 0;
    color: $text;
    font-family: $font-family;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0.75em 0.58em;
    border: 0;
    border-bottom: 3px solid white;
    // text-align: left;
    // vertical-align: top;
    width: 100%;
    transition: 0.333333s;

    &:focus {
      border-color: $alert-bg--neutral;
    }
  }

  // select:not([multiple]) {
  //   background: $form-element-bg-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAOCAQAAAD3ApbNAAAAXUlEQVR4AdXMsQ2AIBQG4WvJG4LJGIMpmMBZ6FhMieVLNFfq/eWffPygyqTzVmdS0TXOvcFT4/4busLKZOZYFHxEJjNHkNKk5jypOU9qzpOS86TiPGk5Tx57wVe6AJFXOuWN70I1AAAAAElFTkSuQmCC') no-repeat right center;
  //   background-size: 20px 7px;
  // }

  &__check,
  &__radio {
    font-size: 125%;
    margin-right: rem(($margin + 0px) / 2);
    vertical-align: baseline;
  }
}