$form-element-bg-color: white;

.form {
  // Prevent iOS zooming forms
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width: rem(600px)) {
    font-size: rem(16px);
  }

  // quick label styling
  &__label {
    background: $form-element-bg-color;
    color: #999;
    display: block;
    font-size: 75%;
    padding: 0.5em 0.75em 0;
  }

  &__text,
  &__select,
  &__btn {
    appearance: none;
    background-clip: padding-box;
    background-color: $form-element-bg-color;
    border: 0;
    border-radius: 0;
    color: $text;
    font-family: $font-family;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0.75em 0.58em;
    // text-align: left;
    // vertical-align: top;
    width: 100%;

    &:focus {
      background-color: mix(yellow, $form-element-bg-color, 10%);
    }
  }

  &__select {
    background: $form-element-bg-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAOCAQAAAD3ApbNAAAAXUlEQVR4AdXMsQ2AIBQG4WvJG4LJGIMpmMBZ6FhMieVLNFfq/eWffPygyqTzVmdS0TXOvcFT4/4busLKZOZYFHxEJjNHkNKk5jypOU9qzpOS86TiPGk5Tx57wVe6AJFXOuWN70I1AAAAAElFTkSuQmCC') no-repeat right center;
    background-size: 20px 7px;
  }

  &__label,
  &__select,
  &__check,
  &__radio,
  &__btn {
    cursor: pointer;
  }

  &__btn {
    -webkit-appearance: none;
    border: 0!important;
    outline: 0;
    padding: 0.75em 1.25em!important;
    text-shadow: none;
    text-decoration: none;
    width: auto;
  }

  &__check,
  &__radio {
    font-size: 125%;
    margin-right: rem(($margin + 0px) / 2);
    vertical-align: baseline;
  }

  [disabled],
  [disabled] option,
  [disabled] optgroup,
  &__label--disabled {
    background-color: #eee!important;
    color: #888!important;
    cursor: not-allowed;
    user-select: none;
  }

  &__text::placeholder {
    font-size: 87.5%;
  }

  // &--spin:checked {
  //   transform: rotate(360deg);
  //   transition: all $speed-slow ease-in-out;
  // }

  // @keyframes pop {
  //   30% {
  //     transform: scale(1.3); }
  //   70% {
  //     transform: scale(0.3); }
  //   90% {
  //     transform: scale(1); }
  //   100% {
  //     transform: none; }
  // }

  // &--pop:checked {
  //   animation: pop $speed-slow ease-in-out;
  // }


  // Tweaks for Safari + Chrome.
  // @media (-webkit-min-device-pixel-ratio: 0) {
  //   &__select[size],
  //   &__select[multiple],
  //   &__select[multiple][size] {
  //     padding-right: rem(3px);
  //     background-image: none;
  //   }
  //   &__select,
  //   &__select[size="0"],
  //   &__select[size="1"] {
  //     padding-right: rem(20px);
  //   }
  // }
}

.field__item{padding:0.75rem 0.5rem}

/* FormHack v1.2.0 (formhack.io) */

// Config -----------------------------

// Font
$fh-font-family: sans-serif !default;
$fh-font-size: inherit !default;
$fh-font-color: rgb(40, 40, 40) !default;

// Borders
$fh-border-radius: 0 !default;
$fh-border-width: 1px !default;
$fh-border-style: solid !default;
$fh-border-color: rgb(200, 200, 200) !default;

// Inputs, Textareas, Select, Option
$fh-input-height: 2.5em !default; // 16 * 2.5 = 40px
$fh-input-width: 100% !default;
$fh-input-max-width: 300px !default;
$fh-input-bg-color: #fff !default;
$fh-focus-bg-color: rgb(220, 220, 220) !default;
$fh-focus-border-color: $fh-border-color !default;
$fh-focus-font-color: $fh-font-color !default;

// Select Vendor Styling
$fh-allow-select-vendor-styling: true !default;

// Fieldset & Legend Styling
$fh-fieldset-bare: false !default;

// Buttons & Input Submits
$fh-button-height: auto !default;
$fh-button-width: 100% !default;
$fh-button-max-width: 140px !default;
$fh-button-font-color: $fh-font-color !default;
$fh-button-bg-color: $fh-focus-bg-color !default;
$fh-button-hover-bg-color: $fh-border-color !default;
$fh-button-hover-font-color: $fh-font-color !default;

// Layout
$fh-centered: false !default;
$fh-display: block !default;


// Center/Left-Aligned Layout
@mixin center-layout {
  @if $fh-centered == true {
    // margin: 10px auto;
    text-align: center;
  }
  @else {
    // margin: 10px 0;
  }
}

.scope-form {
  /* Global Reset Styles ------------------ */

  input,
  textarea,
  select,
  option,
  optgroup,
  button,
  legend,
  fieldset {
    box-sizing: border-box;
    outline: none;

    font-family: $fh-font-family;
    font-size: $fh-font-size;
    color: $fh-font-color;
    vertical-align: top;

    display: $fh-display;
    @include center-layout;
  }


  datalist {
    font-family: $fh-font-family;
    font-size: $fh-font-size;
  }

  label {
    display: $fh-display;
    @include center-layout;
  }



  /* Input & Textarea ------------------ */

  /* Fields with standard width */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[list],
  input[type="file"],
  select,
  textarea {
    width: $fh-input-width;
    max-width: $fh-input-max-width;
    padding: $fh-input-height / 5;
    background-color: $fh-input-bg-color;

    border-radius: $fh-border-radius;
    border: $fh-border-width $fh-border-style $fh-border-color;
  }

  /* Fields with standard height */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[list] {
    height: $fh-input-height;
    -webkit-appearance: none;
  }

  /* Other */

  textarea {
    -webkit-appearance: none;
    overflow: auto;
  }

  input[type="range"] {
    height: $fh-input-height;
    width: $fh-input-width;
    max-width: $fh-input-max-width;
  }

  input[type="file"] {
    min-height: $fh-input-height;
  }

  input[type="search"] {
    height: $fh-input-height;
    -webkit-appearance: none;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    // for some reason this moves the label (in chrome at least)
    vertical-align: text-bottom;
  }
  // For checkbox and radio to be centered, need to wrap the input and label in a span -
  // .checkbox-container {
  //  display: block;
  //  text-align: center;
  // }


  /* Select ------------------ */

  select {
    height: $fh-input-height;

    @if $fh-allow-select-vendor-styling == false {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
  }

  select[multiple] {
    height: auto;
    min-height: $fh-input-height;
    padding: 0;

    option {
      margin: 0;
      padding: $fh-input-height / 5;
    }
  }

  /* Fieldset ------------------ */

  fieldset {
    @if $fh-fieldset-bare == true {
      padding: 0;
      border: 0;
    }
    @else {
      padding: 10px 25px;
      border-radius: $fh-border-radius;
      border: $fh-border-width $fh-border-style $fh-border-color;
    }
  }

  legend {
    @if $fh-fieldset-bare == true {
      padding: 0;
      font-weight: inherit;
    }
    @else {
      padding: 0 5px;
      font-weight: 700;
    }
  }

  /* Buttons, Input Type Submit/Reset ------------------ */

  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="image"] {
    height: $fh-button-height;
    width: $fh-button-width;
    max-width: $fh-button-max-width;
    background-color: $fh-button-bg-color;
    padding: $fh-input-height / 5;
    cursor: pointer;

    color: $fh-button-font-color;
    font-weight: 700;

    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: $fh-border-radius;
    border: $fh-border-width $fh-border-style $fh-border-color;
  }

  input[type="image"] {
    text-align: center;
    padding: $fh-input-height / 5;
  }

  /* States ------------------ */

  input[disabled],
  textarea[disabled],
  select[disabled],
  option[disabled],
  button[disabled] {
    cursor: not-allowed;
  }

  input:focus,
  textarea:focus,
  select:focus,
  option:focus,
  button:focus  {
    background-color: $fh-focus-bg-color;
    border-color: $fh-focus-border-color;
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    outline: 0;
  }

  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus {
    background-color: $fh-button-hover-bg-color;
    color: $fh-button-hover-font-color;
  }
}