$form-element-bg-color: white;

.bk-form--ext {
  label {
    color: #666;
    font-size: 87.5%;
    text-transform: uppercase;
  }

  &__combined {
    label {
      background: $form-element-bg-color;
      color: #999;
      font-size: 75%;
      padding: ($fh-input-height / 5) ($fh-input-height / 4) ($fh-input-height / 15);
      border-radius: $fh-border-radius $fh-border-radius 0 0;
      box-shadow: 0 -0.25em 0.75em -0.5em rgba(black, 0.1);

      &.required {
        &:after {
          color: color(neutral);
          content: "required";
          font-size: 87.5%;
          text-transform: lowercase;
        }
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="color"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="number"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    input[list],
    input[type="file"],
    select,
    textarea  {
      appearance: none;
      background-clip: padding-box;
      background-color: $form-element-bg-color!important;
      border: 0;
      border-radius: 0 0 $fh-border-radius $fh-border-radius;
      border-bottom: 3px solid white;
      transition: $speed-normal;
      box-shadow: 0 0.5em 0.5em -0.25em rgba(black, 0.075);

      &:focus {
        border-color: color(primary, light);
        border-radius: 0;
        box-shadow: 0 0.5em 0.5em -0.25em rgba(color(primary), 0.25);
      }
    }

    label[disabled],
    input[disabled],
    textarea[disabled],
    select[disabled],
    select[disabled] option,
    select[disabled] optgroup,
    option[disabled] {
      background-color: #eee!important;
      border-color: #eee!important;
      color: #aaa!important;
    }
  }

  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="image"] {
    background-color: color(primary);
    color: white;
    border-radius: $fh-border-radius;
    border: 0;
    border-radius: 1000em;
    font-weight: 200;
    text-transform: uppercase;
    transition: $speed-slow;
  }

  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="image"]:hover,
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="image"]:focus {
    color: white;
    background-color: color(secondary);
    transition: $speed-normal;
    box-shadow: 0 0.5em 0.5em -0.25em rgba(color(secondary), 0.25);
  }
}