.logo {
  a {
    @include fit-media;
    background-size: cover;
  }
}

.site-logo {
  $siteLogo-width: 206px;
  $siteLogo-height: 46px;

  height: rem($siteLogo-height) / 2;
  position: relative;
  width: rem($siteLogo-width) / 2;

  @include mq(palm) {
    height: 0;
    padding-top: pct($siteLogo-height, $max-width);
    width: pct($siteLogo-width, $max-width);
  }

  a {
    background-image: url("../imgs/logos/site-logo.svg");
  }
}

.colophon-logo {
  position: relative;
  width: rem(56px); // 60px / 64px
  height: rem(14px); // 15px / 16px

  a {
    background-image: url("../imgs/logos/colophon-logo.svg") ;
  }
}