.logo {
  position: relative;

  &__img {
    @include fit-media;
    @include hide(text);
    background-size: 100%;
  }
}

.site-logo {
  $site-logo-width: 206px;
  $site-logo-height: 46px;

  height: rem($site-logo-height) / 2;
  width: rem($site-logo-width) / 2;

  @include mq(palm) {
    height: 0;
    padding-top: pct($site-logo-height, $max-width);
    width: pct($site-logo-width, $max-width);
  }

  &__img {
    background-image: url("../imgs/logos/site-logo.svg");
  }
}

.colophon-logo {
  width: rem(56px); // 60px / 64px
  height: rem(14px); // 15px / 16px

  &__img {
    background-image: url("../imgs/logos/colophon-logo.svg") ;
  }
}