// Basic global nav link styles
.nav-links {
  a {
    color: white!important;
    text-transform: uppercase;
    transition: all $speed-slow ease-in-out;

    // Bump up the default (nav--block padding) for small screens
    @include mq($until: m) {
      padding: 1em;
    }

    // Style all interactive states
    // Active and open are tied to the Accessible Mega Menu script
    &:focus,
    &:hover,
    &.active,
    &.is-open {
      background-color: color(primary);
      color: inherit;
      transition-duration: $speed-normal;
    }
  }
}

@include mq($until: m) {
  // This wrapper is a bit of a fudge to get rid of the invisible spacing that appears when the item is inline-block
  // It also makes the nav dropdown thing full width
  .site-nav-wrapper {
    display: block;
    // margin-left: calc(-50vw + 50%);
    // margin-right: calc(-50vw + 50%);

    // .site-nav {
    //   // Using calc to be sure vw isn't applied without calc support for the above margins
    //   width: calc(100vw);
    // }
  }

  .site-nav {
    text-align: left;
    background-color: color(primary, dark);

    .js & {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition:
        visibility 0.5s ease-in-out,
        max-height 0.5s ease-in-out,
        opacity    0.5s ease-in-out;

      // &[aria-hidden='false'] {
      &.is-active {
        opacity: 1;
        max-height: 2000px;
        visibility: visible;
      }
    }

    li,
    a {
      width: 100%;
    }

    // Tweaks for the sub nav items
    li ul a {
      padding-left: 2em!important;
      font-size: 75%;
    }
  }
}


// We don't want to see the toggler at large screen sizes
#nav-toggler,
.nav-toggler-wrapper {
  @include mq(m) {
    display: none;
  }
  // We don't want it if there's no JS either
  .no-js &,
  .no-js & {
    display: none;
  }
}



@include mq(m) {
  /* mega menu list */
  .nav-menu {
    position: relative;
    z-index: $z-mobile-nav;
  }

  // a top level navigation item in the mega menu
  .nav-item {
    // first descendant link within a top level navigation item
    > a {
      position: relative;
      display: inline-block;

      // focus/open states of first descendant link within a top level navigation item */
      &:focus,
      &.is-open {
        // nothing at the moment
      }
      // open state of first descendant link within a top level navigation item
      &.is-open {
        border-bottom: none;
        z-index: 1;
      }
    }
  }

  // sub-navigation panel
  .sub-nav {
    // display: none;
    background-color: mix(color(primary), color(primary, dark));
    box-shadow: 0 5px 20px -5px black;
    font-size: 87.25%;
    min-width: em(180px);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 100%;
    transition:
      opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000),
      transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000),
      visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transform: scaleY(0);
    transform-origin: top left;
    visibility: hidden;

    // Fade out before the parent scales much
    .sub-nav-group {
      opacity: 0;
      transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
  }
  // sub-navigation panel open state
  .is-open {
    opacity: 1;
    pointer-events: all;
    transform: scaleY(1);
    visibility: visible;

    // Delay the fading in of the child ul
    .sub-nav-group {
      opacity: 1;
      transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      transition-delay: 0.15s;
    }
  }
}



.skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(black, 0.2);
  clip: rect(1px, 1px, 1px, 1px);
  color: color(secondary) !important;
  display: block;
  font-weight: 700;
  height: 1px;
  left: -9999em;
  overflow: hidden;
  padding: 1em 1.25em;
  position: absolute !important;
  top: -9999em;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: $z-max;
  }
}