$siteLogo-width: 206px;
$siteLogo-height: 46px;

.site-logo {
  height: rem($siteLogo-height) / 2;
  position: relative;
  width: rem($siteLogo-width) / 2;

  @include mq(palm) {
    height: 0;
    padding-top: pct($siteLogo-height, $max-width);
    width: pct($siteLogo-width, $max-width);
  }

  a {
    @include fit-media;
    background-image: url("../imgs/logos/site-logo.svg");
    background-size: cover;
  }
}