@function vp($target, $context: $max-width, $dimension: vw) {
  $vw-context: ($context*.01) * 1px;
  @if $dimension == vw {
    @return ($target/$vw-context) * 1vw;
  }
  @else {
    @return ($target/$vw-context) * 1vh;
  }
}

// Text and Font Styles
// —————————————————————————————————————————————————————————————————————————————
//
.font {
  // Small font size doesn't need to be fancy responsive, just a tweak is enough.
  &-xs {
    font-size: rem(10px);

    @include mq(lap) {
      font-size: rem(12px);
    }
  }

  &-s {
    font-size: rem(12px);

    @include mq(lap) {
      font-size: rem(14px);
    }
  }

  &-n { font-size: $font-size; }

  @each $font in $fluid-fonts {
    &-#{nth($font, 1)} {
      @include poly-fluid-sizing('font-size', (ffont($font, mqMin): ffont($font, minSize), ffont($font, mqMax): ffont($font, maxSize)));

      // @include fluid-type(
      //   font-size,
      //   ffont($font, mqMin),
      //   ffont($font, mqMax),
      //   ffont($font, minSize),
      //   ffont($font, maxSize)
      // );
      line-height: ffont($font, lineHeight);
    }
  }

  &-alt {
    font-family: $font-family--serif;
  }

  &-thin {
    font-weight: 100;
  }

  &-normal {
    font-weight: 400;
  }

  &-bold {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }

  &-upper {
    text-transform: uppercase;
  }

  // &-m {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 18px, 22px);
  //   line-height: (20 / 16);
  // }
  //
  // &-l {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 22px, 26px);
  //   line-height: (19 / 16);
  // }
  //
  // &-xl {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 30px, 36px);
  //   line-height: (18 / 16);
  // }
  //
  // &-xxl {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 36px, 54px);
  //   line-height: (17 / 16);
  // }
  //
  // &-hero {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 30px, 70px);
  //   line-height: (16 / 16);
  // }
  //
  // &-default {
  //   font-family: $font-family;
  // }
}


.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.1;
}

.lh-3 {
  line-height: 1.2;
}

.lh-4 {
  line-height: 1.3;
}

.lh-0 {
  line-height: 0.8;
}