@charset "UTF-8";

@import
  "settings/colors",
  "settings/layout",
  "settings/text",
  "settings/transition-speed",
  "settings/navigation",
  "settings/media",
  "settings/alerts",
  "settings/user-content-rte",
  "settings/hider",
  "settings/border-radius",

  // THIRD PARTY TOOLS
  "core/third-party/unit-conversion",
  "core/third-party/media-queries",
  "core/third-party/font-face",
  "core/third-party/family",
  // "core/third-party/fluid-type",
  "core/third-party/between",
  "core/third-party/hamburgers/hamburgers",

  // MIXINS & FUNCTONS
  "core/tools/percentage",
  "core/tools/viewport-units",
  "core/tools/rem",
  "core/tools/aspect-ratio",
  "core/tools/strip-unit",
  "core/tools/hider",
  "core/tools/poly-fluid-sizing",

  // GLOBALS
  "core/global/document",
  "core/global/text",
  "core/global/media",
  "core/global/tables",

  // LAYOUT GRID
  "core/utility-layout/grid-layout",
  "core/utility-layout/display",
  "core/utility-layout/margins",
  "core/utility-layout/padding-spacer",
  "core/utility-layout/site-width",
  "core/utility-layout/float",
  "core/utility-layout/hide-content",
  "core/utility-layout/position-over",
  "core/utility-layout/fit-media",
  "core/utility-layout/full-width",

  // UTILITY CLASSES
  "core/utility-general/alerts",
  "core/utility-general/nav",
  "core/utility-general/border-radius",
  "core/utility-general/box-shadow",
  // "core/utility-general/linter",

  "core/utility-text/alignment",
  "core/utility-text/list-styles",
  "core/utility-text/user-content-rte",
  "core/utility-text/overflow-text",
  "core/utility-text/hide-text",

  // PROJECT FILES:
  // ————————————————————————————————————————————————————————————————————————————
  "links",
  "arrows",
  "text",
  "colors",
  "backgrounds",
  "logos",
  "buttons",
  "site-nav",
  "forms-standard",
  "forms-extended";

// Styles used by the reference guide only:
progress[value] {
  appearance: none;
  border-radius: 0.15em;
  height: 0.75em;
  overflow: hidden;
  vertical-align: 0;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: color(grey);
    box-shadow: 0 1px 2px rgba(black, 0.4) inset;
  }
  &::-webkit-progress-value {
    background-image: linear-gradient(to right, color(primary), color(primary, light));
    border-radius: 0 0.15em 0.15em 0;
  }
}

// @include mq(hands) {
  [class*="stick-"] {
    position: relative;
    position: sticky;
    z-index: $z-position-over;
  }

  .stick-t {
    top: 0;
  }

  .stick-b {
    bottom: 0;
  }
// }

.oh-x {
  overflow-x: hidden !important;
}