// $font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'arial', sans-serif !default;
// $font-family--serif: georgia, 'nimbus roman no9 l', freeserif, times, 'times new roman', serif !default;

// $color-primary: red;
// $color-secondary: blue;
// $color-tertiary: lime;
// $color-body: #1a1a1a;
// $color-text: #333;

// $mq-breakpoints: (s: 568px, m: 850px, l: 1200px);
// $grid-columns: 16;
// $grid-column-width: 74;
// $grid-gutter: 40;

@import "core/import";

@import "project/links";
@import "project/arrows";
@import "project/text";
@import "project/color-and-bg";
@import "project/logos";
@import "project/buttons";
@import "project/site-nav";
@import "project/site-nav-sm";
@import "project/forms-standard";
@import "project/forms-extended";