@charset "UTF-8";

// $mq-breakpoints: (sm: 568px, md: 850px, lg: 1200px);

$color-primary: #2593e8;
$color-secondary: #22c09a;
$color-tertiary: #fbae48;

@import "basekit.scss";
@import "core/third-party/scrim-linear-grad";

.desat {
  filter: grayscale(100%);
}

.bg-gradient {
  background-image: scrim-linear-gradient(90deg, $color-primary, $color-secondary);
}

// Silly gradient bg class
.bg {
  &-lols {
    background-image: linear-gradient(90deg,
      color(primary),
      color(tertiary, light),
      color(secondary),
      color(primary, light),
      color(tertiary),
      color(secondary, light)
    );
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &--start {
    align-self: flex-start !important;
  }

  &--end {
    align-self: flex-end !important;
  }

  &--stretch {
    align-self: stretch !important;
  }

  &--content-start {
    align-content: flex-start;
  }

  &--content-end {
    align-content: flex-end;
  }
}

.font-mono {
  font-family: $font-family--mono;
}

// Make item stick to browser edge
[class*="stick-"] {
  position: sticky;
  z-index: $z-position-over;
}
// Stick to top
.stick-t { top: 0; }
// Stick to bottom
.stick-b { bottom: 0; }

// Hide overflow on x axis
.oh-x {
  overflow-x: hidden !important;
}


.scroll-x {
  z-index: $z-position-over;

  &:after {
    background-image: linear-gradient(90deg, rgba(color(primary, dark), 0), color(primary, dark));
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: rem($margin * 1px);
    z-index: $z-position-over;
  }

  &__content  {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(($max-width * 2) * 1px);
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mq(sm) {
      max-width: rem($max-width * 1px);
    }
  }
}



// Styles used by the reference guide only:
progress[value] {
  appearance: none;
  border-radius: 0.15em;
  height: 0.75em;
  overflow: hidden;
  vertical-align: 0;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: color(grey);
    box-shadow: 0 1px 2px rgba(black, 0.4) inset;
  }

  &::-webkit-progress-value {
    background-image: linear-gradient(to right, color(primary), color(primary, light));
    border-radius: 0 0.15em 0.15em 0;
  }
}

// Custom lineheight classes
.lh-0 { line-height: 0.8; }
.lh-1 { line-height: 1; }
.lh-2 { line-height: 1.1; }
.lh-3 { line-height: 1.2; }
.lh-4 { line-height: 1.3; }
.lh-5 { line-height: 1.8; }

//
// @keyframes pop {
//   0% {
//     transform: none;
//   }
//   50% {
//     transform: scale(0.95);
//   }
//   100% {
//     transform: none;
//   }
// }
//
// .pop-active {
//   &:active {
//     animation: pop $speed-normal;
//   }
// }