@if $nav-mobile {

  // Dont use this for now
  // @include mq($until: $nav-mobile-breakpoint) {

  /*! responsive-nav.js 1.0.39 by @viljamis */

  .nav-collapse ul {
    display: block;
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  .js body .nav-collapse.opened {
    animation-duration: 0.3s;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh!important;
    max-height: 100vh!important;
    background: white;
    z-index: 100;
    clip: auto;
    overflow: scroll;
    @include smooth-scroll
    text-align: center;
  }

  .js-nav-active body {
    overflow: hidden;
  }


  .nav {
    display: block;
    padding-top: 10%;
    padding-top: 10vh;
    padding-bottom: 10%;
    padding-bottom: 10vh;
  }

  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    position: fixed;
    top: 20px;
    right: 20px;
    z-index: z(mobile-nav-toggle);
  }

  // @media screen and (min-width: 40em) {
  //   .js .nav-collapse {
  //     position: relative;
  //   }
  //   .js .nav-collapse.closed {
  //     max-height: none;
  //   }
  //   .nav-toggle {
  //     display: none;
  //   }
  // }

  // MQ closing bracket
  // }

}