@if $nav-mobile {

  // @include mq($until: $nav-mobile-breakpoint) {

  .rnav {
    .js-has-rnav & {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      zoom: 1;
    }

    &.opened {
      .js-has-rnav body & {
       animation-duration: 0.3s;
       position: fixed!important;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh!important;
       max-height: 100vh!important;
       background: white;
       z-index: 100;
       clip: auto;
       overflow: scroll;
       overflow-scrolling: touch!important;
       text-align: center;
     }
    }

    &__list {
      display: block;
      padding-top: 10%;
      padding-top: 10vh;
      padding-bottom: 10%;
      padding-bottom: 10vh;
    }
  }

  // Prevent site body from scrolling when the nav is open.
  // Position fixed is required for iOS.
  .js-has-rnav-active body {
    overflow: hidden;
    position: fixed;
  }

  .nav-toggle {
    position: fixed;
    @include rem(top, px($margin));
    @include rem(right, px($margin));
    z-index: z(mobile-nav-toggle);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    user-select: none;
  }

  // @media screen and (min-width: 40em) {
  //   .js-has-rnav .rnav {
  //     position: relative;
  //   }
  //   .js-has-rnav .rnav.closed {
  //     max-height: none;
  //   }
  //   .nav-toggle {
  //     display: none;
  //   }
  // }

  // MQ closing bracket
  // }

}