.bg {

  &-white { background-color: white; }
  &-black { background-color: black; }

  &-primary {
    background-color: $primary;
    &--light { background-color: $primary--light; }
    &--dark { background-color: $primary--dark; }
  }

  &-secondary {
    background-color: $secondary;
    &--light { background-color: $secondary--light; }
    &--dark { background-color: $secondary--dark; }
  }

  &-tertiary {
    background-color: $tertiary;
    &--light { background-color: $tertiary--light; }
    &--dark { background-color: $tertiary--dark; }
  }

  &-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

}