$font-family--mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;

$code-bg-color: rgba(mix(white, black, 50%), 0.25) !default;
$code-text-color: currentColor !default;
$code-border: '1px solid ' + rgba(mix(white, black, 50%), 0.75) !default; // or just  "0";
$code-font-size: 87.5% !default;

code {
  background-color: $code-bg-color;
  border: unquote($code-border);
  border-radius: em(2px);
  color: $code-text-color;
  display: inline-block;
  font-family: $font-family--mono;
  font-size: $code-font-size;
  padding: 0 em(5px);
  white-space: pre-wrap;
}