html {
  box-sizing: border-box;
  height: 100%;
}

* {
  &,
  &:before,
  &:after {
    background-repeat: no-repeat;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  backface-visibility: hidden;
  background-color: color(body);
  color: color(text);
  font-family: $font-family;
  font-size: em(strip-unit($font-size), 16);
  font-weight: $font-weight;
  line-height: ($font-line-height / $font-size);
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
}

[tabindex="-1"] {
  outline: 0;
}