html {
  box-sizing: border-box;
  height: 100%;
}

// Target everything, yes, everything.
* {
  &,
  &:before,
  &:after {
    // It's rare that bg repeat is needed in most designs so for convinience let's just disable it.
    background-repeat: no-repeat;
    // Inherit the html box sizing.
    box-sizing: inherit;
    // Default padding and margins suck, we'll disable them.
    margin: 0;
    padding: 0;
  }
}

body {
  // backface-visibility: hidden;
  background-color: $color-body;
  color: $color-text;
  font-family: $font-family;
  // Convert the font-size variable from pixels to em.
  font-size: (($font-size / ($font-size * 0 + 1)) / 16) * 1em;
  //Enforce a global font weight, almost always 400 but depends on the font family.
  font-weight: $font-weight;
  line-height: $font-line-height;
  // Exactly as it says, optimise the browser text rendering for speed rather than fanciness.
  text-rendering: optimizeSpeed;
  //Prevents iOS (in particular) from screwing with the intended text sizing.
  text-size-adjust: 100%;
}

// Disable the outline on tabable content areas, disable for the time being as this is not common usage
// [tabindex="-1"],
// [tabindex="1"] {
//   outline: 0;
// }