@if $form-default-css {

  fieldset {
    @if $form-fieldset-border {
      border: $form-fieldset-size solid $form-fieldset-color;
    } @else {
      border: 0;
    }
  }

  @if $form-legend-style {
    legend {
      padding: rem(($font-line-height / 4) ($font-line-height / 2) ($font-line-height / 5));
      margin-left: rem($font-line-height / 2);
    }
  }
  textarea {
    width: 100%;
    min-height: rem($form-textarea-min-height);
    resize: vertical;
  }
  @if $form-optgroup-style {
    optgroup {
      color: black;
      font: {
        family: $font-family;
        style: normal;
        weight: normal;
      };
      // Kill phantom spacing and dotted
      // border that appears in Firefox.
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }
  }
  @if $form-search-decoration-style {
    input[type="search"]::-webkit-search-decoration {
      display: none;
    }
  }
}