// Output default table styles.
$tables-css: true;
// Width of the table borders.
$tables-width: 1px;
// Border colours.
$tables-color: $grey-light;
// Alignment within th and td cells.
$tables-cell-text-align: left;
// Vertical alignment within cells.
$tables-cell-vertical-align: top;
// Padding within cells.
$tables-cell-padding: $margin + 0px;

@if $tables-css {

  table {
    border-collapse: collapse;
    border-spacing: 0;
    border-top: $tables-width solid $tables-color;
    border-left: $tables-width solid $tables-color;
  }

  th, td {
    text-align: $tables-cell-text-align;
    vertical-align: $tables-cell-vertical-align;
    padding: rem($tables-cell-padding);
    border-bottom: $tables-width solid $tables-color;
    border-right: $tables-width solid $tables-color;
  }

}