$tables-width: 1px !default;
$tables-responsive: true !default;
$tables-overflow: true !default;
$tables-responsive-bp: s !default;
$tables-color: #eee !default;

table {
  border-collapse: collapse;
  border-left: $tables-width solid $tables-color;
  border-spacing: 0;
  border-top: $tables-width solid $tables-color;
  min-width: 100%;
}

th, td {
  border-bottom: $tables-width solid $tables-color;
  border-right: $tables-width solid $tables-color;
  padding: rem($margin + 0px);
  vertical-align: top;
  min-width: 4em;
}

@if $tables-responsive or $tables-overflow {
  @include mq($until: $tables-responsive-bp) {
    .responsive-table {
      border: $tables-width solid $tables-color;
      border-bottom: 0;
      border-collapse: inherit;
      min-width: 100%;

      // Not the first row as that's for the table headers, not the second row either because that's would make a weird layout just style the others
      tr+tr+tr {
        padding-top: 2em;
        display: block;
      }

      th {
        display: none;
      }

      td {
        display: block;

        &:before {
          content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
          font-weight: bold;

          // optional stuff to make it look nicer
          width: 10em;
          display: inline-block;
          padding-right: 0.5em;
          // end options
        }
      }

      th, td {
        border-right: 0;
      }
    }

    // this must be applied to a wrapping element, not the table itself.
    .overflow-table {
      position: relative;

      &__inner {
        display: block;
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          height:12px;
        }
        &::-webkit-scrollbar-track {
          box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
          background:#f0f0f0;
        }
        &::-webkit-scrollbar-thumb {
          border-radius:6px;
          background:#ccc;
        }
      }

      &:after {
        display: block;
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        width: em(20px);
        height: 100%;
        background-image: linear-gradient(90deg, rgba($tables-color,0),  rgba($tables-color,0.75));
        border-right: $tables-width solid $tables-color;
      }

      table {
        min-width: 100%;
      }

    }
  }
}