a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {

  // If headings use the same family as the main document then don't bother
  // outputting this at all, otherwise output the chosen family
  @if $font-heading-family != $font-family {
    font-family: $font-heading-family;
  }

  @if $font-heading-weight != 700 {
    font-weight: $font-heading-weight;
  }

  // Set headings to match the body size, change them when necessary with
  // a utility class
  font-size: em(strip-unit($font-size), 16);
  line-height: $font-line-height / $font-size;
  @if $heading != $text {
    color: $heading;
  }
}

@if $code-style {
  code {
    background-color: $code-bg-color;
    border: unquote($code-border);
    border-radius: em($br-1);
    color: $code-text-color;
    display: inline-block;
    font-family: unquote($code-font-family);
    font-size: $code-font-size;
    padding: 0 em(5px);
    white-space: pre-wrap;
  }
}