a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  // Match document font size by default, overriding the browser defaults.
  font-size: (strip-unit($font-size) / 16) * 1em;
  // Match document line height, overriding the browser detauls.
  line-height: ($font-line-height / $font-size);
}

code {
  background-color: $code-bg-color;
  border: unquote($code-border);
  border-radius: em($br-1);
  color: $code-text-color;
  display: inline-block;
  font-family: $font-family--mono;
  font-size: $code-font-size;
  padding: 0 em(5px);
  white-space: pre-wrap;
}