{% extends "_layout.twig" %}

{% set title = "About Us" %}
{% set slug = "about" %}
{% set pageHeaderColor = "bg-secondary--dark" %}

{% block content %}

<div class="bg-white pad">
  <div class="site-container">

    <h2 data-bk="pad:rl" class="font-xl">{{ title }}</h2>

  </div>
</div>

{% endblock %}