.eq {
  width: 37.4px;
  height: 12px;
}

.facebook {
  width: 12px;
  height: 28px;
}

.googleplus {
  width: 28px;
  height: 28px;
}

.linkedin {
  width: 28px;
  height: 28px;
}

.twitter {
  width: 26px;
  height: 28px;
}

