@font-face {
	font-family: 'eqicons';
	src:url('../eqicons.eot?r6sblq');
	src:url('../eqicons.eot?#iefixr6sblq') format('embedded-opentype'),
		url('../eqicons.woff?r6sblq') format('woff'),
		url('../eqicons.ttf?r6sblq') format('truetype'),
		url('../eqicons.svg?r6sblq#eqicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'eqicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrowLeft:before {
	content: "\2190";
}
.icon-arrowRight:before {
	content: "\2192";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-email:before {
	content: "\f0e0";
}
.icon-search:before {
	content: "\f002";
}
.icon-email--outline:before {
	content: "\f003";
}
.icon-home:before {
	content: "\f015";
}
.icon-close:before {
	content: "\d7";
}
.icon-zoom:before {
	content: "\f00e";
}
.icon-pin:before {
	content: "\f041";
}
.icon-arrowUp:before {
	content: "\2191";
}
.icon-arrowDown:before {
	content: "\2193";
}
.icon-twitter--square:before {
	content: "\f081";
}
.icon-facebook--square:before {
	content: "\f082";
}
.icon-github--square:before {
	content: "\f092";
}
.icon-linkedin--square:before {
	content: "\f08c";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-phone:before {
	content: "\f095";
}
.icon-menu:before {
	content: "\f0c9";
}
.icon-quote--open:before {
	content: "\201c";
}
.icon-quote--close:before {
	content: "\201d";
}
.icon-arrowRight--circle:before {
	content: "\203a";
}
.icon-arrowLeft--circle:before {
	content: "\2039";
}
.icon-rss--square:before {
	content: "\f143";
}
.icon-tumblr--square:before {
	content: "\f174";
}
.icon-flickr--square:before {
	content: "\f16e";
}
.icon-instagram--square:before {
	content: "\f16d";
}
.icon-youtube:before {
	content: "\f16a";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-vimeo--square:before {
	content: "\f194";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-grid:before {
	content: "\f00a";
}
.icon-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\2713";
}
.icon-settings:before {
	content: "\f013";
}
.icon-login:before {
	content: "\f011";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-marked:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-query:before {
	content: "\3f";
}
.icon-info:before {
	content: "\f05a";
}
.icon-alert:before {
	content: "\21";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-trolley:before {
	content: "\f07a";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-arrowDown--thin:before {
	content: "\f107";
}
.icon-arrowUp--thin:before {
	content: "\f106";
}
.icon-arrowRight--thin:before {
	content: "\f105";
}
.icon-arrowLeft--thin:before {
	content: "\f104";
}
.icon-arrowRight--double:before {
	content: "\bb";
}
.icon-arrowLeft-double:before {
	content: "\ab";
}
.icon-googleplus--square:before {
	content: "\f0d4";
}
.icon-pinterest--square:before {
	content: "\f0d3";
}
.icon-return:before {
	content: "\f112";
}
.icon-open--square:before {
	content: "\f14d";
}
.icon-video:before {
	content: "\f03d";
}
.icon-image:before {
	content: "\f03e";
}
.icon-open:before {
	content: "\f045";
}
.icon-time:before {
	content: "\f017";
}
.icon-person:before {
	content: "\f007";
}
.icon-like:before {
	content: "\f087";
}
.icon-people:before {
	content: "\f0c0";
}
.icon-reload:before {
	content: "\f021";
}
.icon-code:before {
	content: "\f121";
}
.icon-phone--mobile:before {
	content: "\f10b";
}
.icon-download:before {
	content: "\f019";
}
.icon-required:before {
	content: "\2a";
}
.icon-chat:before {
	content: "\f086";
}
.icon-document:before {
	content: "\f0f6";
}
.icon-secure:before {
	content: "\f023";
}
.icon-upload:before {
	content: "\f093";
}
