{% extends "_layouts/_main.twig" %}

{% set title = "Set your page title" %}
{% set slug = "" %}

{% block content %}

  <div class="bg-white">
    <div class="site-container pad pad-lg">

      <div data-bk-layout="sm:9 md:8 lg:6" data-bk-links="primary underline-initial">

        <p class="pad-sm-b">See the <a href="/README.md">README</a> file.</p>

      </div>

    <form data-bk-layout="flex" class="bk-form">
      <label for="text">Website Search</label>

      <input data-bk-layout="fill" type="text" placeholder="Enter your search term" name="text" id="text">

      <button>Submit</button>
    </form>

    <div data-bk-layout="flex wrap">
      <div data-bk-layout="flex col sm:6 md:4">
        <h3 >Card Title</h3>


        <div data-bk-layout="fill p:0">
          <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <a href="#">Read more…</a>
        <img data-bk-layout="start p:0" src="https://via.placeholder.com/1000x450" alt>
      </div>

      <div data-bk-layout="flex col sm:6 md:4">
        <h3>Card Title</h3>

        <img data-bk-layout="start p:0" src="https://via.placeholder.com/1000x450" alt>

        <div data-bk-layout="fill p:0">
          <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <a href="#">Read more…</a>
      </div>

      <div data-bk-layout="flex col sm:6 md:4">
        <h3>Card Title</h3>

        <img data-bk-layout="start p:0" src="https://via.placeholder.com/1000x450" alt>

        <div data-bk-layout="fill p:0">
          <p>Maecenas faucibus mollis interdum.</p>
        </div>

        <a href="#">Read more…</a>
      </div>

      <div data-bk-layout="flex col sm:6 md:4">
        <h3 >Card Title</h3>

        <img src="https://via.placeholder.com/1000x450" alt>

        <div data-bk-layout="fill p:0">
          <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

         <a href="#">Read more…</a>
      </div>

      <div data-bk-layout="flex col sm:6 md:4">
        <h3>Card Title</h3>

        <img src="https://via.placeholder.com/1000x450" alt>

        <div data-bk-layout="fill p:0">
          <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

         <a href="#">Read more…</a>
      </div>

      <div data-bk-layout="flex col sm:6 md:4">
        <h3>Card Title</h3>

        <img src="https://via.placeholder.com/1000x450" alt>

        <div data-bk-layout="fill p:0">
          <p>Maecenas faucibus mollis interdum.</p>
        </div>

        <a href="#">Read more…</a>
      </div>
     </div>


    </div>
  </div>

{% endblock %}
