// A hacky fix to prevent iOS and other mobile browser from allowing the whole
// site to overflow horizontally thanks to the utility nav.
.hidden-x {
  overflow-x: hidden;
  position: relative;
}

.ofh {
  overflow: hidden;
}