
// Perfect tones
$color-primary: #3b668b !default;
$color-secondary: #f67280 !default;
$color-tertiary: #c9c27d !default;

// Cyber Punk
// $color-primary: #0270ad !default;
// $color-secondary: #bf358f !default;
// $color-tertiary: #71e0b1 !default;

// Saturated
// $color-primary: #4767db !default;
// $color-secondary: #f144ac !default;
// $color-tertiary: #45cd88 !default;

// Corporate Shill
// $color-primary: #3f51b5 !default;
// $color-secondary: #9575cd !default;
// $color-tertiary: #e6e7d4 !default;

// Beach Days
// $color-primary: #ff6f69 !default;
// $color-secondary: #ffcc5c !default;
// $color-tertiary: #88d8b0 !default#3b668b;


$color-grey: #ccc;

/// Set the body background colour here, if you want to add an image you should configure
/// the $color-body-media currently in settings/media.scss
$color-body: #1a1a1a;

/// Set the primary (body) text colour
$color-text: #333;

/// This is optional, you're better off using the color utility classes to set
/// the colour on headings unless there is very little variation in heading
/// colours.
$color-heading: $color-text;

/// Alert classes can be used anywhere but for now they're tied to
/// form alerts, set the colours here if you want to change them.
$alert: #fbf4b7 !default;
$alert--warn: #fed0d0 !default;
$alert--neutral: #cdddf4 !default;
$alert--positive: #cdf0cb !default;
$alert--muted: #e9e9e9 !default;

$colors: (
  primary: (
    base: $color-primary,
    // By mixing the colour with white we ensure that whatever the colour, it never becomes white. This can be a problem when using the lighten() function if the source colour is already quite light.
    lighter: mix($color-primary, white, 11%),
    light: mix($color-primary, white, 55%),
    // As with mixing a colour with white, the same goes for mixing with black.
    dark: mix($color-primary, black, 75%),
    darker: mix($color-primary, black, 50%)
  ),
  secondary: (
    base: $color-secondary,
    lighter: mix($color-secondary, white, 15%),
    light: mix($color-secondary, white, 55%),
    dark: mix($color-secondary, black, 75%),
    darker: mix($color-secondary, black, 50%)
  ),
  tertiary: (
    base: $color-tertiary,
    lighter: mix($color-tertiary, white, 20%),
    light: mix($color-tertiary, white, 55%),
    dark: mix($color-tertiary, black, 75%),
    darker: mix($color-tertiary, black, 50%)
  ),
  grey: (
    base: $color-grey,
    lighter: mix($color-grey, white, 20%),
    light: mix($color-grey, white, 60%),
    dark: mix($color-grey, black, 60%),
    darker: mix($color-grey, black, 40%)
  ),
  white: (
    base: white,
    tint: mix(black, white, 3%)
  ),
  black: (
    base: black,
    tint: mix(white, black, 10%)
  ),
  text: (
    base: $color-text
  ),
  body: (
    base: $color-body
  )
);
@function color($scheme, $tone: base) {
  @return map-get(map-get($colors, $scheme), $tone);
}


// Style up those table colours
$tables-color: color(grey, light);

// Code box styles
$code-bg-color: rgba(mix(white, black, 50%), 0.25);
$code-text-color: currentColor;