////
/// @group Settings
////

/// Primary Brand Colour
/// Set your primary brand colour.
$primary: #00739f;
/// **Light Variation:**
/// Tweak the `lighten` value to get the colour you want, or pull it out completely
/// if the designer has included a light colour value.
$primary--light: #009ec9;
/// **Dark Variation:**
/// Tweak the `darken` value to get the colour you want, or pull it out completely
/// if the designer has included a dark colour value.
$primary--dark: #004369;

$secondary: #c62b90;
$secondary--light: #cb6791;
$secondary--dark: #8f3c5e;

$tertiary: #bbb;
$tertiary--light: #f3f3f3;
$tertiary--dark: #333;

/// Grey is commonly used across all website designs, to simplify matters I've
/// included three default values which should cover most situations. Change the
/// actual values to specific colour values if CSS keyword values don't suit.
$grey: $tertiary;
$grey--light: $tertiary--light;
$grey--dark: $tertiary--dark;

/// Document Colours
///
/// The following colours are for standard elements commonly found
/// across any site or document.

/// Set the body background colour here, if you want to add an image you should configure
/// the $body-media currently in settings/media.scss
$body: #1a1a1a;

/// Set the primary (body) text colour
$text: #393939;

/// This is optional, you're better off using the color utility classes to set
/// the colour on headings unless there is very little variation in heading
/// colours.
$heading: $text;

/// Alert classes can be used anywhere but for now they're tied to
/// form alerts, set the colours here if you want to change them.
$alert-bg: #fbf4b7 !default;
$alert-border: darken($alert-bg, 35%) !default;
$alert-text: black !default;

$alert-bg--error: #fed0d0 !default;
$alert-border--error: darken($alert-bg--error, 12%) !default;
$alert-text--error: black !default;

$alert-bg--neutral: #cdddf4 !default;
$alert-border--neutral: darken($alert-bg--neutral, 15%) !default;
$alert-text--neutral: black !default;

$alert-bg--positive: #cdf0cb !default;
$alert-border--positive: darken($alert-bg--positive, 20%) !default;
$alert-text--positive: black !default;

$alert-bg--muted: #e9e9e9 !default;
$alert-border--muted: darken($alert-bg--muted, 12%) !default;
$alert-text--muted: black !default;
