$color-primary: #00739f !default;
$color-secondary: #c62b90 !default;
$color-tertiary: #71e0b1 !default;

$colors: (
  primary: (
    base: $color-primary,
    lighter: lighten($color-primary, 30%),
    light: lighten($color-primary, 10%),
    dark: darken($color-primary, 10%),
    darker: darken($color-primary, 18%)
  ),
  secondary: (
    base: $color-secondary,
    lighter: lighten($color-secondary, 30%),
    light: lighten($color-secondary, 10%),
    dark: darken($color-secondary, 10%),
    darker: darken($color-secondary, 25%)
  ),
  tertiary: (
    base: $color-tertiary,
    lighter: lighten($color-tertiary, 28%),
    light: lighten($color-tertiary, 10%),
    dark: darken($color-tertiary, 25%),
    darker: darken($color-tertiary, 40%)
  ),
  grey: (
    base: #ccc,
    lighter: lighten(#ccc, 15%),
    light: lighten(#ccc, 10%),
    dark: darken(#ccc, 30%),
    darker: darken(#ccc, 50%)
  ),
  white: (
    base: white,
    tint: mix(black, white, 3%)
  ),
  black: (
    base: black,
    tint: mix(white, black, 10%)
  ),
  text: (
    base: #333
  )
);

@function color($scheme, $tone: base) {
  @return map-get(map-get($colors, $scheme), $tone);
}

////
/// @group Settings
////

/// Primary Brand Colour
/// Set your primary brand colour.
// $primary: #00739f;
/// **Light Variation:**
/// Tweak the `lighten` value to get the colour you want, or pull it out completely
/// if the designer has included a light colour value.
// $primary--light: #009ec9;
/// **Dark Variation:**
/// Tweak the `darken` value to get the colour you want, or pull it out completely
/// if the designer has included a dark colour value.
// $primary--dark: #004369;

// $secondary: #c62b90;
// $secondary--light: #cb6791;
// $secondary--dark: #8f3c5e;

// $tertiary: #71e0b1;
// $tertiary--light: #caebdd;
// $tertiary--dark: #378162;

/// Grey is commonly used across all website designs, to simplify matters I've
/// included three default values which should cover most situations. Change the
/// actual values to specific colour values if CSS keyword values don't suit.
// $grey: #bbb;
// $grey--light: #f3f3f3;
// $grey--dark: #333;

/// Document Colours
///
/// The following colours are for standard elements commonly found
/// across any site or document.

/// Set the body background colour here, if you want to add an image you should configure
/// the $body-media currently in settings/media.scss
$body: #1a1a1a;

/// Set the primary (body) text colour
$text: color(text);

/// This is optional, you're better off using the color utility classes to set
/// the colour on headings unless there is very little variation in heading
/// colours.
$heading: $text;

/// Alert classes can be used anywhere but for now they're tied to
/// form alerts, set the colours here if you want to change them.
$alert-bg: #fbf4b7 !default;
$alert-border: darken($alert-bg, 35%) !default;
$alert-text: black !default;

$alert-bg--error: #fed0d0 !default;
$alert-border--error: darken($alert-bg--error, 12%) !default;
$alert-text--error: black !default;

$alert-bg--neutral: #cdddf4 !default;
$alert-border--neutral: darken($alert-bg--neutral, 15%) !default;
$alert-text--neutral: black !default;

$alert-bg--positive: #cdf0cb !default;
$alert-border--positive: darken($alert-bg--positive, 20%) !default;
$alert-text--positive: black !default;

$alert-bg--muted: #e9e9e9 !default;
$alert-border--muted: darken($alert-bg--muted, 12%) !default;
$alert-text--muted: black !default;

// Style up those table colours
$tables-color: #999;

// Code box styles
$code-bg-color: rgba(mix(white, black, 50%), 0.25);
$code-text-color: currentColor;