// The brand's primary colour
$primary: tomato;
$primary--light: lighten($primary, 15%);
$primary--dark: darken($primary, 20%);

// The brand's secondary colour
$secondary: dodgerblue;
$secondary--light: lighten($secondary, 15%);
$secondary--dark: darken($secondary, 20%);

// The brand's tertiary colour if one exists, if not then speak with the
// designer and choose something appropriate
$tertiary: lightgrey;
$tertiary--light: lighten($tertiary, 15%);
$tertiary--dark: darken($tertiary, 10%);

// Grey get's used a lot in projects so set three variations here. I've used
// CSS keywords by default but these are in no way fixed.
$grey-light: lightgrey;
$grey-mid: grey;
$grey-dark: dimgrey;

// Set the body colour here, if you want to add an image you should configure
// the $body-media currently in set.media.scss
$body: whitesmoke;

// Set the primary (body) text colour
$text: $grey-dark;

// This is optional, you're better off using the color utility classes to set
// the colour on headings unless there is very little variation in heading
// colours.
$heading: $text;

// Error colours should be something nice and impactful.
$alert-text: white;
$alert-bg: orangered;
// Set the following to null to prevent any CSS being needlessly compiled.
$alert-bg--neutral: dodgerblue;
$alert-bg--positive: limegreen;