$color-primary: #00739f !default;
$color-secondary: #c62b90 !default;
$color-tertiary: #71e0b1 !default;

$color-grey: #ccc;

/// Set the body background colour here, if you want to add an image you should configure
/// the $color-body-media currently in settings/media.scss
$color-body: #1a1a1a;

/// Set the primary (body) text colour
$color-text: #333;

/// This is optional, you're better off using the color utility classes to set
/// the colour on headings unless there is very little variation in heading
/// colours.
$color-heading: $color-text;

/// Alert classes can be used anywhere but for now they're tied to
/// form alerts, set the colours here if you want to change them.
$alert: #fbf4b7 !default;
$alert--error: #fed0d0 !default;
$alert--neutral: #cdddf4 !default;
$alert--positive: #cdf0cb !default;
$alert--muted: #e9e9e9 !default;

$colors: (
  primary: (
    base: $color-primary,
    lighter: lighten($color-primary, 30%),
    light: lighten($color-primary, 10%),
    dark: darken($color-primary, 10%),
    darker: darken($color-primary, 18%)
  ),
  secondary: (
    base: $color-secondary,
    lighter: lighten($color-secondary, 30%),
    light: lighten($color-secondary, 10%),
    dark: darken($color-secondary, 10%),
    darker: darken($color-secondary, 25%)
  ),
  tertiary: (
    base: $color-tertiary,
    lighter: lighten($color-tertiary, 28%),
    light: lighten($color-tertiary, 10%),
    dark: darken($color-tertiary, 25%),
    darker: darken($color-tertiary, 40%)
  ),
  grey: (
    base: $color-grey,
    lighter: lighten($color-grey, 15%),
    light: lighten($color-grey, 10%),
    dark: darken($color-grey, 30%),
    darker: darken($color-grey, 50%)
  ),
  white: (
    base: white,
    tint: mix(black, white, 3%)
  ),
  black: (
    base: black,
    tint: mix(white, black, 10%)
  ),
  text: (
    base: $color-text
  ),
  body: (
    base: $color-body
  ),
  alert: (
    base: $alert,
    dark: darken($alert, 35%)
  ),
  error: (
    base: $alert--error,
    dark: darken($alert--error, 12%)
  ),
  neutral: (
    base: $alert--neutral,
    dark: darken($alert--neutral, 15%)
  ),
  positive: (
    base: $alert--positive,
    dark: darken($alert--muted, 12%)
  )
);
@function color($scheme, $tone: base) {
  @return map-get(map-get($colors, $scheme), $tone);
}


// Style up those table colours
$tables-color: color(grey, light);

// Code box styles
$code-bg-color: rgba(mix(white, black, 50%), 0.25);
$code-text-color: currentColor;