// Output default form styles.
// Found in core/global.forms.scss
$form-default-css: true;

// Enable and configure a default border around fieldsets.
$form-fieldset-border: true;
$form-fieldset-color: $grey;
$form-fieldset-size: 1px;

// Ouput default CSS for key form features.
$form-legend-style: true;
$form-optgroup-style: true;
$form-search-decoration-style: true;

// Define a default min-height for textarea fields.
$form-textarea-min-height: 160px;

// Ouput CSS to nicely style form error messages.
// Found in core/utility.error.scss
$form-error-css: true;
// Define the error class name.
$form-error-name: alert;
// Optional inline block modifier class.
$alert-inline-block: true;