// Enable hider utility.
$hidden-css: true;
$hidden-responsive: true;

// Enable utility to hide text (not responsive)
$hide-text-css: true;

// Enable hider class for js and no js situations
$js-hide: true;
$js-hide-text: true;