// Enable the border radius utility class.
$border-radius-css: true;

// Name the utility class.
$border-radius-name: brad;

// Define your various modifiers.
// `null` is required for the default class.
$border-radius-settings: (
  null: (radius: 0.3em),
  small: (radius: 0.5em),
  large: (radius: 1em),
  round: (radius: 2000px)
);