// Completely enable or disable the @font-face CSS.
$icon-font-face: true;

// @font-face icon name for use through your CSS.
$icon-font-face-name: eqicons;

// The file path and name of the font files (files they must be the same name).
// Note there is no / at the start and no file extension on the file name.
$icon-font-face-path-file-name: "icon-font/eqicons";

// Enable and configure the icon class for use throughout HTML.
$icon-class: true;
$icon-class-name: icon;
$icon-line-size: 0.8em;
$icon-line-height: 1;
$icon-vert-align: baseline;

// Enable this if you want to use fancy text ligature icons.
// For example `<span class="icon">Twitter</icon>` will show a Twitter icon and
// not the text name.
$icon-ligatures: true;