// By default BaseKit will use the system native font depending on that platform
// More info: https://woorkup.com/system-font/
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'arial', sans-serif;

$font-family--serif: georgia, 'nimbus roman no9 l', freeserif, times, 'times new roman', serif;
$font-family--mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Define the base font size. This is important, get it right.
$font-size: 16px;

// Define the primary line height.
$font-line-height: 24px;

// Define the base font weight, this probably won't change.
$font-weight: 400;

// Set a default bottom margin size for consistency across text elements.
$font-default-bottom-margin: $margin;

// Output the font utility class.
$font-css: true;

// Define when the max font size should kick in, this is a bit like $font-config
// but should rarely be changed.
$font-viewport-unit-max-width: $max-width + 0px;

// Output the bullet and numbered utility classes
$list-css: true;

// Configure the list utility class
$list-bullet: "disc";
$list-bullet-position: "outside";
$list-number: "decimal-leading-zero";
$list-number-position: "outside";

// Output a small utility class that allows text to be limited with an ellipsis.
$overflow-ellipsis-css: true;

// Output style for <code>
$code-style: true;

// Style up those tables
$tables-width: 1px;
$tables-responsive: true;
$tables-overflow: true;
$tables-responsive-bp: s;

// Code box styles
$code-border: '1px solid ' + rgba(mix(white, black, 50%), 0.75); // or just  "0";
$code-font-family: $font-family--mono;
$code-font-size: 87.5%;


$font-mq-min: 320px;
$font-mq-max: ($max-width * 1px);
$fluid-fonts: (
  // m: (
  //   minSize: 20px,
  //   maxSize: 22px,
  //   lineHeight: (21px / $font-size),
  //   mqMin: $font-mq-min,
  //   mqMax: $font-mq-max,
  // ),
  l: (
    minSize: 26px,
    maxSize: 32px,
    lineHeight: (18px / $font-size),
    mqMin: $font-mq-min,
    mqMax: $font-mq-max,
  ),
  xl: (
    minSize: 32px,
    maxSize: 44px,
    lineHeight: (17px / $font-size),
    mqMin: $font-mq-min,
    mqMax: $font-mq-max,
  ),
  xxl: (
    minSize: 44px,
    maxSize: 62px,
    lineHeight: (16px / $font-size),
    mqMin: $font-mq-min,
    mqMax: $font-mq-max,
  ),
  hero: (
    minSize: 52px,
    maxSize: 92px,
    lineHeight: (16px / $font-size),
    mqMin: $font-mq-min,
    mqMax: $font-mq-max,
  )
);

@function ffont($name, $value) {
  @return map-get(map-get($fluid-fonts, nth($name, 1)), $value);
}