// Set your primary font family, obvs :)
// If you need a serif stack use something like the following:
// georgia, times, "times new roman", "nimbus roman no9 l", freeserif, serif
$font-family: helvetica, arial, helmet, freesans, "numbus sans l", verdana, sans-serif;

// Define the base font size. This is important, get it right.
$font-size: 16px;

// Define the primary line height.
$font-line-height: 20px;

// Define the base font weight, this probably won't change.
$font-weight: 400;

// Should the base font size be a little smaller on small screens? If so,
// define it here.
$font-size-small-screen: 14px;

// Define the base heading family and weight.
$font-heading-family: $font-family;
$font-heading-weight: 700;

// Set a default bottom margin size for consistency across text elements.
$font-default-bottom-margin: $margin * 1.5;

// Output the font utility class.
$font-css: true;

// Configure font sizing within utility class.
// Each first level key is used in the utility class as a modifier (e.g. xl is
// a .font--xl class).
//
// Size, min, max, fallback, dimensions and breakpoint are all required values.
// Custom can contain custom values; color, line-height, etc.
//
// Key values:
// - size: the default or base size at this level
// - min: lock the font to this minimum value
// - max: lock the font to this maximum value
// - fallback: a fallback size for browsers that don't support vw or vh units
// - dimension: either vw (viewport width) or vh (viewport height)
// - breakpoint: when should the min value kick in?
// - custom: define normal css properties and values here
$font-config: (
  s: (
    size: 13px,
    min: 13px,
    max: 13px,
    fallback: 13px,
    dimension: vw,
    breakpoint: desk
  ),
  m: (
    size: 20px,
    min: 18px,
    max: 20px,
    fallback: 20px,
    dimension: vw,
    breakpoint: lap
  ),
  l: (
    size: 24px,
    min: 18px,
    max: 24px,
    fallback: 24px,
    dimension: vw,
    breakpoint: lap,
    custom: (
      line-height: 1.25
    )
  ),
  xl: (
    size: 32px,
    min: 24px,
    max: 32px,
    fallback: 32px,
    dimension: vw,
    breakpoint: hands,
    custom: (
      line-height: 1.05,
      text-rendering: optimizeLegibility,
      font-feature-settings: "kern" 1,
      font-kerning: normal
    )
  ),
  xxl: (
    size: 60px,
    min: 32px,
    max: 60px,
    fallback: 60px,
    dimension: vw,
    breakpoint: hands,
    custom: (
      line-height: 1.025,
      text-rendering: optimizeLegibility,
      font-feature-settings: "kern" 1,
      font-kerning: normal
    )
  )
);

// Define when the max font size should kick in, this is a bit like $font-config
// but should rarely be changed.
$font-viewport-unit-max-width: $max-width + 0px;

// Output the bullet and numbered utility classes
$list-css: true;

// Configure the list utility class
$list-bullet: "disc";
$list-bullet-position: "outside";
$list-number: "decimal-leading-zero";
$list-number-position: "outside";

// Output a small utility class that allows text to be limited with an ellipsis.
$overflow-ellipsis-css: true;

// Output style for <code>
$code-style: true;