// By default BaseKit will use the system native font depending on that platform.
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-family--serif: georgia, times, "times new roman", "nimbus roman no9 l", freeserif, serif;

// Define the base font size. This is important, get it right.
$font-size: 16px;

// Define the primary line height.
$font-line-height: 24px;

// Define the base font weight, this probably won't change.
$font-weight: 400;

// Should the base font size be a little smaller on small screens? If so,
// define it here.
$font-size-small-screen: 14px;

// Define the base heading family and weight.
$font-heading-family: $font-family;
$font-heading-weight: 700;

// Set a default bottom margin size for consistency across text elements.
$font-default-bottom-margin: $margin * 1.5;

// Output the font utility class.
$font-css: true;

// Define when the max font size should kick in, this is a bit like $font-config
// but should rarely be changed.
$font-viewport-unit-max-width: $max-width + 0px;

// Output the bullet and numbered utility classes
$list-css: true;

// Configure the list utility class
$list-bullet: "disc";
$list-bullet-position: "outside";
$list-number: "decimal-leading-zero";
$list-number-position: "outside";

// Output a small utility class that allows text to be limited with an ellipsis.
$overflow-ellipsis-css: true;

// Output style for <code>
$code-style: true;

// Style up those tables
$tables-width: 1px;
$tables-color: #999;
$tables-responsive: true;
$tables-overflow: true;
$tables-responsive-bp: palm;

$code-bg-color: $primary;
$code-border: "0"; // '1px solid ' + $primary--dark;
$code-text-color: white;
$code-font-family: '"SFMono-Regular", Monaco, Menlo, Consolas, "Courier New", monospace';
$code-font-size: 87.5%;