// Output the user-content utility class css.
$user-content-css: true;

// Set the class name for use in HTML.
$user-content-name: user-content;

// Fix up images that may be within paragraphs or list items.
$user-content-inline-images: true;