// Output the rte utility class css.
$rte-css: true;

// Set the class name for use in HTML.
$rte-name: rte;

// Fix up images that may be within paragraphs or list items.
$rte-inline-images: true;

// Output debugging class
$rte-debugging: true;