// Tweaked version of the standard cols and colspan functions.
//
@function bk-pp-colspan($input: $columns, $parent: $max-width) {
  @return pct($column-width * $input + $gutter * $input, $parent);
}

@mixin grid-indent($gw-value: null) {

  // PUSH RIGHT
  @if $bk-push-right {
    @for $i from 1 through $bk-push-columns {
      @include attr-module($bk-grid-name, #{$gw-value}#{"pr:"}#{$i}) {
        margin-left: bk-pp-colspan($i);
      }
    }
  }
  // PUSH LEFT
  @if $bk-push-left {
    @for $i from 1 through $bk-push-columns {
      @include attr-module($bk-grid-name, #{$gw-value}#{"pl:"}#{$i}) {
        margin-right: bk-pp-colspan($i);
      }
    }
  }

}
