@mixin grid-gutters($gg-value: null) {

  // Reduce the gutte size on the module
  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:small"}) {
    @include rem(padding, px($bk-grid-gutter-small));
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:large"}) {
    @include rem(padding, px($bk-grid-gutter-large));
  }

  // Disable gutter completely on the module
  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:0"}) {
    padding: 0;
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:t"}) {
    padding: {
      right: 0;
      bottom: 0;
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:tr"}) {
    padding: {
      bottom: 0;
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:tb"}) {
    padding: {
      right: 0;
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:tl"}) {
    padding: {
      right: 0;
      bottom: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:trb"}) {
    padding: {
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:r"}) {
    padding: {
      top: 0;
      bottom: 0;
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:rb"}) {
    padding: {
      top: 0;
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:rl"}) {
    padding: {
      top: 0;
      bottom: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:rbl"}) {
    padding: {
      top: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:b"}) {
    padding: {
      top: 0;
      right: 0;
      left: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:bl"}) {
    padding: {
      top: 0;
      right: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:tbl"}) {
    padding: {
      right: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:l"}) {
    padding: {
      top: 0;
      right: 0;
      bottom: 0;
    };
  }

  @include attr-module(unquote($bk-grid-name), #{$gg-value}#{"gtr:trl"}) {
    padding: {
      bottom: 0;
    };
  }

}
