@if $padding-spacer-css {

  .#{$padding-spacer-name} {

    // If percentage spacing is set in the compile options use %, otherwise
    // default to rem sizing
    @if $padding-spacer-is-percentage {
      $padding-spacer: strip-unit($padding-spacer-size) / $max-width * 100%;
    } @else {
      $padding-spacer: rem($padding-spacer-size);
    }

    &,
    &--top {
      padding-top: $padding-spacer!important;
    }

    &,
    &--bottom {
      padding-bottom: $padding-spacer!important;
    }

    &--small {
      &,
      &--top {
        padding-top: $padding-spacer / 2!important;
      }

      &,
      &--bottom {
        padding-bottom: $padding-spacer / 2!important;
      }
    }

    &--large {
      &,
      &--top {
        padding-top: $padding-spacer * 2!important;
      }

      &,
      &--bottom {
        padding-bottom: $padding-spacer * 2!important;
      }
    }

    // Set max dimensions to prevent huge spaces at large screen sizes
    @if $padding-spacer-is-percentage == true {

      @include mq(px($max-width)) {

        &,
        &--top {
          padding-top: rem($padding-spacer-size)!important;
        }

        &,
        &--bottom {
          padding-bottom: rem($padding-spacer-size)!important;
        }

        &--small {
          &,
          &--top {
            padding-top: rem($padding-spacer-size / 2)!important;
          }

          &,
          &--bottom {
            padding-bottom: rem($padding-spacer-size / 2)!important;
          }
        }

        &--large {
          &,
          &--top {
            padding-top: rem($padding-spacer-size * 2)!important;
          }

          &,
          &--bottom {
            padding-bottom: rem($padding-spacer-size * 2)!important;
          }
        }

      }
    }
  }

}