@if $user-content-css {

  .#{unquote($user-content-name)} {

    p:not(:last-of-type) {
      margin-bottom: rem(px($font-default-bottom-margin));
    }

    @if $user-content-inline-images {
      p, li {
        img {
          @include inline-block(middle);
        }
      }
    }

    ul {
      margin-left: rem(17px);
      margin-bottom: rem(px($font-default-bottom-margin));
      & > li {
        list-style: disc outside none;
      }
      & ul {
        margin-bottom: 0;
      }
    }

    ol {
      margin-left: rem(30px);
      margin-bottom: rem(px($font-default-bottom-margin));
      & > li {
        list-style: decimal-leading-zero outside none;
      }
      & ol {
        margin-bottom: 0;
      }
    }
  }

}