@if $display-css {

  .display {
    &--block {
      display: block;
    }

    &--inline {
      display: inline;

      &-block {
        display: inline-block;
      }
    }

    &--table {
      display: table;
    }
  }

}
