@if $link-scope-css {

  @each $link, $linkVal in $links {

    $emphasize: map-get($linkVal, emphasize);
    $emphasize-hover: map-get($linkVal, emphasize-hover);

    .#{unquote($link-scope-name)}#{if($link, "--#{$link}", "")} {
      a {
        color: map-get($linkVal, color);
        @if $emphasize {
          font-weight: unquote($emphasize);
        }

        // Only output on the base level link style
        @if $link == null {
          transition: color $speed-normal ease;
        }

        $custom: map-get($linkVal, custom);
        @each $custom-name, $custom-name-value in $custom {
          #{$custom-name}: $custom-name-value;
        }
      }
      a:hover,
      a:focus {
        color: map-get($linkVal, color-hover);
        @if $emphasize-hover {
          font-weight: unquote($emphasize-hover);
        }

        $custom-hover: map-get($linkVal, custom-hover);
        @each $custom-name-hover, $custom-name-hover-value in $custom-hover {
          #{$custom-name-hover}: $custom-name-hover-value;
        }
      }
    }

  }
}