@if $display-css {

  @if $display-block-class {
    .block {
      display: block;
    }
  }

  @if $display-inline-class  {
    .inline {
      display: inline;
    }
  }

  @if $display-inline-block-class  {
    .inline-block {
      display: inline-block;
    }
  }

  @if $display-table-class  {
    .table {
      display: table;
    }
  }

}
