@if $margin-css {

  .margin {

    // margin: rem(px($margin));

    &--0 {
      margin: 0;
    }

    &--t {
      margin-top: rem(px($margin));
    }

    &--r {
      margin-right: rem(px($margin));
    }

    &--b {
      margin-bottom: rem(px($margin));
    }

    &--l {
      margin-left: rem(px($margin));
    }

    &--tb {
      margin-top: rem(px($margin));
      margin-bottom: rem(px($margin));
    }

    &--rl {
      margin-right: rem(px($margin));
      margin-left: rem(px($margin));
    }

    &--auto {
      margin-left: auto;
      margin-right: auto;
    }

  }

}