// Apply only until the specified point so we don't have to reset anything later on
@include mq($until: $nav-switch-point) {

  // Absolute position the nav over content
  .nav-primary-layout {
    .no-js & {
      width: 100% !important;

      li {
        display: inline-block;
        width: auto;
      }
    }

    .js & {
      border-radius: 3px;
      box-shadow: 0 12px 38px -8px rgba(black, 0.75);
      max-width: 400px;
      overflow: hidden;
      position: absolute;
      right: 4%;
      top: 100%;
      width: 92%;
      z-index: $z-mobile-nav;

      // Also make the content full width
      .nav-primary {
        background-color: $sm-bk__desktop-bg;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        // Prepare the transition for the active class
        // transition: visibility 0.5s ease-in-out, max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        visibility: hidden;

        &.is-active {
          opacity: 1;
          max-height: 2000px;
          visibility: visible;
        }
      }

      // Main menu items separators
      li:not(:first-child) {
        border-top: 1px solid color(primary);
      }
    }
  }
}

// Desktop Nav, essentially
@include mq($nav-switch-point) {
  // Get rid of the hamburger at larger screen sizes
  .nav-toggler-wrapper {
    display: none;
  }

  .nav-primary {
    // The top level nav list
    > ul {
      > li {
        display: inline-block;
        vertical-align: middle;
        width: auto;
      }
      ul {
        background-color: $sm-bk__desktop-bg;
      }
    }
  }
}