// We also want the font scaling to stop when the site hits its max width.
$fluid-font-mq-max: ($max-width * 1px);

$fluid-fonts: (
  l: (
    minSize: 26px,
    maxSize: 32px,
    lineHeight: 1.2,
    mqMin: 320px,
    mqMax: $fluid-font-mq-max,
  ),
  xl: (
    minSize: 32px,
    maxSize: 44px,
    lineHeight: 1.175,
    mqMin: 320px,
    mqMax: $fluid-font-mq-max,
  ),
  xxl: (
    minSize: 44px,
    maxSize: 62px,
    lineHeight: 1.15,
    mqMin: 320px,
    mqMax: $fluid-font-mq-max,
  ),
  hero: (
    minSize: 52px,
    maxSize: 92px,
    lineHeight: 1.05,
    mqMin: 320px,
    mqMax: $fluid-font-mq-max,
  )
);

// Function to take the above and spit it out as CSS.
@function ffont($name, $value) {
  @return map-get(map-get($fluid-fonts, nth($name, 1)), $value);
}

@function vp($target, $context: $max-width, $dimension: vw) {
  $vw-context: ($context * 0.01) * 1px;
  @if $dimension == vw {
    @return ($target / $vw-context) * 1vw;
  } @else {
    @return ($target / $vw-context) * 1vh;
  }
}

// Text and Font Styles
// —————————————————————————————————————————————————————————————————————————————
//
.font {
  // Small font size doesn't need to be fancy responsive, just a tweak is enough.
  &-xs {
    font-size: rem($font-size - 4);
    line-height: 1.6;
  }

  &-s {
    font-size: rem($font-size - 2);
    line-height: 1.6;
  }

  &-n {
    font-size: rem($font-size);
  }

  &-m {
    font-size: rem(22px);
    line-height: 1.4;
  }

  @each $font in $fluid-fonts {
    &-#{nth($font, 1)} {
      @include poly-fluid-sizing("font-size", (ffont($font, mqMin): ffont($font, minSize), ffont($font, mqMax): ffont($font, maxSize)));
      line-height: ffont($font, lineHeight);
    }
  }

  &-alt {
    font-family: $font-family--serif;
  }

  &-light {
    font-weight: 200;
  }

  &-normal {
    font-weight: 400;
  }

  &-bold {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }

  &-upper {
    text-transform: uppercase;
  }

  &-kern {
    font-kerning: normal !important;
  }

  // &-m {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 18px, 22px);
  //   line-height: (20 / 16);
  // }
  //
  // &-l {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 22px, 26px);
  //   line-height: (19 / 16);
  // }
  //
  // &-xl {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 30px, 36px);
  //   line-height: (18 / 16);
  // }
  //
  // &-xxl {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 36px, 54px);
  //   line-height: (17 / 16);
  // }
  //
  // &-hero {
  //   @include fluid-type(font-size, 320px, $max-width + 0px, 30px, 70px);
  //   line-height: (16 / 16);
  // }
  //
  // &-default {
  //   font-family: $font-family;
  // }
}