{% extends "_layout.twig" %}

{% set title = "Layout Grid" %}
{% set slug = "layout" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint lighter pad" id="layout-intro">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Basekit's grid system is a faux-grid built on CSS <em>inline-block</em> and uses the <em>data</em> attribute rather than classes.</p>

        <p>Once white space has been removed, inline-block provides the flexibility and robustness that floats do not. Inline-block items can be vertically aligned and flow more consistently.</p>

        <p>The data attribute allows us to almost fully separate the layout styles from other CSS and classes.</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 75 } %}

    </section>
  </div>

  <div class="bg-white pad" id="grid">
    <section class="site-container">

      <div data-bk-layout="lap:7" class="rte">
        <h2 class="font-xl">The Grid</h2>

        <p>By default BaseKit is based on the common 12 column layout, this provides great flexibility and ease of use. However you can create layouts from as many or as few columns as you wish.</p>

        <p>Unlike Bootstrap and some other systems, there are no "tiers". If you want a four column grid at small screen size simply fake it by using three columns for each small screen column.</p>
      </div>

      <ul class="color-white">
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>

        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>

        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>

        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>
        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>
        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>

        <li data-bk-layout="6">
          <span data-bk-layout class="bg-primary align-c">6</span>
        </li>
        <li data-bk-layout="6">
          <span data-bk-layout class="bg-primary align-c">6</span>
        </li>

        <li data-bk-layout="7">
          <span data-bk-layout class="bg-primary align-c">7</span>
        </li>
        <li data-bk-layout="5">
          <span data-bk-layout class="bg-primary align-c">5</span>
        </li>

        <li data-bk-layout="12">
          <span data-bk-layout class="bg-primary align-c">12</span>
        </li>

        <li data-bk-layout="11">
          <span data-bk-layout class="bg-primary align-c">11</span>
        </li>

        <li data-bk-layout="10">
          <span data-bk-layout class="bg-primary align-c">10</span>
        </li>

        <li data-bk-layout="9">
          <span data-bk-layout class="bg-primary align-c">9</span>
        </li>

        <li data-bk-layout="8">
          <span data-bk-layout class="bg-primary align-c">8</span>
        </li>
      </ul>
    </section>
  </div>

  <div class="bg-white--tint pad" id="push-pull">
    <section class="site-container">
      <div data-bk-layout="lap:7" class="rte">
        <h3 class="font-l">Indenting (Pushing/Pulling)</h3>

        <p>Make use of the <code>pr</code> and <code>pl</code> attrubute values to push and pull blocks of content. Unlike padding, push and pull use margins</p>
      </div>

      <ul class="color-white">
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">No Push</span>
        </li>
        <li data-bk-layout="2  pr:1">
          <span data-bk-layout class="bg-primary align-c">Push Right 1</span>
        </li>
        <li data-bk-layout="4  pr:3">
          <span data-bk-layout class="bg-primary align-c">Push Right 3</span>
        </li>
        <li data-bk-layout="pr:3 4">
            <span data-bk-layout="pad:tb" class="bg-primary align-c">Push Right 3</span>
        </li>
      </ul>
    </section>
  </div>


  <div class="bg-white pad" id="alignment">
    <section class="site-container">
      <div data-bk-layout>
        <h3 class="font-l margin-b">Vertical Align Middle</h3>

        <ul data-bk-layout="pad:0  middle" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <div data-bk-layout>
        <h3 class="font-l margin-b">Vertical Align Bottom</h3>

        <ul data-bk-layout="pad:0  bottom" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <div data-bk-layout>
        <h3 class="font-l margin-b">Align Right + Vertical Align Bottom</h3>

        <ul data-bk-layout="pad:0 right bottom" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <div data-bk-layout>
        <h3 class="font-l margin-b">Align Center + Vertical Align Middle</h3>

        <ul data-bk-layout="pad:0 middle  center" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <div data-bk-layout>
        <h3 class="font-l margin-b">Single Item Alignment</h3>

        <ul class="bg-grey--lighter color-white">
          <li data-bk-layout="3">
            <span data-bk-layout class="bg-primary align-c">Default<br><br><br><br><br><br></span>
          </li>
          <li data-bk-layout="2  self-bottom">
            <span data-bk-layout class="bg-primary align-c">Bottom</span>
          </li>
          <li data-bk-layout="2  self-top">
            <span data-bk-layout class="bg-primary align-c">Top</span>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="bg-white--tint pad" id="padding">
    <section class="site-container">

      <div data-bk-layout class="rte">
        <h3 class="font-l">Padding</h3>
        <p>Background colour indicated where the padding has been applied.</p>
      </div>

      <ul data-bk-layout="middle  pad:0">
        <li data-bk-layout="3">
          <img data-bk-layout="pad:t" class="bg-primary" src="http://placehold.it/600x400?text=t" alt="Top">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:tr" class="bg-primary" src="http://placehold.it/600x400?text=tr" alt="Top Right">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:tb" class="bg-primary" src="http://placehold.it/600x400?text=tb" alt="Top Bottom">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:tl" class="bg-primary" src="http://placehold.it/600x400?text=tl" alt="Top Left">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:b" class="bg-primary" src="http://placehold.it/600x400?text=b" alt="Bottom">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:bl" class="bg-primary" src="http://placehold.it/600x400?text=bl" alt="Bottom Left">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:rl" class="bg-primary" src="http://placehold.it/600x400?text=rl" alt="Right Left">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:rb" class="bg-primary" src="http://placehold.it/600x400?text=rb" alt="Right Bottom">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:r" class="bg-primary" src="http://placehold.it/600x400?text=r" alt="Right">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:l" class="bg-primary" src="http://placehold.it/600x400?text=l" alt="Left">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:trb" class="bg-primary" src="http://placehold.it/600x400?text=trb" alt="Top Right Bottom">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:rbl" class="bg-primary" src="http://placehold.it/600x400?text=rbl" alt="Right Bottom Left">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:tbl" class="bg-primary" src="http://placehold.it/600x400?text=tbl" alt="Top Bottom Left">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:trl" class="bg-primary" src="http://placehold.it/600x400?text=trl" alt="Top Right Left">
        </li>
      </ul>
    </section>
  </div>


  <div class="bg-white pad" id="padding-size">
    <section class="site-container">
      <div data-bk-layout="lap:7" class="rte">
        <h3 class="font-l">Padding Sizes</h3>

        <p>There are three sizes of padding, the default value and small and large values. These can be configured via the BaseGrid variables.</p>
        <p>Small padding is particularly useful if you want to combine the padding/gutters of a container as well as the child while maintaining the standard padding/gutter size.</p>
      </div>

      <ul data-bk-layout="middle  pad:0">
        <li data-bk-layout="3">
          <img data-bk-layout="pad:small" class="bg-primary" src="http://placehold.it/600x400?text=small" alt="Small Padding">
        </li>
        <li data-bk-layout="3">
          <img data-bk-layout="pad:large" class="bg-primary" src="http://placehold.it/600x400?text=large" alt="Large Padding">
        </li>
      </ul>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}