{% extends "_layout.twig" %}

{% set title = "Layout" %}
{% set slug = "layout" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint lighter pad" id="layout-intro">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Basekit layout system is based on a ”faux grid” idea and built with CSS <em>inline-block</em>. Rather than classes it is applied through the <em>data</em> attribute.</p>

        <p>Once HTML white-space has been removed, inline-block provides the flexibility and robustness that floats cans truggle with. Inline-block items can be vertically aligned and flow more consistently. The data attribute allows greater separation of layout styles from other CSS and classes, it also avoids cramming lots of stuff into the class attribute.</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 75 } %}

    </section>
  </div>

  <div class="bg-white pad" id="grid">
    <section class="site-container">

      <h3 data-bk-layout="pad:trl" class="font-l">The Grid</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>By default BaseKit is based on the common twelve column layout, this provides a great flexibility when dividing the grid into columns. However Basekit is not resticted to any number of columns.</p>

        <p>The ”faux grid” idea mentioned above relates to there being one grid across all screen size (there are no ”tiers” as seen in other frameworks). If you want a four column grid at small screen size simply <i>fake</i> it by using three columns for each small screen column.</p>

        <p><strong>You define layout content by defining how many columns it should span:</strong></p>
      </div>

      <ul class="color-white pad-b">
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>
        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>

        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>
        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>

        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>

        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>
        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>
        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>

        <li data-bk-layout="6">
          <span data-bk-layout class="bg-primary align-c">6</span>
        </li>
        <li data-bk-layout="6">
          <span data-bk-layout class="bg-primary align-c">6</span>
        </li>

        <li data-bk-layout="12">
          <span data-bk-layout class="bg-primary align-c">12</span>
        </li>
      </ul>

      <ul class="color-white pad-t">
        <li data-bk-layout="11">
          <span data-bk-layout class="bg-primary align-c">11</span>
        </li>

        <li data-bk-layout="1">
          <span data-bk-layout class="bg-primary align-c">1</span>
        </li>

        <li data-bk-layout="10">
          <span data-bk-layout class="bg-primary align-c">10</span>
        </li>

        <li data-bk-layout="2">
          <span data-bk-layout class="bg-primary align-c">2</span>
        </li>

        <li data-bk-layout="9">
          <span data-bk-layout class="bg-primary align-c">9</span>
        </li>

        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">3</span>
        </li>

        <li data-bk-layout="8">
          <span data-bk-layout class="bg-primary align-c">8</span>
        </li>

        <li data-bk-layout="4">
          <span data-bk-layout class="bg-primary align-c">4</span>
        </li>

        <li data-bk-layout="7">
          <span data-bk-layout class="bg-primary align-c">7</span>
        </li>

        <li data-bk-layout="5">
          <span data-bk-layout class="bg-primary align-c">5</span>
        </li>
      </ul>
    </section>
  </div>

  <div class="bg-white--tint pad" id="push-pull">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Push Right &amp; Left</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>The <code>pr:</code> and <code>pl:</code> values allow you to push blocks towards the right or left.</p>
      </div>

      <ul class="color-white">
        <li data-bk-layout="2 pr:1">
          <span data-bk-layout class="bg-primary align-c">pr:1</span>
        </li>
        <li data-bk-layout="3">
          <span data-bk-layout class="bg-primary align-c">No push</span>
        </li>
        <li data-bk-layout="4 pr:2">
          <span data-bk-layout class="bg-primary align-c">pr:2</span>
        </li>
        <li data-bk-layout="4 pr:3">
            <span data-bk-layout="pad:tb" class="bg-primary align-c">pr:3</span>
        </li>
      </ul>
    </section>
  </div>


  <div class="bg-white pad" id="alignment">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Vertical Align Middle</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>In <code>data-bk-layout</code> simply specify <code>middle</code> to aling items along the middle.</p>
      </div>

      <div data-bk-layout>
        <ul data-bk-layout="pad:0  middle" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <h3 data-bk-layout="pad:trl" class="font-l">Vertical Align Bottom</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>In <code>data-bk-layout</code> specify <code>bottom</code> to aling items to the bottom.</p>
      </div>

      <div data-bk-layout>
        <ul data-bk-layout="pad:0  bottom" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <h3 data-bk-layout="pad:trl" class="font-l">Align Right + Vertical Align Bottom</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>In <code>data-bk-layout</code> specify <code>right bottom</code> to aling items to the right and bottom.</p>
      </div>

      <div data-bk-layout>
        <ul data-bk-layout="pad:0 right bottom" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <h3 data-bk-layout="pad:trl" class="font-l">Align Center + Vertical Align Middle</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>In <code>data-bk-layout</code> specify <code>middle center</code> to aling items this way.</p>
      </div>

      <div data-bk-layout>
        <ul data-bk-layout="pad:0 middle  center" class="bg-grey--lighter">
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br></span>
          </li>
          <li data-bk-layout="2">
            <span data-bk-layout class="bg-primary align-c"><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <div data-bk-layout class="margin-b">
        <p class="alert alert--simple">
          And so on, you can use <code>top</code>&nbsp;<code>middle</code>&nbsp;<code>center</code>&nbsp;<code>bottom</code>&nbsp;<code>right</code>&nbsp;<code>left</code> across all the breakpoints.
        </p>
      </div>

      <h3 data-bk-layout="pad:trl" class="font-l">Single Item Alignment</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>To position one particular item to the bottom specify <code>self-bottom</code>in <code>data-bk-layout</code>. <strong>Currently this only works for bottom alignment</strong>.</p>
      </div>

      <div data-bk-layout>
        <ul class="bg-grey--lighter">
          <li data-bk-layout="3">
            <span data-bk-layout class="bg-grey align-c">Normal<br><br><br><br><br><br><br><br></span>
          </li>
          <li data-bk-layout="3  self-bottom">
            <span data-bk-layout class="bg-primary color-white align-c">Bottom</span>
          </li>
          <li data-bk-layout="3">
            <span data-bk-layout class="bg-grey align-c">Normal<br><br><br><br><br><br><br><br></span>
          </li>
        </ul>
      </div>

      <div data-bk-layout="lap:7" class="rte">
        <p>Single item alignment will override any other alignment settings. Below the container specifies a <code>middle center</code> alignment but the second item is forced to the bottom.</p>
      </div>

      <div data-bk-layout>
        <ul class="bg-grey--lighter" data-bk-layout="pad:0 middle center">
          <li data-bk-layout="3">
            <span data-bk-layout class="bg-grey align-c">Normal<br><br><br><br><br><br><br><br></span>
          </li>
          <li data-bk-layout="3  self-bottom">
            <span data-bk-layout class="bg-primary color-white align-c">Bottom</span>
          </li>
          <li data-bk-layout="3">
            <span data-bk-layout class="bg-grey align-c">Normal</span>
          </li>
        </ul>
      </div>

      <div data-bk-layout class="margin-b">
        <p class="alert alert--simple">
          As mentioned above single item alignment is restricted to bottom alignment at the moment. This is purely because it rarely gets used but other alignments can be added if necessary.
        </p>
      </div>
    </section>
  </div>


  <div class="bg-white--tint pad" id="padding">
    <section class="site-container">

      <h3 data-bk-layout="pad:trl" class="font-l">Padding</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>In the following examples the coloured edges indicate where padding has been specified. Unlike the spacer or margin classes the available values for grid padding should provide a full range of options.</p>

        <p>Padding is actually what creates the grid “gutters” between columns.</p>
      </div>

      <ul data-bk-layout="middle  pad:0">
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:t" class="bg-primary" src="http://placehold.it/600x400?text=pad:t" alt="Top">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:tr" class="bg-primary" src="http://placehold.it/600x400?text=pad:tr" alt="Top Right">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:tb" class="bg-primary" src="http://placehold.it/600x400?text=pad:tb" alt="Top Bottom">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:tl" class="bg-primary" src="http://placehold.it/600x400?text=pad:tl" alt="Top Left">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:b" class="bg-primary" src="http://placehold.it/600x400?text=pad:b" alt="Bottom">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:bl" class="bg-primary" src="http://placehold.it/600x400?text=pad:bl" alt="Bottom Left">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:rl" class="bg-primary" src="http://placehold.it/600x400?text=pad:rl" alt="Right Left">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:rb" class="bg-primary" src="http://placehold.it/600x400?text=pad:rb" alt="Right Bottom">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:r" class="bg-primary" src="http://placehold.it/600x400?text=pad:r" alt="Right">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:l" class="bg-primary" src="http://placehold.it/600x400?text=pad:l" alt="Left">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:trb" class="bg-primary" src="http://placehold.it/600x400?text=pad:trb" alt="Top Right Bottom">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:rbl" class="bg-primary" src="http://placehold.it/600x400?text=pad:rbl" alt="Right Bottom Left">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:tbl" class="bg-primary" src="http://placehold.it/600x400?text=pad:tbl" alt="Top Bottom Left">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:trl" class="bg-primary" src="http://placehold.it/600x400?text=pad:trl" alt="Top Right Left">
        </li>
      </ul>
    </section>
  </div>


  <div class="bg-white pad" id="padding-size">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Padding Sizes</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>There are three configurable sizes of padding, the default value and small and large values. These are half and double the default padding value.</p>

        <p>Unlike the spacer class there is no “larger” option.</p>
      </div>

      <ul data-bk-layout="middle  pad:0">
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:small" class="bg-primary" src="http://placehold.it/600x400?text=pad:small" alt="Small Padding">
        </li>
        <li data-bk-layout="palm:4 lap:3">
          <img data-bk-layout="pad:large" class="bg-primary" src="http://placehold.it/600x400?text=pad:large" alt="Large Padding">
        </li>
      </ul>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}