<div class="bg-primary--light">
  <div data-bk-links="white fade dim" class="site-container | font-upper lh-2">
    {% for navItems in mainNav if navItems.children|length %}
      {% for item in navItems.children %}
        {% if item.slug == slug %}
          {% if loop.first %}
            {% set previous_item = navItems.children[loop.length - 1] %}
          {% else %}
            {% set previous_item = navItems.children[loop.index0 - 1] %}
          {% endif %}

          {% if loop.last %}
            {% set next_item = navItems.children[0] %}
          {% else %}
            {% set next_item = navItems.children[loop.index0 + 1] %}
          {% endif %}

          <p data-bk-layout="6">
            <span data-bk-layout="pad:0" class="color-white font-xs arrow-l" style="position:relative;left:-1.1em;">Previous</span>
            <a id="previous" class="font-bold" href="{{ previous_item.url }}">
              {{ previous_item.title|lower }}
            </a>
          </p>
          <p data-bk-layout="6 right">
            <span data-bk-layout="pad:0" class="color-white font-xs arrow-r" style="position:relative;right:-1.1em;">Next</span>
            <a id="next" class="font-bold" href="{{ next_item.url }}">
              {{ next_item.title|lower }}
            </a>
          </p>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
