{% set quickNav = [{
  "title": "Setup",
  "url": "/demo/reference/",
  "slug": "reference"
  }, {
    "title": "Colours",
    "url": "/demo/reference/colours/",
    "slug": "colours"
  }, {
    "title": "Typography",
    "url": "/demo/reference/typography/",
    "slug": "typography"
  }, {
    "title": "Layout",
    "url": "/demo/reference/layout/",
    "slug": "layout"
  }, {
    "title": "Spacing",
    "url": "/demo/reference/spacing/",
    "slug": "spacing"
  }, {
    "title": "Links",
    "url": "/demo/reference/links/",
    "slug": "links"
  }, {
    "title": "Buttons",
    "url": "/demo/reference/buttons/",
    "slug": "buttons"
  }, {
    "title": "Borders",
    "url": "/demo/reference/borders/",
    "slug": "borders"
  }, {
    "title": "Icons",
    "url": "/demo/reference/icons/",
    "slug": "icons"
  }, {
    "title": "Forms",
    "url": "/demo/reference/forms/",
    "slug": "forms"
  }, {
    "title": "Alerts",
    "url": "/demo/reference/alerts/",
    "slug": "alerts"
  }, {
    "title": "Navigation",
    "url": "/demo/reference/navigation/",
    "slug": "nav",
    "tbc": true
  }, {
    "title": "Images",
    "url": "/demo/reference/images/",
    "slug": "images",
    "tbc": true
  }, {
    "title": "Tables",
    "url": "/demo/reference/tables/",
    "slug": "tables",
    "tbc": true
  }, {
    "title": "Code Guide",
    "url": "/demo/reference/code/",
    "slug": "code",
    "tbc": true
  }, {
    "title": "A11Y",
    "url": "/demo/reference/a11y/",
    "slug": "accessibility",
    "tbc": true
}] %}

{% if quickNav %}
  <div data-bk-links="white fade dim" class="scroll-x stick-t shadow">
    <ul data-bk-layout="p:rl" class="pad-xs scroll-x__content nav nav-block font-s">
      {% for item in quickNav %}
        <li>
          <a{{ item.slug == slug ? ' class="btn-primary shadow" ' }}  href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}