{% set valueIs %}
  {% if value < 20 %}
  ðŸ˜ŸÂ 
  {% elseif value >= 20 and value < 40 %}
  ðŸ¤”Â 
  {% elseif value >= 40 and value < 60 %}
  ðŸ™‚Â 
  {% elseif value >= 60 and value < 90 %}
  ðŸ˜Â 
  {% elseif value >= 90 and value < 100 %}
  ðŸ˜ŽÂ 
  {% elseif value == 100 %}
  ðŸ‘Â 
  {% endif %}
{% endset %}

<div data-bk-layout="6 palm:4 hands:3 hands:pr:1 lap:2 lap:pr:3">
  <div class="bk-form margin-b br-1" title="This page is {{ value }}% towards being finished">
    <label class="font-s"><span class="font-xs color-grey--dark">Status: </span><span class="float-r color-primary--light">{{ valueIs|length ? valueIs : value ~ '%' }}</span></label>
    <progress max="100" value="{{ value }}"></progress>
  </div>
</div>