<div data-bk-layout="6 palm:4 hands:3 hands:pr:1 lap:2 lap:pr:3">
  <div class="bk-form margin-b br-1">
    <label class="font-xs color-grey--dark" style="width:{{ value >= 40 ? value : 40 }}%" title="Ryan's happiness level of this page">Status: <span class="float-r color-primary--light">{{ value }}%</span></label>
    <progress max="100" value="{{ value }}"></progress>
  </div>
</div>