{% extends "_layout.twig" %}

{% set title = "Link Styles" %}
{% set slug = "links" %}

{% block content %}

  <div class="w-100 bg-white pad">
    <section class="site-container">
      {% include '_partials/_quick-nav.twig' %}

      <h2 data-bk-layout class="font-xxl font-light pad-l-t">{{ title }}</h2>

      <div data-bk-layout="s:9 m:8 l:7" class="rte">
        <p class="font-m">Similar to the Basekit layout attribute, links in Basekit are also applied using a data attribute: <code>data-bk-links</code>.</p>

        <p>This scoping to a data attribute allows simpler configuration and less stuff in the class attribute.</p>
      </div>
    </section>
  </div>

  <div class="w-100 bg-white--tint pad">
    <section class="site-container">
      <h3 data-bk-layout="p:trl" class="font-l">Links styles</h3>

      <div data-bk-layout="m:8 l:7">
        <p>By default links are available in two main styles; primary and secondary. There are then various “modifiers” that can be applied to fine-tune link styles to suit their context.</p>


        <h3 class="font-m pad-t">Undefined</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links>
            <a href="./">This link has no styles set</a> which makes it fairly useless but you can see there is no “default”, you have to make a choice.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links=<strong>""</strong></code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Primary</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary">
            <a href="./">This link has the primary style</a> and on hover you’ll see the secondary colour. No transitions or underlines.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="<strong>primary</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Secondary</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="secondary">
            <a href="./">This link has the secondary style</a> and on hover you’ll see the primary colour. No transitions or underlines.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="<strong>secondary</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">No Fade</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary no-fade">
            <a href="./">This link has the fade transition</a> removed creating a sharp switch between colours.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="primary <strong>no-fade</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Underline</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline">
            <a href="./">This link has an underline</a>.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="primary <strong>underline</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Underline Hover</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-hover">
            <a href="./">This link has an underline on hover</a>.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="primary <strong>underline-hover</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Underline Initial</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-initial">
            <a href="./">This link initially has an underline</a> and it disappears on hover.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="primary <strong>underline-initial</strong>"</code>
          </dd>
        </dl>

        <h3 class="font-m pad-l-t">Dim</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary dim">
            <a href="./">This link is dimmed</a> until you hover.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="primary <strong>dim</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Focus Style</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="focus">
            <p data-bk-links="primary"><a href="./">This link has the primary style</a> and on hover you’ll see the secondary colour. No transitions or underlines.</p>
            <p data-bk-links="secondary"><a href="./">This link has the secondary style</a> and on hover you’ll see the secondary colour. No transitions or underlines.</p>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="<strong>focus</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Active Style</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="focus active">
            <p data-bk-links="primary"><a href="">This link has the primary style</a> and on hover you’ll see the secondary colour. No transitions or underlines.</p>
            <p data-bk-links="secondary"><a href="">This link has the secondary style</a> and on hover you’ll see the secondary colour. No transitions or underlines.</p>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="<strong>active</strong>"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Dark Background</h3>

        <dl class="br-1 shadow bg-white margin-t font-light" style="overflow:hidden;">
          <dt data-bk-layout="p:lg" data-bk-links="white underline-hover" class="color-grey bg-black--tint">
            <a href="./">This is a white link on dark background</a>. Applying reliable color hover-states on dark background can be quite tricky unless the colour pallette has been designed specifically for this. For example, our <span data-bk-links="primary"><a href="./">primary</a></span> and <span data-bk-links="secondary"><a href="./">secondary</a></span> styles don't look so good, particularly for WCAG compliant contrast ratios.
          </dt>
          <dd data-bk-layout="p:sm" class="color-white bg-grey--darker">
            Usage
            <code class="float-r">data-bk-links="<strong>white</strong> underline-hover"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Dark Background Alternative</h3>

        <dl class="br-1 shadow bg-white margin-t font-light" style="overflow:hidden;">
          <dt data-bk-layout="p:lg" data-bk-links="white dim underline-hover" class="color-white bg-black--tint">
            <a href="./">This is a white link on dark background</a> dimmed. I find this is the best compromise of style and clarity.
          </dt>
          <dd data-bk-layout="p:sm" class="color-white bg-grey--darker">
            Usage
            <code class="float-r">data-bk-links="<strong>white dim</strong> underline-hover"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Inherit</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="inherit dim underline" class="color-secondary--dark">
            <a href="./">This link has inherited its parent text colour</a>. When using inherit I find similar rules that apply to links on dark backgrounds also apply here.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">data-bk-links="<strong>inherit</strong> dim underline"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Big Text</h3>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-initial" class="rte">
            <p>Underlines look quote nice on large words with descenders…</p>
            <p class="font-xl margin-t"><a href="./">Photograph</a></p>
          </dt>
        </dl>

      </div>

      <div data-bk-layout="m:4 l:4 l:pr:1" class="pad-b">
        <div class="alert alert--simple font-s">
          <h4 class="font-n margin-b"><strong>Note for developers</strong></h4>

          <p>These link styles will <strong>not</strong> apply to button links, because that would be silly.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
