{% extends "_layout.twig" %}

{% set title = "Naming Conventions" %}
{% set slug = "naming" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="s:9 m:8 l:7" class="rte">
        <p class="font-m">Basekit is an opinionated framework, it's not built as a base for everyone and anyone. As a result there are various naming and code conventions that not everyone will agree with and may even change over time… 😆</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 5 } %}
    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">

      <div data-bk-layout="l:7" data-bk-links="primary fade underline" class="rte">
        <p class="alert alert--simple">Work in progress</p>

        <p>Basekit makes use of two primary types of class; the utility class and the BEM class.</p>

        <p>Utility classes aim to be reuseable and single purpose, unlike BEM classes they should not have sub elements but may have modifiers.</p>

      </div>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}