.nav-primary {
  // By default we'll hide all child items by to prevent broken layouts if JS
  // is disabled for whatever reason. Users should always be able to find
  // child pages in other ways than the nav.
  &__child-list {
    display: none;
  }
}

// Small screen (mobile) nav
// —————————————————————————————————————————————————————————————————————————————
@include mq($until: $nav-switch-point) {
  .js .nav-primary {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    z-index: $z-mobile-nav;

    &.is-active {
      max-height: 9000px;
      opacity: 1;
      overflow: visible;
      visibility: visible;
    }

    li {
      width: 100%;
      display: block;
    }

    &__list {
      a {
        display: block;
        position: relative;
        width: 100%;
      }
    }

    &__child-list {
      a {
        border-left: $margin-size solid transparent;
      }

      @include recursively-indent-child-items-by($margin-size);
    }
  }
}


// Larger screen (desktop) nav
// —————————————————————————————————————————————————————————————————————————————
@include mq($nav-switch-point) {
  // Get rid of the hamburger
  .nav-toggler-wrapper { display: none; }
  
  .nav-primary {
    &__top-level-item {
      position: relative;
      z-index: $z-mobile-nav;
    }

    // Any child lists
    &__child-list {
      position: absolute;

      li,
      a {
        display: block;
        position: relative;
      }
    }

    // These kick in if you have a ridiculous number of menu items in a dropdown
    .scroll-up,
    .scroll-down {
      background: rgba(black, 0.75);
      display: none;
      height: 20px;
      overflow: hidden;
      position: absolute;
      visibility: hidden;
    }
    .scroll-up-arrow,
    .scroll-down-arrow {
      border-color: transparent transparent white transparent;
      border-style: dashed dashed solid dashed;
      border-width: 6px;
      height: 0;
      left: 50%;
      margin-left: -6px;
      overflow: hidden;
      position: absolute;
      top: 0px;
      width: 0;
    }
    .scroll-down-arrow {
      border-color: white transparent transparent transparent;
      border-style: solid dashed dashed dashed;
      top: 8px;
    }
  }
}