{% extends "_layout.twig" %}

{% set title = "Navigation" %}
{% set slug = "nav" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-grey">
    <section class="site-container  pad">
      <h2 data-bk-layout="pad:rl" class="font-xl">{{ title }}</h2>

      <div data-bk-layout="lap:8" data-bk-links="primary fade underline" class="rte">
        <p class="alert alert--simple">WIP: IGNORE FOR NOW</p>

        <h3 class="margin-tb">Links set on a horizontal block nav</h3>
        <ul class="nav  nav--block  nav-links">
          <li><a href="#">One</a></li>
          <li class="active"><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>

        <h3 class="margin-tb">Links set on a horizontal fit (display table) nav</h3>
        <ul class="nav  nav--block  nav--fit  nav-links">
          <li><a href="#">One</a></li>
          <li class="active"><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>

        <h3 class="margin-tb">Links set on a stacked nav</h3>
        <ul class="nav  nav--block  nav--stacked  nav-links">
          <li><a href="#">One</a></li>
          <li class="active"><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}