{% extends "_layout.twig" %}

{% set title = "Navigation" %}
{% set slug = "nav" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

<div class="bg-white--tint pad">
  <section class="site-container">
    <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

    <div data-bk-layout="s:9 m:8 l:7" class="rte">
      <p class="alert--simple">Coming Soon</p>
    </div>

    {% include "reference/_partials/_status.twig" with { value : 0 } %}
  </section>
</div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}