{% extends "_layouts/_errors.twig" %}

{% set title = "500" %}
{% set subTitle = "Error 500" %}

{% block content %}

  <h1>{{ subTitle }}</h1>

  <p>The server has encountered an unexpected error which prevented it from fulfilling the request. Please contact the administrator to resolve the problem.</p>

{% endblock %}