<h3>Paragraphs and Horizontal Rule</h3>

<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<hr>

<p>Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

<h3>Unordered list with nested ordered list and paragraphs</h3>

<ul>
  <li>Nulla facilisi potenti
    <ol>
      <li>Mattis posuere habitant dapibus</li>
      <li>Congue natoque blandit mattis rhoncus</li>
      <li>Vestibulum aptent ultrices</li>
    </ol>
  </li>
  <li>Etiam ac tellus eget ante</li>
  <li>
    <p>
      Elit platea aliquam odio faucibus sociosqu vestibulum aptent ultrices, augue tempor placerat neque. Id nulla nec hac auctor curabitur nostra accumsan est donec fermentum curabitur!
    </p>

    <p>
      Quis commodo curae; congue natoque blandit mattis rhoncus eleifend fermentum ridiculus per conubia! Pellentesque rutrum magnis varius. Iaculis risus sapien neque fermentum lacinia dui cum elementum molestie litora laoreet.
    </p>

    <p>
      Mattis posuere habitant dapibus sollicitudin tempus tempor facilisis congue libero!
    </p>
  </li>
  <li>Tristique volutpat</li>
</ul>

<h3>Ordered list with nested list</h3>

<ol>
  <li>Nulla facilisi potenti</li>
  <li>Maecenas nec ornare massa
    <ul>
      <li>Mattis posuere habitant dapibus</li>
      <li>Congue natoque blandit mattis rhoncus</li>
      <li>Vestibulum aptent ultrices</li>
    </ul>
  </li>
  <li>Etiam ac tellus eget ante</li>
  <li>Tristique volutpat</li>
</ol>

<h3>Definition Lists</h3>

<dl>
  <dt>Definition Term</dt>
  <dd>Definition description</dd>

  <dt>Definition Term</dt>
  <dd>Definition description</dd>
  <dd>Another definition description</dd>

  <dt>Definition Term</dt>
  <dd>Definition description</dd>
</dl>