.of-hide {
  overflow: hidden;
}

.of-vis {
  overflow: visible;
}

.of-auto {
  overflow: auto;
}

.of-scroll {
  overflow: scroll;
}

// A hacky fix to prevent iOS and other mobile browser from allowing the whole
// site to overflow horizontally thanks to the utility nav.
.of-hide-x {
  overflow-x: hidden;
  position: relative;
}