@if $list-css {

  .list {
    &--bull {
      margin-left: rem(17px);
      & > li {
        list-style: unquote($list-bullet) unquote($list-bullet-position) none;
      }
    }

    &--num {
      margin-left: rem(30px);
      & > li {
        list-style: unquote($list-number) unquote($list-number-position) none;
      }
    }
  }

}