@if $user-content-css {

  .#{$user-content-name} {

    > * + * {
      margin-top: em($font-default-bottom-margin + 0px);
    }

    // p:not(:last-of-type) {
    //   margin-bottom: rem($font-default-bottom-margin + 0px);
    // }

    @if $user-content-inline-images {
      p, li {
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    ul {
      margin-left: em(20px);
      // margin-bottom: rem($font-default-bottom-margin + 0px);
      & > li {
        list-style: disc outside none;
        margin-bottom: 0;
      }
      & ul {
        margin-bottom: 0;
      }
    }

    ol {
      margin-left: em(30px);
      // margin-bottom: rem($font-default-bottom-margin + 0px);
      & > li {
        list-style: decimal-leading-zero outside none;
        margin-bottom: 0;
      }
      & ol {
        margin-bottom: 0;
      }
    }

    // See: http://allthingssmitty.com/2016/11/28/use-attribute-selectors-with-empty-links/
    a[href]:empty::before {
      content: attr(href);
    }
  }

}