@if $rte-css {

  .#{$rte-name} {

    > * + * {
      margin-top: em($font-default-bottom-margin + 0px);
    }

    // p:not(:last-of-type) {
    //   margin-bottom: rem($font-default-bottom-margin + 0px);
    // }

    @if $rte-inline-images {
      p, li {
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    ul {
      margin-left: em(20px);
      // margin-bottom: rem($font-default-bottom-margin + 0px);
      & > li {
        list-style: disc outside none;
        margin-bottom: 0;
      }
      & ul {
        margin-bottom: 0;
      }
    }

    ol {
      margin-left: em(30px);
      // margin-bottom: rem($font-default-bottom-margin + 0px);
      & > li {
        list-style: decimal-leading-zero outside none;
        margin-bottom: 0;
      }
      & ol {
        margin-bottom: 0;
      }
    }

    dt {
      font-weight: 700;

      &:after {
        content: ":"
      }
    }
    dd + dt {
      margin-top: em($margin * 1px)
    }

    // See: http://allthingssmitty.com/2016/11/28/use-attribute-selectors-with-empty-links/
    a[href]:empty::before {
      content: attr(href);
    }

    @if variable-exists(rte-debugging) and $rte-debugging {
      &--debug {
        a[href^="http"]:empty::before {
          content: "EMPTY LINK";
          border: 5px dotted red;
        }
        p:empty::before {
          content: "EMPTY PARAGRAPH";
          display: block;
          border: 5px dotted red;
        }

        br {
          content: "";
          display: block;
          border: 5px dotted red;
        }
      }
    }
  }

}