// Link Style Utility
// —————————————————————————————————————————————————————————————————————————————
//
// Links in BaseKit are *unstyled by default* which I do to avoid juggling UI
// links and CMS generated link styles. This utility tightly scopes link styling
// to where you need it. You won't ever have to override link styles again.
//
// We do not want any of these styles to apply to the button class which can
// also be used on links.

// a:not([class*="btn-"])
a {
  transition-duration: $link-transition-duration;
  transition-property: $link-transition-props;

  &:hover, &:focus {
    transition-duration: $link-transition-hover-duration;
  }

  // Standard Colours
  // ———————————————————————————————————————————————————————————————————————————
  [data-bk-links~="white"] & {
    color: white;
  }

  [data-bk-links~="grey"] & {
    color: $color-grey;
  }

  [data-bk-links~="black"] & {
    color: black;
  }

  [data-bk-links~="primary"] & {
    color: $color-primary;
  }

  [data-bk-links~="secondary"] & {
    color: $color-secondary;
  }

  [data-bk-links~="tertiary"] & {
    color: $color-tertiary;
  }

  // Background Colours
  // ———————————————————————————————————————————————————————————————————————————
  [data-bk-links~="bg-white"] & {
    background-color: white;
  }

  [data-bk-links~="bg-grey"] & {
    background-color: $color-grey;
  }

  [data-bk-links~="bg-black"] & {
    background-color: black;
  }

  [data-bk-links~="bg-primary"] & {
    background-color: $color-primary;
  }

  [data-bk-links~="bg-secondary"] & {
    background-color: $color-secondary;
  }

  [data-bk-links~="bg-tertiary"] & {
    background-color: $color-tertiary;
  }

  // Standard Hover Colours
  // ———————————————————————————————————————————————————————————————————————————
  [data-bk-links~="h:white"] & {
    &:hover, &:focus {
      color: white;
    }
  }

  [data-bk-links~="h:grey"] & {
    &:hover, &:focus {
      color: $color-grey;
    }
  }

  [data-bk-links~="h:black"] & {
    &:hover, &:focus {
      color: black;
    }
  }

  [data-bk-links~="h:primary"] & {
    &:hover, &:focus {
      color: $color-primary;
    }
  }

  [data-bk-links~="h:secondary"] & {
    &:hover, &:focus {
      color: $color-secondary;
    }
  }

  [data-bk-links~="h:tertiary"] & {
    &:hover, &:focus {
      color: $color-tertiary;
    }
  }

  // Standard Hover Background Colours
  // ———————————————————————————————————————————————————————————————————————————
  [data-bk-links~="h:bg-white"] & {
    &:hover, &:focus {
      background-color: white;
    }
  }

  [data-bk-links~="h:bg-grey"] & {
    &:hover, &:focus {
      background-color: $color-grey;
    }
  }

  [data-bk-links~="h:bg-black"] & {
    &:hover, &:focus {
      background-color: black;
    }
  }

  [data-bk-links~="h:bg-primary"] & {
    &:hover, &:focus {
      background-color: $color-primary;
    }
  }

  [data-bk-links~="h:bg-secondary"] & {
    &:hover, &:focus {
      background-color: $color-secondary;
    }
  }

  [data-bk-links~="h:bg-tertiary"] & {
    &:hover, &:focus {
      background-color: $color-tertiary;
    }
  }

  // Link Utilities
  // ———————————————————————————————————————————————————————————————————————————
  [data-bk-links~="underline"] & {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-skip-ink: auto;
  }

  [data-bk-links~="no-underline"] & {
    text-decoration-line: none;
  }

  [data-bk-links~="dim"] & {
    opacity: $link-opacity-value;
  }

  [data-bk-links~="no-dim"] & {
    opacity: 1;
  }

  // Link Hover Utilities
  // ———————————————————————————————————————————————————————————————————————————
  [data-bk-links~="h:underline"] & {
    &:hover, &:focus {
      text-decoration: underline;
      text-decoration-color: currentColor;
      text-decoration-skip-ink: auto;
    }
  }

  [data-bk-links~="h:no-underline"] & {
    &:hover, &:focus {
      text-decoration-line: none;
    }
  }

  [data-bk-links~="h:dim"] & {
    &:hover, &:focus {
      opacity: $link-opacity-value;
    }
  }

  [data-bk-links~="h:no-dim"] & {
    &:hover, &:focus {
      opacity: 1;
    }
  }
}