// Link Style Utility
// —————————————————————————————————————————————————————————————————————————————
//
// Links in BaseKit are *unstyled by default* which I do to avoid juggling UI
// links and CMS generated link styles. This utility tightly scopes link styling
// to where you need it. You won't ever have to override link styles again.
//
// We do not want any of these styles to apply to the button class which can
// also be used on links.
a:not([class*="btn-"]) {
  // I'm being specific here rather than just transitioning *all* because all
  // can have unwanted restults in cetain situations (i.e. transitoning
  // backgrounds).
  transition-duration: $speed-slow * 1.5;
  transition-property: color, opacity, border-color;

  &:focus,
  &:hover {
    transition-duration: $speed-normal;
  }

  // Standard Colours
  // ———————————————————————————————————————————————————————————————————————————
  //
  // Simple white links for use on dark backgrounds, you'll want to combine this
  // with `dim` if the surrounding text is also white.
  [data-bk-links~="white"] & {
    color: white;
  }

  [data-bk-links~="h:white"] & {
    &:focus, &:hover {
      color: white;
    }
  }

  [data-bk-links~="black"] & {
    color: black;
  }

  [data-bk-links~="h:black"] & {
    &:focus, &:hover {
      color: black;
    }
  }

  [data-bk-links~="primary"] & {
    color: $color-primary;
  }

  [data-bk-links~="h:primary"] & {
    &:focus, &:hover {
      color: $color-primary;
    }
  }

  [data-bk-links~="secondary"] & {
    color: $color-secondary;
  }

  [data-bk-links~="h:secondary"] & {
    &:focus, &:hover {
      color: $color-secondary;
    }
  }

  [data-bk-links~="tertiary"] & {
    color: $color-tertiary;
  }

  [data-bk-links~="h:tertiary"] & {
    &:focus, &:hover {
      color: $color-tertiary;
    }
  }

  [data-bk-links~="grey"] & {
    color: $color-grey;
  }

  [data-bk-links~="h:grey"] & {
    &:focus, &:hover {
      color: $color-grey;
    }
  }

  // Useful utilities
  // ———————————————————————————————————————————————————————————————————————————
  //
  // Allow links to inherit the surrounding text colour.
  // Commented out for now as it's a little redundant and possibly confusing.
  // [data-bk-links~="inherit"] & {
  //   color: inherit;
  // }

  // Underline child links, notice this uses *= so that the styles applied here
  // also apply to the following hover version.
  [data-bk-links*="underline"] & {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-skip: ink;
  }

  [data-bk-links*="h:underline"] & {
    // text-decoration-color: transparent;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-color: currentColor;
      text-decoration-skip: ink;
    }
  }

  // Force underline text off if required (e.g. the link is inside a container
  // with underline enabled but you want this specific links not to have an
  // underline).
  [data-bk-links~="no-underline"] & {
    text-decoration-line: none;
  }

  [data-bk-links~="h:no-underline"] & {
    &:focus, &:hover {
      text-decoration-line: none;
    }
  }

  // Bin the transition states.
  // Commented out for now due to lack of use.
  // [data-bk-links~="no-fade"] & {
  //   transition: none;
  // }

  // Apply a subtle dimming effect to the link, I find this is often used with
  // white text on a dark background when the links are also white.
  [data-bk-links~="dim"] & {
    opacity: $link-dim-value;
  }

  [data-bk-links~="h:dim"] & {
    &:focus, &:hover {
      opacity: $link-dim-value;
    }
  }

  [data-bk-links~="no-dim"] & {
    opacity: 1;
  }

  [data-bk-links~="h:no-dim"] & {
    &:focus, &:hover {
      opacity: 1;
    }
  }
}