[class*="nav"] {
  li,
  a {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.nav-stack {
  li,
  a {
    display: block;
  }

  ul li {
    padding-left: 1em;
  }
}

.nav-block {
  a {
    padding: $nav-tb-pad $nav-rl-pad;
  }
}

// .nav-fit {
//   display: flex;
//
//   > li {
//     flex-grow: 1;
//
//     > a {
//       display: block;
//       width: 100%;
//     }
//   }
// }

// &-crumb {
//   > li + li {
//     padding-left: $nav-crumb-pad;
//
//     &:before {
//       display: inline-block;
//       font-family: "Basekit Arrows", $font-family !important;
//       content: "→";
//       padding-right: $nav-crumb-pad;
//       vertical-align: middle;
//     }
//   }
//
//   > li > span {
//     display: inline-block;
//     vertical-align: middle;
//     line-height: 1;
//   }
// }