.#{$site-width-name} {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: $site-width-fallback;
  // Site width is 100% - the grid gutter width.
  width: $site-width;
  // Lock to the width of grid columns and gutters combined.
  max-width: $max-width * 1px;

  // On small screens just max the width.
  @include mq($until: sm) {
    width: 100%;
  }

  // Between small and medium screens half the outside gutters.
  @include mq($from: sm, $until: md) {
    width: $site-width-fallback;
    width: $site-width-sm;
  }
}