.#{$site-width-name} {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: rem($max-width * 1px);
  width: $site-width;
}

// While maintaining the website's max-width, allow it to fit 100% of the screen width when it is less than the website max width
// .#{$site-width-name}--100 {
//   width: 100% !important;
// }