{% extends "_layout.twig" %}

{% set title = "Accessibility" %}
{% set slug = "accessibility" %}

{% block content %}

<div class="bg-grey--lighter  pad" id="intro">
  <section class="site-container">

    {% include '_partials/_quick-nav.twig' %}

    <h2 data-bk-layout class="font-xxl">{{ title }}</h2>

    <div data-bk-layout="s:9 m:8 l:7" class="rte">
      <p class="alert--simple">Coming Soon</p>
    </div>

    {% include "_partials/_status.twig" with { value : 0 } %}
  </section>
</div>

{% include '_partials/_pagination.twig' %}

{% endblock %}