.nav-primary-list {
  ul {
    // By default we'll hide all child navs
    display: none;

    li {
      display: block;
    }
  }

  a {
    // display: block;
    -webkit-tap-highlight-color:rgba(black, 0);
  }
}