@include mq($sm-bk__desktop-vp) {
  // The top level list
  .sm-bk {
    .has-submenu {
      // Simply make relative so we can anchor sub menus to the link
      position: relative;

      .js & {
        // Make some space for the indicator
        padding-right: $sm-bk__desktop-item-padding-horizontal + $sm-bk__desktop-arrow-spacing + $sm-bk__desktop-arrow-spacing !important;
      }

      // This class is applied via the JS plugin and keeps the item highlighted as long as you're on a child
      &.highlighted {
        background-color: black;
      }
    }

    // Any child lists
    &__child-list {
      box-shadow: 0 8px 8px -2px rgba(black, 0.4);
      line-height: 1.4;
      position: absolute;
      text-align: left;

      li:not(:first-child) {
        border-top: $sm-bk__desktop-separators-size solid #2a2a2a;
      }

      li:first-child > a {
        border-radius: 5px 5px 0 0;
      }

      li:last-child > a {
        border-radius: 0 0 5px 5px;
      }

      li:only-child > a {
        border-radius: 5px;
      }

      a {
        background-color: $color-black--tint;
        color: white;

        &,
        &:hover,
        &:focus,
        &.current,
        &.highlighted {
          color: white;
          padding-top: $sm-bk__desktop-item-padding-vertical;
          // Right padding is handled above
          padding-bottom: $sm-bk__desktop-item-padding-vertical;
          padding-left: $sm-bk__desktop-item-padding-horizontal;
        }

        &:hover,
        &:focus,
        &.current,
        &.highlighted {
          background-color: black;
        }
        &.current {
          font-weight: 600;
        }
      }
    }

    // Sub menu indicator styling
    .sub-arrow {
      font: #{$sm-bk__font-size-base} / 16px monospace !important;
      height: 16px;
      margin-top: -8px;
      overflow: hidden;
      position: absolute;
      right: $sm-bk__desktop-item-padding-horizontal / 2;
      text-align: center;
      top: 50%;
      width: 0.8em;

      // Simply bin it if JS is not enabled
      .no-js & { display: none; }
    }





    // Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." in the default download package
    .scroll-up,
    .scroll-down {
      position: absolute;
      display: none;
      visibility: hidden;
      overflow: hidden;
      background: rgba(black, 0.75);
      height: 20px;
      // width and position will be set automatically by the script
    }
    .scroll-up-arrow,
    .scroll-down-arrow {
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -6px;
      // we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 6px; // tweak size of the arrow
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent white transparent;
    }
    .scroll-down-arrow {
      top: 8px;
      border-style: solid dashed dashed dashed;
      border-color: white transparent transparent transparent;
    }
  }
}