{% extends "_layout.twig" %}

{% set title = "Spacing / Padding" %}
{% set slug = "spacing" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white">
    <section class="site-container  pad">
      <h1 data-bk-layout="pad:rbl" class="font-xl">{{ title }}</h1>

      <div data-bk-layout>
        <div class="pad  pad-s  bg-grey  margin-b  align-c">
          <p class="bg-white">Small Padding</p>
        </div>
        <div class="pad  bg-grey  margin-b  align-c">
          <p class="bg-white">Default Padding</p>
        </div>
        <div class="pad  pad-l  bg-grey  margin-b  align-c">
          <p class="bg-white">Large Padding</p>
        </div>

        <p>Padding classes can be mixed up to create various configuations, for example:</p>

        <ul>
          <li class="margin-t"><code>pad-b</code> simply adds bottom padding</li>
          <li class="margin-t"><code>pad-s-t</code> adds small top padding</li>
          <li class="margin-t"><code>pad  pad-s-b</code> adds normal padding then changes the bottom padding to the small size</li>
          <li class="margin-t"><code>pad-s  pad-l-b</code>small top and large bottom padding</li>
          <li class="margin-t">And so on.</li>
        </ul>
      </div>


      <h3 data-bk-layout class="font-l pad-t">Examples within containers</h3>

      <div data-bk-layout="4">
        <div class="pad  pad-s  bg-grey  margin-b  align-c">
          <p class="bg-white">Small Padding</p>
        </div>
      </div>
      <div data-bk-layout="4">
        <div class="pad  bg-grey  margin-b  align-c">
          <p class="bg-white">Default Padding</p>
        </div>
      </div>
      <div data-bk-layout="4">
        <div class="pad  pad-l  bg-grey  margin-b  align-c">
          <p class="bg-white">Large Padding</p>
        </div>
      </div>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}