{% extends "_layout.twig" %}

{% set title = "Spacing / Padding" %}
{% set slug = "spacing" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">The spacing utility class gives you the option to space out content vertically (along the x axis) without having to use the grid system or creating custom CSS.</p>

        <p>Having a group of set sizes (based on the grid system's gutter value) also maintains a consistency throughout a design.</p>

        <div class="alert alert--muted alert--simple">
          <dl data-bk-layout="pad:r 6 palm:3">
            <dt>Small</dt>
            <dd>Gutter / 2</dd>
          </dl>
          <dl data-bk-layout="pad:r 6 palm:3">
            <dt>Default</dt>
            <dd>Gutter × 1</dd>
          </dl>
          <dl data-bk-layout="pad:r 6 palm:3">
            <dt>Large</dt>
            <dd>Gutter × 2</dd>
          </dl>
          <dl data-bk-layout="pad:r 6 palm:3">
            <dt>Larger</dt>
            <dd>Gutter × 4</dd>
          </dl>
        </div>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 75 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">
      <div data-bk-layout class="rte">
        <h3 class="font-l">Spacing Examples</h3>

        <h4 class="font-bold">Small <code class="font-xs font-normal float-r">$gutter / 2</code></h4>
        <div class="pad-s-t  bg-tertiary--light"></div>

        <h4 class="font-bold pad-t">Default <code class="font-xs font-normal float-r">$gutter * 1</code></h4>
        <div class="pad-t  bg-tertiary--light"></div>

        <h4 class="font-bold pad-t">Large <code class="font-xs font-normal float-r">$gutter * 2</code></h4>
        <div class="pad-l-t  bg-tertiary--light"></div>

        <h4 class="font-bold pad-t">Larger <code class="font-xs font-normal float-r">$gutter * 4</code></h4>
        <div class="pad-xl-t  bg-tertiary--light"></div>
      </div>
    </section>
  </div>


  <div class="bg-white--tint pad">
    <section class="site-container">
      <div data-bk-layout="hands:5 hands:pl:1" class="pad-b rte">
        <h3 class="font-l">Avilable classes</h3>
        <dl data-bk-layout="pad:r 6 palm:3 hands:6 lap:3">
          <dt>Default</dt>
          <dd><code>pad</code></dd>
          <dd><code>pad-t</code></dd>
          <dd><code>pad-b</code></dd>
        </dl>
        <dl data-bk-layout="pad:r 6 palm:3 hands:6 lap:3">
          <dt>Small</dt>
          <dd><code>pad-s</code></dd>
          <dd><code>pad-s-t</code></dd>
          <dd><code>pad-s-b</code></dd>
        </dl>
        <dl data-bk-layout="pad:r 6 palm:3 hands:6 lap:3">
          <dt>Large</dt>
          <dd><code>pad-l</code></dd>
          <dd><code>pad-l-t</code></dd>
          <dd><code>pad-l-b</code></dd>
        </dl>
        <dl data-bk-layout="pad:r 6 palm:3 hands:6 lap:3">
          <dt>Larger</dt>
          <dd><code>pad-xl</code></dd>
          <dd><code>pad-xl-t</code></dd>
          <dd><code>pad-xl-b</code></dd>
        </dl>

        <h3 class="font-l pad-t">Zeroing</h3>
        <dl data-bk-layout="pad:r 6">
          <dt>Remove padding</dt>
          <dd><code>pad-0</code></dd>
          <dd><code>pad-0-t</code></dd>
          <dd><code>pad-0-b</code></dd>
        </dl>
        <p class="alert alert--simple alert--compact font-s">Note that this class can also be used to remove padding from a <code>data-bk-layout</code> element (only x-axis of course).</p>
      </div>

      <div data-bk-layout="hands:5 hands:pl:1" class="rte">
        <h3 class="font-l margin-b">Mixing options</h3>
        <p>Classes can be combined to create various configuations:</p>

        <dl>
          <dt>Apply normal padding with small bottom padding</dt>
          <dd><code>class="pad pad-s-b"</code></dd>
          <dt class="margin-t">Apply small bottom padding with large top padding</dt>
          <dd><code>class="pad-s pad-l-t"</code></dd>
          <dt class="margin-t">Just bottom padding</dt>
          <dd><code>class="pad-b"</code></dd>
        </dl>
      </div>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}