{% extends "_layout.twig" %}

{% set title = "Spacing / Padding" %}
{% set slug = "spacing" %}
{% set pageHeaderColor = "bg-primary--dark" %}

{% block content %}

  <div class="bg-grey--light">
    <section id="padding" tabindex="-1" data-bk-links="primary fade underline" class="site-container  pad  clear">
     <h2 class="font-xl">Padding / Spacer</h2>

      <div class="pad  pad-s  bg-grey  margin-b  align-c">
        <p class="bg-white">Small Padding</p>
      </div>
      <div class="pad  bg-grey  margin-b  align-c">
        <p class="bg-white">Default Padding</p>
      </div>
      <div class="pad  pad-l  bg-grey  margin-b  align-c">
        <p class="bg-white">Large Padding</p>
      </div>

      <p>Padding classes can be mixed up to create various configuations, for example:</p>
      <ul>
        <li class="margin-t"><code>pad-b</code> simply adds bottom padding</li>
        <li class="margin-t"><code>pad-s-t</code> adds small top padding</li>
        <li class="margin-t"><code>pad  pad-s-b</code> adds normal padding then changes the bottom padding to the small size</li>
        <li class="margin-t"><code>pad-s  pad-l-b</code>small top and large bottom padding</li>
        <li class="margin-t">And so on.</li>
      </ul>

      <div class="rte  pad-t  pad-s-b">
        <h3>Examples within containers</h3>
      </div>

      <div style="float:left; width: 33.3333333333%">
        <div class="pad  pad-s  bg-grey  margin-b  align-c">
          <p class="bg-white">Small Padding</p>
        </div>
      </div>
      <div style="float:left; width: 33.3333333333%">
        <div class="pad  bg-grey  margin-b  align-c">
          <p class="bg-white">Default Padding</p>
        </div>
      </div>
      <div style="float:left; width: 33.3333333333%">
        <div class="pad  pad-l  bg-grey  margin-b  align-c">
          <p class="bg-white">Large Padding</p>
        </div>
      </div>
    </section>
  </div>

{% endblock %}