{% extends "_layout.twig" %}

{% set title = "Alert Callouts" %}
{% set slug = "alerts" %}

{% block content %}

  <div class="w-100 bg-white pad">
    <section class="site-container">

      {% include '_partials/_quick-nav.twig' %}

      <h2 data-bk-layout class="font-xxl font-light pad-lg-t">{{ title }}</h2>

      <div data-bk-layout="sm:9 md:8 lg:7" class="rte">
        <p class="font-md">Callout “alerts” draw attention to important content.</p>

        <p>Various kinds of alert are avilable for different types of information but the standard alert should suit for most situations.</p>
      </div>
    </section>
  </div>

  <div class="w-100 bg-white--tint pad">
    <section class="site-container ">
      <form class="bk-form" action="POST">
        <div data-bk-layout="md:6">
          <label class="font-md" for="alert">Standard information alert callout</label>
          <input type="text" id="alert">
          <p class="spam alert">alert</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-neutral">Neutral alert callout</label>
          <input type="text" id="alert-neutral">
          <p class="alert--neutral">alert--neutral</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-warn">Error alert callout</label>
          <input type="text" id="alert-warn">
          <p class="alert--warn">alert--warn</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-positive">Success alert callout</label>
          <input type="text" id="alert-positive">
          <p class="alert--positive">alert--positive</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-ib">Multiple inline-block alerts</label>
          <input type="text" id="alert-ib">
          <p class="alert--ib">Inline-block</p>
          <p class="alert--positive  alert--ib">Another inline-block</p>
          <p class="alert--neutral  alert--ib">Last one</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-compact">Compact padding</label>
          <input type="text" id="compact-alert">
          <p class="alert--compact">Alert</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-multi">Multiple alerts</label>
          <input type="text" id="multi">
          <p class="alert">Alert</p>
          <p class="alert--simple">Alert--simple to remove arrow</p>
          <p class="alert--simple">Alert--simple to remove arrow</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-multi-2">Multiple alerts with longer content</label>
          <input type="text" id="alert-multi-2">
          <p class="alert">Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          <p class="alert--positive  alert--simple">Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="alert--simple">Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-rte">Rich text content</label>
          <input type="text" id="alert-rte">
          <div class="alert  rte">
            <h3 class="font-md">Rich text heading</h3>

            <ul>
              <li>Paesent commodo cursus magna</li>
              <li>Vel scelerisque nisl consectetur et</li>
              <li>Cras justo odio</li>
              <li>Dapibus ac facilisis in</li>
              <li>Etiam porta sem malesuada magna mollis euismod</li>
            </ul>

            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </div>
        </div>

        <div data-bk-layout="md:6">
          <h3 class="font-md font-normal">Inlined alerts</h3>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.

          <span class="alert--inline  alert--simple  br-2">Within text content, no arrow.</span>

          Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>

          <span data-bk-layout="auto" class="alert">Between text use data-bk-layout=auto</span>

          <p>Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>


        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-above-1">Above content</label>
          <p class="alert--above">Above content</p>
          <input class="margin-b" type="text" id="alert-above-1">
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-above-4">Above content error</label>
          <p class="alert--warn  alert--above">Above content</p>
          <input type="text" id="alert-above-4">
        </div>


        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-above-1">Wrapping input</label>
          <div class="alert--compact alert--simple">
            <input type="text" id="alert-above-1">
          </div>
        </div>

        <div data-bk-layout="md:6">
          <label class="font-md" for="alert-above-4">Error warning input</label>
          <div class="alert--warn alert--compact alert--simple">
            <input type="text" id="alert-above-4">
          </div>
        </div>

      </form>

    </section>

  </div>

{% endblock %}