.rte {

  > * + * {
    margin-top: rem($font-default-bottom-margin * 1px);
  }

  // p:not(:last-of-type) {
  //   margin-bottom: rem($font-default-bottom-margin + 0px);
  // }

  // > h1, > h2, > h3, > h4, > h5, > h6 {
  //   font-size: rem(22px);
  //   font-weight: 700;
  //   line-height: (21px / $font-size);
  //
  //   &:not(:first-child) {
  //     margin-top: rem(($font-default-bottom-margin * 2) * 1px);
  //   }
  // }

  ul {
    margin-left: em($font-size * 1.25);
    // margin-bottom: rem($font-default-bottom-margin + 0px);
    & > li {
      list-style: disc outside none;
      margin-bottom: 0;
    }
    ul {
      margin-bottom: 0;
    }
  }

  ol {
    margin-left: em($font-size * 2);
    // margin-bottom: rem($font-default-bottom-margin + 0px);
    & > li {
      list-style: decimal-leading-zero outside none;
      margin-bottom: 0;
    }
    ol {
      margin-bottom: 0;
    }
  }

  // li {
  //   p  {
  //     margin-bottom: em(($margin / 2) * 1px);
  //   }
  // }
  //
  // dt {
  //   font-weight: 700;
  //
  //   // &:after {
  //   //   content: ":"
  //   // }
  // }
  // dd + dt {
  //   margin-top: em($margin * 1px)
  // }

  // See: http://allthingssmitty.com/2016/11/28/use-attribute-selectors-with-empty-links/
  a[href]:empty::before {
    content: attr(href);
  }

  @if variable-exists(rte-debugging) and $rte-debugging == true {
    &--debug {
      a[href^="http"]:empty::before {
        content: "EMPTY LINK";
        border: 5px dotted red;
      }
      p:empty::before {
        content: "EMPTY PARAGRAPH";
        display: block;
        border: 5px dotted red;
      }

      br {
        content: "";
        display: block;
        &:before {
          content: "BR TAG MISUSED";
          display: block;
          border: 5px dotted red;
        }
      }
    }
  }
}