{% extends "_layout.twig" %}

{% set title = "Icons" %}
{% set slug = "icons" %}

{% block content %}

  <div class="w-100 bg-white pad">
    <section class="site-container">
      {% include '_partials/_quick-nav.twig' %}

      <h2 data-bk-layout class="font-xxl font-light pad-l-t">{{ title }}</h2>

      <div data-bk-layout="s:9 m:8 l:7" class="rte">
        <p class="font-m">Icon classes are a simple way to add icon graphics to strings of text.</p>

        <p class="alert--simple">Currently only arrow icons exist. Additional SVG icons for search, open, close, social media logos, etc will be added.</p>
      </div>
    </section>
  </div>

  <div class="w-100 bg-white--tint pad">
    <section class="site-container">
      <h3 data-bk-layout="p:trl" class="font-l">Arrows</h3>

      <div data-bk-layout="m:8 l:7">
        <p>Using the following classes we can add indicator arrows to links and other elements encouraging interaction.</p>

        <h3 class="font-m pad-t">Right</h3>
        <p>Displays a visual “call to action” after the link.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout data-bk-links="primary underline-hover">
            <ul>
              <li data-bk-layout="6">
                <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="margin-t font-upper"><a class="arrow-r" href="./">Read More</a></p>
              </li>
              <li data-bk-layout="6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem neum sociis natoque.</p>
                <p class="margin-t"><a class="arrow-r" href="./">Read More</a></p>
              </li>
            </ul>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">class="<strong>arrow-r</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-t">Left</h3>
        <p>Displays a visual “call to action” before the link.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout data-bk-links="primary underline-hover">
            <ul>
              <li data-bk-layout="6">
                <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="margin-t font-upper"><a class="arrow-l" href="./">Return</a></p>
              </li>
              <li data-bk-layout="6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem neum sociis natoque.</p>
                <p class="margin-t"><a class="arrow-l" href="./">Return</a></p>
              </li>
            </ul>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">class="<strong>arrow-l</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">External Link</h3>
        <p>Indicate to the user that the link exits the website.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-hover">
            Visit <a class="arrow-exit" href="http://facebook.com" target="_blank" rel="noopener">our Facebook</a> page to like us and stay up-to-date on coming events.
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">class="<strong>arrow-exit</strong>"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Scroll Down</h3>
        <p>Indicate to the user that the link moves down the page.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-hover">
            <a class="arrow-down" href="#footer">Scroll to end</a>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">class="<strong>arrow-down</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Scroll Up</h3>
        <p>Indicate to the user that the link moves up the page.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-hover">
            <a class="arrow-up" href="#start">Go to start</a>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">class="<strong>arrow-up</strong>"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Download</h3>
        <p>Indicate to the user that the link download a file.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout="p:lg" data-bk-links="primary underline-hover">
            <a class="arrow-dl" href="./" download>Download this file</a>
          </dt>
          <dd data-bk-layout="p:sm" class="bt b-grey">
            Usage
            <code class="float-r">class="<strong>arrow-dl</strong>"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Bold Feature</h3>
        <p>Arrows are normal weight by default but sometimes you might <em>only</em> want the arrow to be bolder.</p>

        <dl class="br-1 ba b-grey shadow bg-white margin-t">
          <dt data-bk-layout data-bk-links="primary underline-hover">
            <ul class="font-l">
              <li data-bk-layout="4"><a class="arrow-exit" href="http://google.com" target="_blank" rel="noopener">Normal</li>
              <li data-bk-layout="4" class="font-bold"><a class="arrow-exit" href="http://google.com" target="_blank" rel="noopener">Bold</li>
              <li data-bk-layout="4" class="font-light"><a class="arrow-exit" href="http://google.com" target="_blank" rel="noopener">Thin</li>
            </ul>
          </dt>
        </dl>
      </div>
    </section>
  </div>


  <div class="w-100 bg-white pad">
    <section class="site-container">
      <h3 data-bk-layout="p:trl" class="font-l">Button Icons</h3>

      <div data-bk-layout="m:8 m:pl:4 l:7 l:pl:5" data-bk-links="primary underline-initial">
        <p>Buttons seamlessly work with arrow icons without conflict or additional development.</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Right</h3>

        <p><a class="arrow-r btn-secondary" href="./">Read More</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Left</h3>

        <p><a class="arrow-l btn-secondary" href="./">Return</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Scroll Down</h3>

        <p><a class="arrow-down btn-secondary" href="#footer">Go to footer</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Scroll Up</h3>

        <p><a class="arrow-up btn-secondary" href="#start">Go to start</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">External Link</h3>

        <p><a class="arrow-exit btn-secondary" href="http://google.com" target="_blank" rel="noopener">Visit Google</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Download</h3>

        <p><a class="arrow-dl btn-secondary" href="./" download>Download this file</p>
      </div>

      {# <div data-bk-layout="m:4 l:4 l:pr:1" class="pad-b">
        <div class="alert alert--simple font-s">
          <h4 class="font-n margin-b"><strong>Note for developers</strong></h4>

          <p>These link styles <strong>can</strong> be applied to button style links, because that makes sense 😊</p>
        </div>
      </div>
    </div> #}
    </section>
  </div>

{% endblock %}