$code-bg-color: rgba(0,0,0,0.1)                                        !default;
$code-text-color: currentColor                                         !default;
$code-border: "1px solid " + rgba(mix(white, black, 50%), 0.75)        !default;
$code-font-size: 0.875rem                                              !default;