// Output the display (block, inline-block, inline, etc) utility class.
$display-responsive: false !default;

$display-block-class: true !default;

$display-inline-class: true !default;

$display-inline-block-class: true !default;