$mq-breakpoints: (
  sm: 520px,
  md: 720px,
  lg: 960px
) !default;


// Define the column count for of your design.
$grid-columns: 12 !default;
$grid-column-width: 60 !default;
$grid-gutter: 40 !default;

$margin: $grid-gutter / 2 !default;

// Once lower than the max-width the site width will never be larger than this.
$site-width: calc(100% - #{$grid-gutter * 1px}) !default;
// Halved gutter width for small screens
$site-width-sm: calc(100% - #{$grid-gutter / 2 * 1px}) !default;
// Fallback value for old browsers
$site-width-fallback: 96% !default;

// Don't touch this if you don't know what it does… $max-width gets used often.
$max-width: ($grid-column-width * $grid-columns) + ($grid-gutter * $grid-columns) !default;

// Set some base z-index layers to work with
$z-min: 1 !default;
$z-content: 100 !default;
$z-fit-media: 200 !default;
$z-position-over: 300 !default;
$z-mobile-nav: 400 !default;
$z-mobile-nav-toggle: 500 !default;
$z-max: 600 !default;