// Fine tune the position over utility class options.
// Find this in core/utility.position-over.scss
$position-over-css: true !default;
$position-over-tr: false !default;
$position-over-br: false !default;
$position-over-bl: false !default;
$position-over-m: true !default;
$position-over-ml: true !default;
$position-over-mr: false !default;
$position-over-mb: false !default;
$position-over-mt: false !default;
$position-over-fit-height: false !default;