@if $form-error-css {

  .#{$form-error-name} {
    background-color: $alert-bg;
    border: 1px solid $alert-border;
    color: $alert-text;
    margin-bottom: rem(4px);
    margin-top: rem(4px);
    padding: 0;
    padding: rem($margin * 1px);
    position: relative;

    &:before {
      background: inherit;
      border-color: inherit;
      border-style: solid;
      border-width: 1px 0 0 1px;
      content: "";
      height: 15px;
      left: rem(($margin * 1.5) * 1px);
      position: absolute;
      top: rem(-16px);
      transform: rotate(45deg) skew(12deg, 12deg);
      transform-origin: 0 100%;
      width: 15px;
    }

    @if $alert-bg--error {
      &--error {
        background-color: $alert-bg--error;
        border-color: $alert-border--error;
        color: $alert-text--error;
      }
    }

    @if $alert-bg--neutral {
      &--neutral {
        background-color: $alert-bg--neutral;
        border-color: $alert-border--neutral;
        color: $alert-text--neutral;
      }
    }

    @if $alert-bg--positive {
      &--positive {
        background-color: $alert-bg--positive;
        border-color: $alert-border--positive;
        color: $alert-text--positive;
      }
    }


    @if $alert-bg--muted {
      &--muted {
        background-color: $alert-bg--muted;
        border-color: $alert-border--muted;
        color: $alert-text--muted;
      }
    }

    &--above {
      &:before {
        border-width: 0 1px 1px 0;
        top: auto;
        bottom: rem(-1px);
      }
    }

    &--compact {
      padding: rem(($margin / 2) * 1px);
    }

    &--simple {
      &:before {
        content: none;
      }
    }

    @if $alert-inline-block {
      &--ib {
        display: inline-block;
        vertical-align: top;
        margin-right: em(10px);
      }

      &--inline {
        padding: 0 em(4px);
        vertical-align: baseline;
        white-space: pre-wrap;
      }
    }
  }

}