@if $form-error-css {

  .#{$form-error-name} {
    color: $alert-text;
    line-height: 1;
    position: relative;
    padding: rem(px($margin));
    margin: rem(5px) 0 0;
    background-color: $alert-bg;

    &:before {
      position: absolute;
      top: rem(-10px);
      left: rem(px($margin));
      content: "";
      width: 0;
      height: 0;
      background: transparent;
      border: rem(10px) solid;
      border-width: 0 rem(12px) rem(18px) rem(12px);
      border-color: transparent transparent $alert-bg transparent;
    }

    @if $alert-bg--neutral {
      &--neutral {
        background-color: $alert-bg--neutral;

        &:before {
          border-bottom-color: $alert-bg--neutral;
        }
      }
    }

    @if $alert-bg--positive {
      &--positive {
        background-color: $alert-bg--positive;

        &:before {
          border-bottom-color: $alert-bg--positive;
        }
      }
    }

    @if $alert-inline-block {
      &--ib {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

}