// The structure of this is straight up pinched from http://tachyons.io/docs/themes/borders/
$border-width-default: 1px !default;
$border-widths: (2px, 4px, 6px) !default;

.bdr {
  &-primary { border-color: color(primary); }
  &-secondary { border-color: color(secondary); }
  &-tertiary { border-color: color(tertiary); }
  &-grey { border-color: color(grey); }
  &-grey--light { border-color: color(grey, light); }
  &-grey--dark { border-color: color(grey, dark); }
  &-text { border-color: currentColor; }
}

@each $border-width in $border-widths {
  .bdr-#{index($border-widths, $border-width)} { border-width: $border-width; }
}

.bdr-a { border-style: solid; border-width: rem($border-width-default); }
.bdr-t { border-top-style: solid; border-top-width: rem($border-width-default); }
.bdr-r { border-right-style: solid; border-right-width: rem($border-width-default); }
.bdr-b { border-bottom-style: solid; border-bottom-width: rem($border-width-default); }
.bdr-l { border-left-style: solid; border-left-width: rem($border-width-default); }


.bdr-0 { border-width: 0; }
.bdr-0-t { border-top-width: 0; }
.bdr-0-r { border-right-width: 0; }
.bdr-0-b { border-bottom-width: 0; }
.bdr-0-l { border-left-width: 0; }