$border-radius-sizes: (3px, 5px, 8px, 16px) !default;

@each $border-radius-size in $border-radius-sizes {
  .br-#{index($border-radius-sizes, $border-radius-size)} { border-radius: $border-radius-size; }
}

.br-0 { border-radius: 0; }
.br-100, .br-round { border-radius: 100%; }
.br-pill { border-radius: 9999px; }

// Bottom Corners
.br-b { border-top-left-radius: 0; border-top-right-radius: 0; }
// Top Corners
.br-t { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
// Right Corners
.br-r { border-top-left-radius: 0; border-bottom-left-radius: 0; }
// Left Corners
.br-l { border-top-right-radius: 0; border-bottom-right-radius: 0; }