@if $form-extended-css {

  $form-element-bg-color: white;

  .form {
    // Prevent iOS zooming forms
    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: rem(600px)) {
      font-size: rem(16px);
    }

    // quick label styling
    &__label {
      background: $form-element-bg-color;
      color: #999;
      display: block;
      font-size: 75%;
      margin-top: 20px;
      padding: 0.5em 0.75em 0;
    }

    &__text,
    &__select,
    &__btn {
      appearance: none;
      background-clip: padding-box;
      background-color: $form-element-bg-color;
      border: 0;
      border-radius: 0;
      color: $text;
      font-family: $font-family;
      font-size: 100%;
      margin: 0;
      outline: 0;
      padding: 0.75em 0.58em;
      // text-align: left;
      // vertical-align: top;
      width: 100%;

      &:focus {
        background-color: mix(yellow, $form-element-bg-color, 10%);
      }
    }

    &__select {
      background: $form-element-bg-color url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAOCAQAAAD3ApbNAAAAXUlEQVR4AdXMsQ2AIBQG4WvJG4LJGIMpmMBZ6FhMieVLNFfq/eWffPygyqTzVmdS0TXOvcFT4/4busLKZOZYFHxEJjNHkNKk5jypOU9qzpOS86TiPGk5Tx57wVe6AJFXOuWN70I1AAAAAElFTkSuQmCC') no-repeat right center;
      background-size: 20px 7px;
    }

    &__label,
    &__select,
    &__check,
    &__radio,
    &__btn {
      cursor: pointer;
    }

    &__btn {
      -webkit-appearance: none;
      border: 0!important;
      outline: 0;
      padding: 0.75em 1.25em!important;
      text-shadow: none;
      text-decoration: none;
      width: auto;
    }

    &__check,
    &__radio {
      font-size: 125%;
      margin-right: rem(($margin + 0px) / 2);
      vertical-align: baseline;
    }

    [disabled],
    [disabled] option,
    [disabled] optgroup,
    &__label--disabled {
      background-color: #eee!important;
      color: #888!important;
      cursor: not-allowed;
      user-select: none;
    }

    &__text::placeholder {
      font-size: 87.5%;
    }

    // Tweaks for Safari + Chrome.
    // @media (-webkit-min-device-pixel-ratio: 0) {
    //   &__select[size],
    //   &__select[multiple],
    //   &__select[multiple][size] {
    //     padding-right: rem(3px);
    //     background-image: none;
    //   }
    //   &__select,
    //   &__select[size="0"],
    //   &__select[size="1"] {
    //     padding-right: rem(20px);
    //   }
    // }
  }
}