$nav-rl-pad: 1em;
$nav-tb-pad: 0.5em;
$nav-crumb-pad: 0.5em;

[class*="nav"] {
  > li {
    &,
    > a {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}

.nav {
  &-stack {
    > li {
      display: list-item;
      > a {
        display: block;
      }
    }

    ul {
      li {
        padding-left: 1em;
      }
    }
  }

  &-block {
    > li {
      letter-spacing: normal;
      word-spacing: normal;
      > a {
        padding: $nav-tb-pad $nav-rl-pad;
      }
    }
  }

  &-fit {
    display: flex;
    justify-content: space-between;
    > li {
      > a {
        display: block;
      }
    }
  }

  &-gromit {
    > li + li {
      padding-left: $nav-crumb-pad;
      a {
        &:before {
          display: inline-block;
          font-family: "Basekit Arrows", $font-family !important;
          content: "→";
          padding-right: $nav-crumb-pad;
          vertical-align: bottom;
        }
      }
    }
  }
}