{% extends "_layout.twig" %}

{% set title = "Example Markup/Styles" %}
{% set slug = "common" %}
{% set pageHeaderColor = "bg-grey--dark" %}

{% block content %}

  <div class="bg-primary--dark  pad-l  color-white">
    <div data-bk-links="white dim fade more" class="site-container">
      <h2 class="align-c  font-xl">Our Services</h2>

      {% for item in 1..4 %}
        <article data-bk-layout="6 hands:3" class="pad-t">
          <img src="/imgs/placeholders/landscape.png" alt="{{ img.title }}">

          <h3 class="font-l  pad-s-t  margin-b">Item Title</h3>
          {# DEV NOTE: Output as plain text, no line breaks #}
          <p>Erum que volut mnduciis inus es ipsus, o ictunduciis inus es ipsus, o ictuaxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu repta- tiur sum resequam</p>

          <p class="margin-t  font-upper"><a href="#">Read more</a></p>
        </article>
      {% endfor %}
    </div>
  </div>

  <div class="bg-secondary--dark  pad-l  color-white">
    <div data-bk-links="white dim fade" class="site-container">
      <h2 class="font-hero  font-thin  align-c">Our Work</h2>

      <div data-bk-layout="6  pr:3" class="pad-s-t  align-c  font-light  font-m  rte">
        <p>This is an example of three virtual columns (spanning 4 actual columns of a 12 column grid). The Read more links will be bottom aligned once I've added a flex box class.</p>
      </div>

      {% for item in 1..3 %}
        <article data-bk-layout="6 hands:4" class="pad-t">
          <img src="/imgs/placeholders/landscape.jpg" alt="{{ img.title }}">

          <h3 class="font-l  pad-s-t  margin-b">Example title</h3>
          {# DEV NOTE: Output as plain text, no line breaks #}
          <p>Erum que volut <a href="/">mnduciis inus</a> es ipsus, o ictunduciis inus es ipsus, o ictuaxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu repta- tiur sum resequam</p>

          <p data-bk-links="more" class="pad-s-t  font-upper"><a href="#">Read more</a></p>
        </article>

        <article data-bk-layout="6 hands:4" class="pad-t">
          <img src="/imgs/placeholders/landscape.jpg" alt="{{ img.title }}">

          <h3 class="font-l  pad-s-t  margin-b">Headline dummy</h3>
          {# DEV NOTE: Output as plain text, no line breaks #}
          <p>Ictuaxim sinusa seceperio. Ossi sit aligendit el imenduciis inus es ipsus, o ictu repta- tiur sum resequam Erum que volut mnduciis inus es ipsus, o ictunduciis inus es ipsus Erum que volut mnduciis inus es ipsus, o ictunduciis inus es ipsus</p>

          <p data-bk-links="more" class="pad-s-t  font-upper"><a href="#">Read more</a></p>
        </article>
      {% endfor %}
    </div>
  </div>

  <div class="bg-grey--dark  bg-img  color-white  font-l  align-c" style="background-image: url(-/imgs/placeholders/hero.jpg)">
    <div data-bk-layout="pad:large  lap:10">
      <div data-bk-layout="pad:large"data-bk-links="white fade dim underline" class="bg-secondary--trans  pad">
        <h2 class="font-hero  font-thin  pad-s-b">Are you who we’re looking for?</h2>

        <p data-bk-layout="lap:6" class="font-l  font-light  pad-b">
          {# DEV NOTE: put as plain text field, no line breaks #}
          At <a href="/about">Inspire</a> we are always looking for great team memebers so speculative applications are always welcome. Submit your CV today for the chance to inspire.
        </p>

        <p data-bk-links="more"><a class="btn  btn--secondary" href="#">Submit your CV</a></p>
      </div>
    </div>
  </div>

{% endblock %}