{% extends "_layout.twig" %}

{% set title = "Buttons" %}
{% set slug = "buttons" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Description TBC</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 50 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">
      <h2 data-bk-layout="pad:trl" class="font-l">Standard buttons</h2>

      <p data-bk-layout>
        <a class="btn" href="#">No Fill Button</a>
      </p>


      <p data-bk-layout>
        <a class="btn btn--primary" href="#">Primary Button</a>
      </p>

      <p data-bk-layout>
        <a class="btn btn--secondary" href="#">Secondary Button</a>
      </p>

      <p data-bk-layout>
        <a class="btn btn--outline" href="#">Outlined Button</a>
      </p>



      <h3 data-bk-layout="pad:trl" class="font-l">Full width</h3>
      <div data-bk-layout="palm:8 hands:6 desk:4" class="pad-s-t rte">
        <p>
          <a class="btn btn--primary btn--fill" href="#">Fit Container</a>
        </p>

        <p>
          <a class="btn btn--primary btn--fill align-c" href="#">Fit &amp; Centre Text</a>
        </p>

        <p>
          <a class="btn btn--primary btn--fill align-r" href="#">Fit &amp; Right Text</a>
        </p>
      </div>


      <div data-bk-links="primary fade underline-initial">
        <h2 data-bk-layout="pad:trl" class="font-l">Button sizes</h2>

        <p data-bk-layout>Button sizes can be increased or decreased using the <a href="../typography/#font-sizes">font sizing class</a> and the padding will scale accordingly.</p>

        <p data-bk-layout="auto" class="font-xs">
          <a class="btn btn--primary" href="#">Extra Small</a>
        </p>

        <p data-bk-layout="auto" class="font-s">
          <a class="btn btn--primary" href="#">Small</a>
        </p>

        <p data-bk-layout="auto">
          <a class="btn btn--primary" href="#">Default</a>
        </p>

        <p data-bk-layout="auto" class="font-m">
          <a class="btn btn--primary" href="#">Medium</a>
        </p>

        <p data-bk-layout="auto" class="font-l">
          <a class="btn btn--primary" href="#">Large</a>
        </p>

        <p data-bk-layout="auto" class="font-xl">
          <a class="btn btn--primary" href="#">Extra Large</a>
        </p>
      </div>
    </div>
  </div>


  <div class="bg-white--tint pad">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Button Link Features</h3>

      <div data-bk-layout="hands:8 lap:7" data-bk-links="primary fade underline-initial">
        <p>Buttons can seamlessly inherit features from the <a href="../links/">links attribute</a> without the need for additional development. This maintains consistency across links and buttons.</p>

        <h3 class="font-bold pad-t">More</h3>

        <div data-bk-links="more">
          <p><a class="btn btn--secondary" href="./">Read More</p>

          <p class="font-s margin-t">Usage <code>data-bk-links="<strong>more</strong>"</code> (this will apply to <em>all</em> child links)</p>
        </div>

        <h3 class="font-bold pad-l-t">External Link</h3>

        <div data-bk-links="exit">
          <p><a class="btn btn--secondary" href="http://google.com" target="_blank" rel="noopener">Visit Google</p>

          <p class="font-s margin-t">Usage <code>data-bk-links="<strong>exit</strong>"</code> and <code><strong> target="_blank"</strong></code></p>
        </div>

        <h3 class="font-bold pad-l-t">Scroll Down</h3>

        <div data-bk-links="down">
          <p><a class="btn btn--secondary" href="#footer">Go to footer</p>

          <p class="font-s margin-t">Usage <code>data-bk-links="<strong>down</strong>"</code> and <code>href="<strong>#</strong>footer"</code> on the link (doesn't have to be “footer” though)</p>
        </div>

        <h3 class="font-bold pad-l-t">Scroll Up</h3>

        <div data-bk-links="up">
          <p><a class="btn btn--secondary" href="#start">Go to start</p>

          <p class="font-s margin-t">Usage <code>data-bk-links="<strong>up</strong>"</code> and <code>href="<strong>#</strong>start"</code> on the link (doesn't have to be “start” though)</p>
        </div>

        <h3 class="font-bold pad-l-t">Download</h3>

        <div data-bk-links="download">
          <p><a class="btn btn--secondary" href="./" download>Download this file</p>

          <p class="font-s margin-t">Usage <code>data-bk-links="<strong>download</strong>"</code> and <code><strong>download</strong></code> attribute on the link</p>
        </div>
      </div>

      {# <div data-bk-layout="hands:4 lap:4 lap:pr:1" class="pad-b">
        <div class="alert alert--simple font-s">
          <h4 class="font-n margin-b"><strong>Note for developers</strong></h4>

          <p>These link styles <strong>can</strong> be applied to button style links, because that makes sense 😊</p>
        </div>
      </div>
    </div> #}
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}