{% extends "_layout.twig" %}

{% set title = "Buttons" %}
{% set slug = "buttons" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="s:9 m:8 l:7" class="rte">
        <p class="font-m">Buttons can be tricky little buggers to get right. With the exception of the simple Primary and Secondary styles, buttons will almost always be styled depending on the project and can quickly become unwieldy.</p>

        <p>Some projects demand complex button combinations while others may not demand more than the standard set. The trickiness comes when dealing with a button’s background colour, hover state colour, text colour (hover and normal states) <i>and</i> the colour of whatever the background is behind the button.</p>

        <p>The best course of action (and this is really for the designers) is to start with and try to keep things simple. Don’t combine too many combinations and be wary of where buttons are used.</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 50 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">

      <div data-bk-layout="pad:trl m:4"class="pad-b">
        <h2 class="font-l">Standard buttons</h2>

        <div class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <div data-bk-layout="pad:large">
            <p>
              <a class="btn-primary" href="#">Primary Button</a>
            </p>

            <p class="margin-t">
              <a class="btn-secondary" href="#">Secondary Button</a>
            </p>

            <p class="margin-t">
              <a class="btn-empty" href="#">Empty Button</a>
            </p>
          </div>

          <dl data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            <dt class="inline w-auto">Usage</dt>
            <dd class="float-r">
              <code>class="<strong>btn-primary</strong>"</code>
            </dd>
          </dl>
        </div>
      </div>


      <div data-bk-layout="pad:trl m:4"class="pad-b">
        <h2 class="font-l">Form field buttons</h2>
        <div class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <div data-bk-layout="pad:large">
            <p>
              <button class="btn-primary" type="button" name="button">Button</button>
            </p>

            <p class="margin-t">
              <input class="btn-primary" type="submit" name="input" value="Submit Input">
            </p>

            <p class="margin-t">
              <input class="btn-primary" type="button" name="input" value="Button Input">
            </p>
          </div>

          <dl data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            <dt class="inline w-auto">Usage</dt>
            <dd class="float-r">
              <code>&lt;button class="btn-primary"…</code>
            </dd>
          </dl>
        </div>
      </div>



      <div data-bk-layout="pad:trl m:4"class="pad-b">
        <h2 class="font-l">Fit width</h2>
        <div class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <div data-bk-layout="pad:large">
            <p>
              <a class="btn-primary w-100" href="#">Fit width</a>
            </p>

            <p class="margin-t">
              <a class="btn-primary w-100 align-c" href="#">Fit &amp; Centre Text</a>
            </p>

            <p class="margin-t">
              <a class="btn-primary w-100 align-r" href="#">Fit &amp; Right Text</a>
            </p>
          </div>

          <dl data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            <dt class="inline w-auto">Usage</dt>
            <dd class="float-r">
              <code>class="btn-primary <strong>w-100</strong>"</code>
            </dd>
          </dl>
        </div>
      </div>


      <div data-bk-links="primary fade underline-initial">
        <h2 data-bk-layout="pad:trl" class="font-l">Button sizes</h2>

        <p data-bk-layout="s:9 s:pl:3 m:8 m:pl:4 l:7 l:pl:5">Button sizes can be increased or decreased using the <a href="../typography/#font-sizes">font sizing class</a> and the padding will scale accordingly.</p>

        <div data-bk-layout="pad:rbl">
          <div class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p data-bk-layout="auto" class="font-xs">
                <a class="btn-primary" href="#">Extra Small</a>
              </p>

              <p data-bk-layout="auto" class="font-s">
                <a class="btn-primary" href="#">Small</a>
              </p>

              <p data-bk-layout="auto">
                <a class="btn-primary" href="#">Default</a>
              </p>

              <p data-bk-layout="auto" class="font-m">
                <a class="btn-primary" href="#">Medium</a>
              </p>

              <p data-bk-layout="auto" class="font-l">
                <a class="btn-primary" href="#">Large</a>
              </p>

              <p data-bk-layout="auto" class="font-xl">
                <a class="btn-primary" href="#">Extra Large</a>
              </p>
            </div>

            <dl data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
              <dt class="inline w-auto">Usage</dt>
              <dd class="float-r">
                Define a <a href="../typography/#font-sizes">font size class</a> on the parent of the button.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-white--tint pad">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Button Icons</h3>

      <div data-bk-layout="m:8 m:pl:4 l:7 l:pl:5" data-bk-links="primary fade underline-initial">
        <p>Buttons can seamlessly inherit features from the <a href="../links/">links attribute</a> without the need for additional development. This maintains consistency across links and buttons.</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Right</h3>

        <p><a class="arrow-r btn-secondary" href="./">Read More</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Left</h3>

        <p><a class="arrow-l btn-secondary" href="./">Return</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Scroll Down</h3>

        <p><a class="arrow-down btn-secondary" href="#footer">Go to footer</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Scroll Up</h3>

        <p><a class="arrow-up btn-secondary" href="#start">Go to start</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">External Link</h3>

        <p><a class="arrow-exit btn-secondary" href="http://google.com" target="_blank" rel="noopener">Visit Google</p>
      </div>

      <div data-bk-layout="s:6 m:4 l:3">
        <h3 class="font-bold">Download</h3>

        <p><a class="arrow-dl btn-secondary" href="./" download>Download this file</p>
      </div>

      {# <div data-bk-layout="m:4 l:4 l:pr:1" class="pad-b">
        <div class="alert alert--simple font-s">
          <h4 class="font-n margin-b"><strong>Note for developers</strong></h4>

          <p>These link styles <strong>can</strong> be applied to button style links, because that makes sense 😊</p>
        </div>
      </div>
    </div> #}
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}