{% extends "_layout.twig" %}

{% set title = "Buttons" %}
{% set slug = "buttons" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-grey--lighter">
    <section class="site-container  pad">

      <h2 data-bk-layout="pad:rl" class="font-xl">{{ title }}</h2>

      <div data-bk-layout="lap:7" class="rte">
        <p class="font-m">Description TBC</p>
      </div>

    </section>
  </div>

  <div class="bg-white">
    <section class="site-container  pad">
      <h2 data-bk-layout="pad:rl" class="font-xl">{{ title }} on light background</h2>

      <p data-bk-layout>
        <a class="btn" href="#">Primary Button</a>
      </p>

      <p data-bk-layout>
        <a class="btn  btn--secondary" href="#">Secondary Button</a>
      </p>

      <div class="pad-s-t">
        <p data-bk-layout="4">
          <a class="btn  btn--fill" href="#">Fit Container</a>
        </p>

        <p data-bk-layout="4 center">
          <a class="btn  btn--fill" href="#">Centre Text</a>
        </p>

        <p data-bk-layout="4 right">
          <a class="btn  btn--fill" href="#">Right Text</a>
        </p>
      </div>


      <div class="pad-s-t">
        <p data-bk-layout="auto" class="font-xs">
          <a class="btn" href="#">Extra Small</a>
        </p>

        <p data-bk-layout="auto" class="font-s">
          <a class="btn" href="#">Small</a>
        </p>

        <p data-bk-layout="auto">
          <a class="btn" href="#">Default</a>
        </p>

        <p data-bk-layout="auto" class="font-m">
          <a class="btn" href="#">Medium</a>
        </p>

        <p data-bk-layout="auto" class="font-l">
          <a class="btn" href="#">Large</a>
        </p>

        <p data-bk-layout="auto" class="font-xl">
          <a class="btn" href="#">Extra Large</a>
        </p>
      </div>


      <div class="pad-s-t">
        <p data-bk-links="download" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="file.jpg" download>Download button</a>
        </p>

        <p data-bk-links="up" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="#start">Back to top</a>
        </p>

        <p data-bk-links="down" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="#footer">Down to footer</a>
        </p>

        <p data-bk-links="more" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="/demo/">Read more</a>
        </p>

        <p data-bk-links="exit" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="https://github.com/fortytwostudio/basekit" target="_blank" rel="noopener">External link</a>      </p>
      </div>
    </div>
  </div>

  <div class="bg-grey--dark">
    <div id="buttons-secondary" tabindex="-1" class="site-container  pad">
      <h2 data-bk-layout="pad:rbl" class="font-xl  color-white  pad-s-b">{{ title }} on dark background</h2>

      <p data-bk-layout>
        <a class="btn" href="#">Primary Button</a>
      </p>

      <p data-bk-layout>
        <a class="btn  btn--secondary" href="#">Secondary Button</a>
      </p>

      <div class="pad-s-t">
        <p data-bk-layout="4">
          <a class="btn  btn--fill" href="#">Fit Container</a>
        </p>

        <p data-bk-layout="4 center">
          <a class="btn  btn--fill" href="#">Centre Text</a>
        </p>

        <p data-bk-layout="4 right">
          <a class="btn  btn--fill" href="#">Right Text</a>
        </p>
      </div>


      <div class="pad-s-t">
        <p data-bk-layout="auto" class="font-xs">
          <a class="btn" href="#">Extra Small</a>
        </p>

        <p data-bk-layout="auto" class="font-s">
          <a class="btn" href="#">Small</a>
        </p>

        <p data-bk-layout="auto">
          <a class="btn" href="#">Default</a>
        </p>

        <p data-bk-layout="auto" class="font-m">
          <a class="btn" href="#">Medium</a>
        </p>

        <p data-bk-layout="auto" class="font-l">
          <a class="btn" href="#">Large</a>
        </p>

        <p data-bk-layout="auto" class="font-xl">
          <a class="btn" href="#">Extra Large</a>
        </p>
      </div>


      <div class="pad-s-t">
        <p data-bk-links="download" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="file.jpg" download>Download button</a>
        </p>

        <p data-bk-links="up" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="#start">Back to top</a>
        </p>

        <p data-bk-links="down" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="#footer">Down to footer</a>
        </p>

        <p data-bk-links="more" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="/demo/">Read more</a>
        </p>

        <p data-bk-links="exit" data-bk-layout="auto">
          <a class="btn  btn--secondary" href="https://github.com/fortytwostudio/basekit" target="_blank" rel="noopener">External link</a>
        </p>
      </div>
    </div>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}