{% extends "_layout.twig" %}

{% set title = "Links" %}
{% set slug = "links" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">

      <div data-bk-layout="lap:7" class="rte">
        <h2 class="font-xl">{{ title }}</h2>

        <p class="font-m">…</p>
      </div>

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">
      <div data-bk-layout="lap:7" class="rte">
        <h3 class="font-l">Primary links</h3>
        <p data-bk-links="primary fade underline">
          Vivamus massa odio, <a href="#">dignissim ac ante at</a>, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. <a href="#">Fusce semper odio et gravida interdum</a>.
        </p>

        <h3 class="font-l">Secondary link</h3>
        <p data-bk-links="secondary fade underline">
          Vivamus massa odio, <a href="#">dignissim ac ante at</a>, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. <a href="#">Fusce semper odio et gravida interdum</a>.
        </p>

        <h3 class="font-l">White links on dark background</h3>
        <p data-bk-layout data-bk-links="white dim fade underline" class="bg-grey--dark  color-white">
          Vivamus massa odio, <a href="#">dignissim ac ante at</a>, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. <a href="#">Fusce semper odio et gravida interdum</a>.
        </p>

        <h3 class="font-l">Links within headings</h3>
        <h4 data-bk-links="inherit dim fade underline-hover" class="font-m">Heading uses default text colour <a href="#">with an inherited link colour</a></h4>
        <h4 data-bk-links="primary fade underline" class="font-m  color-primary">Heading uses primary colour <a href="#">with an primary link colour</a></h4>
        <h4 data-bk-links="secondary fade underline" class="font-m  color-secondary">Heading uses secondary colour <a href="#">with a secondary link colour</a></h4>
      </div>
    </div>
  </section>
</div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}