{% extends "_layout.twig" %}

{% set title = "Links" %}
{% set slug = "links" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-grey--light">
    <section class="site-container  pad">
      <h2 data-bk-layout="pad:rbl" class="font-xl">{{ title }}</h2>

      <div data-bk-layout="lap:7" class="rte">
        <p>
          For years the traditional mathod of styling links would inevitably over
          time drive me insane with specificity problems and overrides. So eventually
          I came to the conclusion that links should simply be scoped, via classes.
        </p>

        <p>
          This does mean that you have to be sure to catch every link in your templates,
          otherwise they'll appear unstyled. It also means you'll be using unsemantic
          blah blah blah classes. However it does produce easier to maintain code with
          fewer long-term headaches. Just create a link style on a class and stick it
          where it needs to go in your markup (be sensible!).
        </p>
      </div>

    </section>
  </div>

  <div class="bg-white">
    <section class="site-container  pad">

      <h3 data-bk-layout="pad:trl" class="font-l">Primary links</h3>
      <p data-bk-layout="pad:rbl lap:7" data-bk-links="primary fade underline">
        Vivamus massa odio, <a href="#">dignissim ac ante at</a>, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. <a href="#">Fusce semper odio et gravida interdum</a>.
      </p>

      <h3 data-bk-layout="pad:trl" class="font-l">Secondary link</h3>
      <p data-bk-layout="pad:rbl lap:7" data-bk-links="secondary fade underline">
        Vivamus massa odio, <a href="#">dignissim ac ante at</a>, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. <a href="#">Fusce semper odio et gravida interdum</a>.
      </p>

      <h3 data-bk-layout="pad:trl" class="font-l">White links on dark background</h3>
      <div data-bk-layout="pad:rbl lap:7">
        <p data-bk-layout data-bk-links="white dim fade underline" class="bg-grey--dark  color-white">
          Vivamus massa odio, <a href="#">dignissim ac ante at</a>, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue. <a href="#">Fusce semper odio et gravida interdum</a>.
        </p>
      </div>


      <h3 data-bk-layout="pad:trl" class="font-l">Links within headings</h3>
      <div data-bk-layout="pad:rbl lap:7">
        <h4 data-bk-links="inherit dim fade underline-hover" class="font-m">Heading uses default text colour <a href="#">with an inherited link colour</a></h4>
        <h4 data-bk-links="primary fade underline" class="font-m  color-primary">Heading uses primary colour <a href="#">with an primary link colour</a></h4>
        <h4 data-bk-links="secondary fade underline" class="font-m  color-secondary">Heading uses secondary colour <a href="#">with a secondary link colour</a></h4>
      </div>
    </div>
  </section>
</div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}