@each $border-radius-size in $border-radius-sizes {
  .br-#{index($border-radius-sizes, $border-radius-size)} { border-radius: $border-radius-size; }
}

.br-0 { border-radius: 0; }
.br-100, .br-round { border-radius: 100%; }
.br-pill { border-radius: 9999px; }

.br-b { border-top-left-radius: 0; border-top-right-radius: 0; }
.br-t { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.br-r { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.br-l { border-top-right-radius: 0; border-bottom-right-radius: 0; }