@each $border-radius-size, $border-radius-value in $border-radius-sizes {
  .br-#{$border-radius-size} {
    border-radius: $border-radius-value;
  }
}

.br-0 {
  border-radius: 0;
}

.br-100,
.br-round {
  border-radius: $br-round;
}

.br-pill {
  border-radius: $br-pill;
}

.br-b {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.br-t {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.br-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.br-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}