// Colours can be found in the project/_colors.scss file.

.bdr-a {
  border-style: solid;
  border-width: $border-width-default;
}

.bdr-t,
.bdr-x {
  border-top-style: solid;
  border-top-width: $border-width-default;
}

.bdr-r,
.bdr-y {
  border-right-style: solid;
  border-right-width: $border-width-default;
}

.bdr-b,
.bdr-x {
  border-bottom-style: solid;
  border-bottom-width: $border-width-default;
}

.bdr-l,
.bdr-y {
  border-left-style: solid;
  border-left-width: $border-width-default;
}

@each $border-size, $border-value in $borders {
  .bdr-#{$border-size} {
    border-width: $border-value;
  }
}

.bdr-0 {
  border-width: 0;
}

.bdr-0-t,
.bdr-0-y {
  border-top-width: 0;
}

.bdr-0-r,
.bdr-0-x {
  border-right-width: 0;
}

.bdr-0-b,
.bdr-0-y {
  border-bottom-width: 0;
}

.bdr-0-l,
.bdr-0-x {
  border-left-width: 0;
}