// Based on FormHack v1.2.0 (formhack.io)

.bk-form {
  // Global Reset Styles
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width: rem(600px)) {
    font-size: rem(16px);
  }

  input,
  textarea,
  select,
  option,
  optgroup,
  button,
  legend,
  fieldset {
    box-sizing: border-box;
    color: $fh-font-color;
    display: $fh-display;
    font-family: $fh-font-family;
    font-size: $fh-font-size;
    outline: none;
    vertical-align: top;
  }


  datalist {
    font-family: $fh-font-family;
    font-size: $fh-font-size;
  }

  label {
    cursor: pointer;
    display: $fh-display;

    &.required {
      &:after {
        color: darken($alert--warn, 35%);
        content: "*";
        font-size: 112.5%;
        line-height: 1;
        width: auto;
      }
    }
  }


  // Input & Textarea

  // Fields with standard width
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[list],
  input[type="file"],
  select,
  textarea {
    background-color: $fh-input-bg-color;
    border: $fh-border-width $fh-border-style $fh-border-color;
    border-radius: $fh-border-radius;
    padding: $fh-input-height / 5;
    transition: $speed-fast;
    width: $fh-input-width;
  }

  // Fields with standard height
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[list] {
    -webkit-appearance: none;
    height: $fh-input-height;
  }

  // Other
  textarea {
    -webkit-appearance: none;
    overflow: auto;
    resize: vertical;
  }

  input[type="range"] {
    height: $fh-input-height;
    width: $fh-input-width;
  }

  input[type="file"] {
    min-height: $fh-input-height;
  }

  input[type="search"] {
    -webkit-appearance: none;
    height: $fh-input-height;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    // for some reason this moves the label (in chrome at least)
    height: 1.1em;
    position: relative;
    top: -0.05em;
    vertical-align: middle;
  }


  // Select ------------------
  select {
    height: $fh-input-height;

    @if $fh-allow-select-vendor-styling == false {
      appearance: none;

      &::-ms-expand {
        display: none;
      }

      &:not([multiple]) {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAOCAQAAAD3ApbNAAAAXUlEQVR4AdXMsQ2AIBQG4WvJG4LJGIMpmMBZ6FhMieVLNFfq/eWffPygyqTzVmdS0TXOvcFT4/4busLKZOZYFHxEJjNHkNKk5jypOU9qzpOS86TiPGk5Tx57wVe6AJFXOuWN70I1AAAAAElFTkSuQmCC");
        background-position: right center;
        background-size: em(20px) em(7px);
      }
    }
  }

  select[multiple] {
    height: auto;
    min-height: $fh-input-height;
    padding: 0;

    option {
      margin: 0;
      padding: $fh-input-height / 5;
    }
  }

  // Fieldset ------------------

  fieldset {
    @if $fh-fieldset-bare == true {
      border: 0;
    } @else {
      border: $fh-border-width $fh-border-style $fh-border-color;
      border-radius: $fh-border-radius;
      padding: 1em;
    }
  }

  legend {
    @if $fh-fieldset-bare == true {
      @include hide()
    } @else {
      border-radius: $fh-border-radius;
      font-weight: 700;
      padding: 0 5px;
    }
  }

  // Buttons, Input Type Submit/Reset ------------------

  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="image"] {
    // width: $fh-button-width;
    appearance: none;
    background-color: $fh-button-bg-color;
    border: $fh-border-width $fh-border-style $fh-border-color;
    border-radius: $fh-border-radius;
    color: $fh-button-font-color;
    cursor: pointer;
    font-weight: $fh-button-font-weight;
    height: $fh-button-height;
    min-width: $fh-button-max-width;
    padding: ($fh-input-height / 5) $fh-input-height / 2.5;
    transition: $speed-fast;
  }

  input[type="image"] {
    background-color: transparent !important;
    border: 0;
    height: auto;
    padding: 0;
    text-align: center;
  }

  // States ------------------

  label[disabled],
  input[disabled],
  textarea[disabled],
  select[disabled],
  select[disabled] option,
  select[disabled] optgroup,
  option[disabled],
  button[disabled] {
    background-color: #eee !important;
    box-shadow: none !important;
    color: #aaa !important;
    cursor: not-allowed;
  }

  input:focus,
  textarea:focus,
  select:focus,
  option:focus,
  button:focus  {
    background-color: $fh-focus-bg-color;
    border-color: $fh-focus-border-color;
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    background-color: $fh-button-hover-bg-color;
  }

  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="image"]:hover,
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="image"]:focus {
    background-color: $fh-button-hover-bg-color;
    color: $fh-button-hover-font-color;
  }
}