.no-outline {
  outline: 0;
}

.skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(black, 0.2);
  clip: rect(1px, 1px, 1px, 1px);
  color: color(secondary) !important;
  display: block;
  font-weight: 700;
  height: 1px;
  left: -9999em;
  overflow: hidden;
  padding: 1em 1.25em;
  position: absolute !important;
  top: -9999em;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: $z-max;
  }
}