html {
  box-sizing: border-box;
  height: 100%;
}

* {
  &,
  &:before,
  &:after {
    // It's rare that bg repeat is needed in most designs so for convinience
    // let's just disable repeating globally.
    background-repeat: no-repeat;
    // Inherit the html box sizing.
    box-sizing: inherit;
    // Dirty reset but small and fast enough.
    margin: 0;
    padding: 0;
  }
}

body {
  backface-visibility: hidden;
  background-color: $color-body;
  color: $color-text;
  font-family: $font-family;
  font-size: (($font-size / ($font-size * 0 + 1)) / 16) * 1em;
  line-height: $font-line-height;
  text-rendering: optimizeLegibility;
  // Prevents iOS (in particular) from screwing with the intended text sizing.
  text-size-adjust: 100%;
}

a,
area,
button,
label,
select,
textarea {
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
  // Disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. This is an alias for "pan-x pan-y pinch-zoom" (which, for compatibility, is itself still valid).
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  // Match document font size by default, overriding the browser defaults.
  font-size: (($font-size / ($font-size * 0 + 1)) / 16) * 1rem;
  font-weight: $font-weight-headings;
  // Match document line height, overriding the browser defaults.
  line-height: $font-line-height;
}

img,
picture,
svg,
iframe {
  display: block;
  max-width: 100%;
}

// pre {
//   white-space: pre-wrap;
// }
//
// code {
//   background-color: $code-bg-color;
//   border-radius: 0.2rem;
//   border: $code-border;
//   color: $code-text-color;
//   display: inline-block;
//   font-family: $font-family--mono;
//   font-size: $code-font-size;
//   padding: 0.15rem 0.3333rem;
//   white-space: pre-wrap;
// }

table {
  border-collapse: collapse;
  border-left: $tables-width solid $tables-color;
  border-spacing: 0;
  border-top: $tables-width solid $tables-color;
  min-width: 100%;
}

th,
td {
  border-bottom: $tables-width solid $tables-color;
  border-right: $tables-width solid $tables-color;
  min-width: 4em;
  padding: rem($margin * 1px);
  vertical-align: top;
}