{% extends "_layout.twig" %}

{% set title = "Typography" %}
{% set slug = "typography" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Well shit, I should write an intro…</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 75 } %}
    </section>
  </div>

  <div class="bg-tertiary--lighter pad">
    <section class="site-container">
      <h3 data-bk-layout class="font-xxl font-thin">Font Stacks</h3>

      <div data-bk-layout="lap:4">
        <h4 class="font-m">Default <strong>sans-serif</strong></h4>
        <p data-bk-layout="pad:tb pad:small" class="font-s"><code data-bk-layout="pad:small">-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'arial', sans-serif</code></p>
      </div>
      <div data-bk-layout="lap:4">
        <h4 class="font-m">Default <strong>serif</strong></h4>
        <p data-bk-layout="pad:tb pad:small" class="font-s"><code data-bk-layout="pad:small">georgia, 'nimbus roman no9 l', freeserif, times, 'times new roman', serif</code></p>
      </div>
      <div data-bk-layout="lap:4">
        <h4 class="font-m">Default <strong>monospace</strong></h4>
        <p data-bk-layout="pad:t pad:small" class="font-s"><code data-bk-layout="pad:small">'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace</code></p>
      </div>
    </section>
  </div>

  <div class="bg-white pad" id="font-sizes">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Font Sizes</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>In Basekit all headings are set to the same size by default, since it is not necessarily true that you would want a large h1 and a small h4. Sometimes you might want them to be the same size, othertimes it may be have visual weight that does not consist with semantic weight.</p>

        <p>Due to this, Basekit abstracts out font weights and styles to specific utility classes which must be applied to get the desired style. Otherwise all headings and text sizes will, for the most part, remain the same. This also has the added advantage of being able to apply consistent styles to <em>any</em> text elements, regardless of the markup.</p>
      </div>

      <h4 data-bk-layout="pad:trl" class="font-m"><b>Fluid</b> Sizes</h4>

      <ol data-bk-layout="pad:0 bottom" class="color-grey--dark">
        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-hero color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Hero <code class="float-r">.font--hero</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-xxl color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Largest <code class="float-r">.font--xxl</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-xl color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Larger <code class="float-r">.font--xl</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-l color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Large <code class="float-r">.font--l</code></dd>
          </dl>
        </li>
      </ol>

      <h4 data-bk-layout="pad:trl" class="font-m"><b>Fixed</b> Sizes</h4>

      <ol data-bk-layout="pad:0 bottom" class="color-grey--dark">
        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-m color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Medium <code class="float-r">.font--m</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white--tint" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-n color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Normal <code class="float-r">.font--n</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-s color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Small <code class="float-r">.font--s</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-xs color-secondary">Aa</dt>
            <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Smaller <code class="float-r">.font--xs</code></dd>
          </dl>
        </li>
      </ol>
    </section>
  </div>

  <div class="bg-white--tint pad" id="multi-line">
    <section class="site-container">

      <h3 data-bk-layout="pad:trl" class="font-l">Multi-line Examples</h3>

      <div data-bk-layout="lap:8" class="rte">
        <p>As fonts get increase or decrease in size from the default value their line-height also adjusts relative to the font size. At smaller font sizes this does not tend to be a problem, but at larger sizes the line height can increase too far.</p>
      </div>

      <ol data-bk-layout="pad:0 bottom" class="color-primary">
        <li data-bk-layout class="font-hero | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-xxl | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-xl | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-l | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-m | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-n | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-s | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-xs">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>
      </ol>
    </section>
  </div>

  <div class="bg-white pad-t" id="font-styles">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Font Styles</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>The following examples show how the specified classes can alter the style of a font. Additional classes can be created if required, or classes can be removed if they're not necessary.</p>
      </div>

      <div data-bk-layout="lap:4 lap:pr:1" class="pad-b">
        <div class="alert alert--simple font-s">
          <h3 class="font-n margin-b"><strong>Note for developers</strong></h3>

          <p>You might wonder why classes are used instead of emphasis tags. Basically, if the content needs semantic emphasis then use a tag but if it's just for stylistic purpose (making a heading bold for example) then use one of the classes.</p>
        </div>
      </div>

      <ol data-bk-layout="pad:0 bottom" class="color-tertiary--dark | margin-b">
        <li data-bk-layout="lap:6" class="pad-b">
          <div data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p class="font-bold font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
              <p class="font-bold font-m | block">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
            </div>

            <p data-bk-layout="pad:small" class="font-s color-text" style="border-top: 1px solid #ccc">Bold <code class="float-r">class="font-bold"</code></p>
          </div>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <div data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p class="font-thin font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
              <p class="font-thin font-m | block">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
            </div>

            <p data-bk-layout="pad:small" class="font-s color-text" style="border-top: 1px solid #ccc">Thin <code class="float-r">class="font-thin"</code></p>
          </div>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <div data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p class="font-italic font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
              <p class="font-italic font-m | block">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
            </div>

            <p data-bk-layout="pad:small" class="font-s color-text" style="border-top: 1px solid #ccc">Italic <code class="float-r">class="font-italic"</code></p>
          </div>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <div data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p class="font-normal font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
              <p class="font-normal font-m | block">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
            </div>

            <p data-bk-layout="pad:small" class="font-s color-text" style="border-top: 1px solid #ccc">Normal <code class="float-r">class="font-normal"</code></p>
          </div>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <div data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p class="font-upper font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
              <p class="font-upper font-m | block">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
            </div>

            <p data-bk-layout="pad:small" class="font-s color-text" style="border-top: 1px solid #ccc">Upper <code class="float-r">class="font-upper"</code></p>
          </div>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <div data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <div data-bk-layout>
              <p class="font-alt font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
              <p class="font-alt font-m | block">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
            </div>

            <p data-bk-layout="pad:small" class="font-s color-text" style="border-top: 1px solid #ccc">Alt Font <code class="float-r">class="font-alt"</code></p>
          </div>
        </li>
      </ol>
    </section>
  </div>

  <div class="bg-white--tint  pad-t" id="fluid-fonts">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Fluid font size + paragraphs</h3>

      <div data-bk-layout="lap:7" class="rte">
        <p>The following sample texts allow you to compare the heading sizes against paragraph text at large and small screen sizes. Most heading sizes (except medium) will adjust in size depending on the screen width, this can sometimes look poor at the smallest size range. However, it only requires tweaking of the smallest value.</p>

        <p>The medium font size is best suited to lead and standfirst copy rather than headings due to its closeness to the body copy size.</p>
      </div>

      <div data-bk-layout="lap:6" class="pad-l-b rte">
        <h3><span class="font-xxl font-normal">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>

        <h3><span class="font-xl font-normal">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>

        <h3><span class="font-l font-normal">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>

        <h3><span class="font-m font-normal">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>
      </div>

      <div data-bk-layout="lap:6" class="pad-l-b rte">
        <h3><span class="font-xxl font-bold">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>

        <h3><span class="font-xl font-bold">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>

        <h3><span class="font-l font-bold">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>

        <h3><span class="font-m font-bold">Into the wind</span></h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>

        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam.</p>
      </div>
    </section>
  </div>

  <div class="bg-white  pad" id="rte">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Rich-text editor / User content</h3>

      <div data-bk-layout="lap:7" data-bk-links="primary fade underline" class="rte">
        <p>Rich-text content is, typically, content output by the <strong>Content Management System</strong> and written by the user in a <strong>Rich-Text Editor</strong> field. Here we tightly scope the content from the rest of the website content to reduce conflicts or the need to reset styles.</p>

        <p>Link styles are handled by a separate <a href="../links/">link scope selector</a> rather than the <code>.rte</code> class, this allows greater freedom when styling links.</p>

        <p>The goal of the <code>.rte</code> scope class is to cover as many common situations as is sensible without creating too much unused CSS. Users should not have free reign with rich-text editors otherwise they can quickly cause mayhem.</p>
      </div>

      <div data-bk-layout="lap:4 lap:pr:1" class="pad-b">
        <div class="alert alert--simple font-s">
          <h3 class="font-bold margin-b"><strong>Note for developers</strong></h3>

          <p>The <code>.rte</code> class sets heading styles that <em><strong>will</strong></em> override some <code>.font-*</code> classes. Keep this in mind and try to use the class only where necessary and try to wrap only the required content.</p>
        </div>
      </div>


      <div data-bk-layout="lap:6">
        <div data-bk-layout data-bk-links="primary fade underline" class="rte bg-white | br-1 shadow" style="border: 1px solid #ccc;">
          {% include "reference/typography/_rte-content.twig" %}
        </div>
      </div>

      <div data-bk-layout="lap:6">
        <div data-bk-layout data-bk-links="white dim fade underlin" class="rte bg-primary--darker color-white--tint | br-1 shadow">
          {% include "reference/typography/_rte-content.twig" %}
        </div>
      </div>
    </section>
  </div>

  <div class="no-js-hide | bg-tertiary--light align-c pad-l">
    <section class="site-container">
      <div data-bk-layout="lap:6" data-bk-links="white dim fade underline">
        <h3 class="font-hero font-thin color-primary--darker pad-b">
          fontoggler
        </h3>

        <p class="font-m color-primary--darker">See how different fonts impact Basekit default settings.</p>

        <p class="color-black--tint margin-t">Type the name of any font you have on your machine in the field below and press enter. For example: <i>avenir</i>, <i>verdana</i>, or <i>"comic sans ms"</i>. Basekit will then take on that font for a day or you can hit enter in an empty field to return to normal.</p>

        <div data-bk-layout="7" class="bk-form font-m pad-l-t">
          <input class="fontoggler align-c shadow" type="text" placeholder="Change the font…" id="fontoggler" style="border-width:0!important;">
        </div>
      </div>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}