{% extends "_layout.twig" %}

{% set title = "Typography" %}
{% set slug = "typography" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout="pad:trl" class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Responsive, viewport based, fonts should be restricted to use on headings and isolated blocks of text. Avoid using it on copy paragraphs and long blocks of text.

        <p>I would also advise against using medium or large sizes nearby normal (non-responsive) blocks of text because these viewport based texts can actually end up <em>smaller</em> at certain screen sizes.</p>

        <p>I've never been a fan of styling <code>h1, h2, h3</code>, etc directly or by tying their size and style to their heading number. What if h2 and h4 should visually look the same but not in every instance? Over time and with multiple maintainers the CSS and HTML end up tied in knots.</p>

        <p>The solution is simple; just define font styles to utility classes and apply where required regardless of the markup. If you want to style one list item to look like some hero text, go right ahead! It does not matter, the semantics are in your HTML markup and content.</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 60 } %}

      <div data-bk-layout="lap:4">
        <h4 class="font-m">Default <strong>sans-serif</strong></h4>
        <p data-bk-layout="pad:tb pad:small" class="font-s"><code data-bk-layout="pad:small">-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'arial', sans-serif</code></p>
      </div>
      <div data-bk-layout="lap:4">
        <h4 class="font-m">Default <strong>serif</strong></h4>
        <p data-bk-layout="pad:tb pad:small" class="font-s"><code data-bk-layout="pad:small">georgia, 'nimbus roman no9 l', freeserif, times, 'times new roman', serif</code></p>
      </div>
      <div data-bk-layout="lap:4">
        <h4 class="font-m">Default <strong>monospace</strong></h4>
        <p data-bk-layout="pad:t pad:small" class="font-s"><code data-bk-layout="pad:small">'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace</code></p>
      </div>

    </section>
  </div>

  <div class="bg-white pad" id="font-sizes">
    <section class="site-container">
      <div data-bk-layout="lap:8" class="rte">
        <h3 class="font-xl">Font Sizes</h3>

        <p>In Basekit all headings are set to the same size by default, since it is not necessarily true that you would want a large h1 and a small h4. Sometimes you might want them to be the same size, othertimes it may be have visual weight that does not consist with semantic weight.</p>

        <p>Due to this, Basekit abstracts out font weights and styles to specific utility classes which must be applied to get the desired style. Otherwise all headings and text sizes will, for the most part, remain the same. This also has the added advantage of being able to apply consistent styles to <em>any</em> text elements, regardless of the markup.</p>
      </div>

      <ol data-bk-layout="pad:0 bottom" class="color-grey--dark">
        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-hero color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small pad:trl" class="font-s" style="border-top: 1px solid #ccc">Hero</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--hero</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-xxl color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small pad:trl" class="font-s" style="border-top: 1px solid #ccc">Largest</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--xxl</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-xl color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Larger</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--xl</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-l color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Large</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--l</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-m color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Large</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--m</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-n color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Normal</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--n</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-s color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Small</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--s</code></dd>
          </dl>
        </li>

        <li data-bk-layout="6 palm:4 desk:3">
          <dl data-bk-layout="pad:0" class="br-1 shadow bg-white" style="border: 1px solid #ccc;">
            <dt data-bk-layout="center" class="font-xs color-secondary">Aa</dt>
            {# <dd data-bk-layout="pad:small" class="font-s" style="border-top: 1px solid #ccc">Smaller</dd> #}
            <dd data-bk-layout="pad:small" class="font-xs" style="border-top: 1px solid #ccc"><code>.font--xs</code></dd>
          </dl>
        </li>
      </ol>
    </section>
  </div>

  <div class="bg-white--tint pad" id="multi-line">
    <section class="site-container">

      <div data-bk-layout="lap:8" class="rte">
        <h3 class="font-xl">Multi-line Examples</h3>

        <p>As fonts get increase or decrease in size from the default value their line-height also adjusts relative to the font size. At smaller font sizes this does not tend to be a problem, but at larger sizes the line height can increase too far.</p>
      </div>

      <ol data-bk-layout="pad:0 bottom" class="color-primary">
        <li data-bk-layout class="font-hero | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-xxl | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-xl | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-l | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-m | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-n | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-s | margin-b">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>

        <li data-bk-layout class="font-xs">
          Donec id elit non mi porta<br> gravida at eget metus<br> consectetur suada.
        </li>
      </ol>
    </section>
  </div>

  <div class="bg-white pad-t" id="font-styles">
    <section class="site-container">
      <div data-bk-layout="lap:8" class="rte">
        <h3 class="font-xl">Font Styles</h3>

        <p>…</p>
      </div>

      <ol data-bk-layout="pad:0 bottom" class="color-tertiary--dark | margin-b">
        <li data-bk-layout="lap:6" class="pad-b">
          <p class="font-bold font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="font-bold font-m | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="color-text">Usage <code>class="font-bold"</code></p>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <p class="font-thin font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="font-thin font-m | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="color-text">Usage <code>class="font-thin"</code></p>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <p class="font-italic font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="font-italic font-m | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="color-text">Usage <code>class="font-italic"</code></p>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <p class="font-normal font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="font-normal font-m | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="color-text">Usage <code>class="font-normal"</code></p>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <p class="font-upper font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="font-upper font-m | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="color-text">Usage <code>class="font-upper"</code></p>
        </li>

        <li data-bk-layout="lap:6" class="pad-b">
          <p class="font-alt font-xl | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="font-alt font-m | block margin-b">Donec id elit non mi porta gravida at eget metus consectetur suada.</p>
          <p class="color-text">Usage <code>class="font-alt"</code></p>
        </li>
      </ol>
    </section>
  </div>

  <div class="bg-white--tint  pad" id="rte">
    <section class="site-container">
      <div data-bk-layout="lap:8" data-bk-links="primary fade underline" class="rte">

        <h3 class="font-xl">RTE: User Content</h3>

        <p>This is content output from the <strong>Introduction field</strong>, the text is slightly larger in size compared to the rest of other <em>body</em> text and this field is entirely optional.</p>

        <p>Here we will demonstrate a <a href="/">text link style</a>, some <strong>bold text</strong> and <em>italic text</em> to give you an idea of how things will look.</p>

        <p>This is content output from the <strong>Body Text field</strong>, compared to the above the text is normal size and again this field is entirely optional.</p>

        <p>Here we will demonstrate a <a href="/">text link style</a>, some <strong>bold text</strong> and <em>italic text</em> to give you an idea of how things will look.</p>

        <h3 class="font-l">This is an example content heading</h3>

        <ul>
          <li>Nulla facilisi potenti
            <ol>
              <li>Mattis posuere habitant dapibus</li>
              <li>Congue natoque blandit mattis rhoncus</li>
              <li>Vestibulum aptent ultrices</li>
            </ol>
          </li>
          <li>Etiam ac tellus eget ante</li>
          <li class="rte">
            <p>
              Elit platea aliquam odio faucibus sociosqu vestibulum aptent ultrices, augue tempor placerat neque. Id nulla nec hac auctor curabitur nostra accumsan est donec fermentum curabitur!
            </p>

            <p>
              Quis commodo curae; congue natoque blandit mattis rhoncus eleifend fermentum ridiculus per conubia! Pellentesque rutrum magnis varius. Iaculis risus sapien neque fermentum lacinia dui cum elementum molestie litora laoreet.
            </p>

            <p>
              Mattis posuere habitant dapibus sollicitudin tempus tempor facilisis congue libero!
            </p>
          </li>
          <li>Tristique volutpat</li>
        </ul>

        <p>You can also format <em>ordered</em> lists:</p>

        <ol>
          <li>Nulla facilisi potenti</li>
          <li class="rte">Maecenas nec ornare massa
            <ul>
              <li>Mattis posuere habitant dapibus</li>
              <li>Congue natoque blandit mattis rhoncus</li>
              <li>Vestibulum aptent ultrices</li>
            </ul>
          </li>
          <li>Etiam ac tellus eget ante</li>
          <li>Tristique volutpat</li>
        </ol>
      </div>
    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}