<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ siteName }} Dev</title>
</head>
<body>

  {% import 'nav-macro.njk' as nav %}

  {% block content %} {% endblock %}

</body>
</html>