{% macro active(activePage='home') %}
  <nav>
    {% for i in ['home', 'about', 'contact'] %}
      <a href="/{{ i }}" class="{%if activePage == i %}active{% endif %}">{{ i | title }}</a>
    {% endfor %}
  </nav>
{% endmacro %}