@if $padding-spacer-css {

  .#{unquote($padding-spacer-name)} {

    // If percentage spacing is set in the compile options use %, otherwise
    // default to rem sizing
    @if $padding-spacer-is-percentage {
      $padding-spacer: strip-unit($padding-spacer-size) / $max-width * 100%;
    } @else {
      $padding-spacer: rem($padding-spacer-size);
    }

    &,
    &--top {
      padding-top: $padding-spacer!important;
    }

    &,
    &--bottom {
      padding-bottom: $padding-spacer!important;
    }

    &--small {
      &,
      &--top {
        padding-top: $padding-spacer / 2!important;
      }

      &,
      &--bottom {
        padding-bottom: $padding-spacer / 2!important;
      }
    }

    &--large {
      &,
      &--top {
        padding-top: $padding-spacer * 2!important;
      }

      &,
      &--bottom {
        padding-bottom: $padding-spacer * 2!important;
      }
    }

    // Set max dimensions to prevent huge spaces at large screen sizes
    // Only applies if spacing is in % and isn't necessary for small padding
    @if $padding-spacer-is-percentage == false {

      @include mq(px($max-width)) {

        &,
        &--top {
          @include rem(padding-top, $padding-spacer-size);
        }

        &,
        &--bottom {
          @include rem(padding-bottom, $padding-spacer-size);
        }

        &--small {
          &,
          &--top {
            @include rem(padding-top, $padding-spacer-size / 2);
          }

          &,
          &--bottom {
            @include rem(padding-bottom, $padding-spacer-size / 2);
          }
        }

        &--large {
          &,
          &--top {
            @include rem(padding-top, $padding-spacer-size * 2);
          }

          &,
          &--bottom {
            @include rem(padding-bottom, $padding-spacer-size * 2);
          }
        }

      }
    }
  }

}
