@if $fit-media-css {

  .fit-media {
    @include transform-style(preserve-3d);
    @include fit-media;

    @if $fit-media-fallback-css {
      &--fallback {
        z-index: z(min)
      }
    }
  }

}