@if $form-error-css {

  .#{unquote($form-error-name)} {
    color: $error-text;
    line-height: 1;
    position: relative;
    @include rem(padding, px($margin));
    margin: 5px 0 0;
    background-color: $error-bg;

    &:before {
      position: absolute;
      top: -10px;
      left: px($margin);
      content: "";
      width: 0;
      height: 0;
      background: transparent;
      border: 10px solid;
      border-width: 0 12px 18px 12px;
      border-color: transparent transparent $error-bg transparent;
    }
  }

}