{% extends "_layout.twig" %}

{% set title = "Tables" %}
{% set slug = "tables" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="s:9 m:8 l:7" class="rte">
        <p class="alert alert--simple">Work in progress</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 60 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">
      <div data-bk-layout>

        <h3 class="font-l pad-s-t">Standard Table</h3>

        <table class="margin-t">
          <caption class="align-l">Jimi Hendrix - albums</caption>
          <thead>
            <tr>
              <th>Album</th>
              <th>Year</th>
              <th>Price</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Album</th>
              <th>Year</th>
              <th>Price</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Are You Experienced</td>
              <td>1967</td>
              <td>$10.00</td>
            </tr>
            <tr>
              <td>Axis: Bold as Love</td>
              <td>1967</td>
              <td>$12.00</td>
            </tr>
            <tr>
              <td>Electric Ladyland</td>
              <td>1968</td>
              <td>$10.00</td>
            </tr>
            <tr>
              <td>Band of Gypsys</td>
              <td>1970</td>
              <td>$12.00</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div data-bk-layout class="pad-t">
        <h3 class="font-l">Responsive Overflowing Table</h3>

        <div class="overflow-table margin-t">
          <div class="overflow-table__inner">
            <table>
              <thead>
                <tr>
                  <th colspan="5">Roller Reamer Data</th>
                  <th colspan="4">String or nearbit undressed</th>
                </tr>
                <tr>
                  <th colspan="5">&nbsp;</th>
                  <th colspan="2">3 Point</th>
                  <th colspan="2">6 Point</th>
                </tr>
                <tr>
                  <th>Redress Kit Size</th>
                  <th>Max Body Diameter</th>
                  <th>Body Bore</th>
                  <th>Fishing Neck Length</th>
                  <th>Fishing Neck Diameter</th>
                  <th>Total Length</th>
                  <th>Body Weight</th>
                  <th>Total Length</th>
                  <th>Body Weight</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>299</td>
                  <td>5 3/8</td>
                  <td>1 1/2</td>
                  <td>21 1/2</td>
                  <td>4 3/4</td>
                  <td>75</td>
                  <td>150kg</td>
                  <td>94</td>
                  <td>232kg</td>
                </tr>
                <tr>
                  <td>299</td>
                  <td>5 3/8</td>
                  <td>1 1/2</td>
                  <td>21 1/2</td>
                  <td>4 3/4</td>
                  <td>75</td>
                  <td>150kg</td>
                  <td>94</td>
                  <td>232kg</td>
                </tr>
                <tr>
                  <td>299</td>
                  <td>5 3/8</td>
                  <td>1 1/2</td>
                  <td>21 1/2</td>
                  <td>4 3/4</td>
                  <td>75</td>
                  <td>150kg</td>
                  <td>94</td>
                  <td>232kg</td>
                </tr>
                <tr>
                  <td>299</td>
                  <td>5 3/8</td>
                  <td>1 1/2</td>
                  <td>21 1/2</td>
                  <td>4 3/4</td>
                  <td>75</td>
                  <td>150kg</td>
                  <td>94</td>
                  <td>232kg</td>
                </tr>
                <tr>
                  <td>299</td>
                  <td>5 3/8</td>
                  <td>1 1/2</td>
                  <td>21 1/2</td>
                  <td>4 3/4</td>
                  <td>75</td>
                  <td>150kg</td>
                  <td>94</td>
                  <td>232kg</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div data-bk-layout class="pad-t">
        <h3 class="font-l">Responsive Table</h3>

        <p class="alert alert--simple">WIP: IGNORE FOR NOW</p>

        <div class="responsive-table margin-t">
          <table>
            <thead>
              <tr>
                <th colspan="5">Roller Reamer Data</th>
                <th colspan="4">String or nearbit undressed</th>
              </tr>
              <tr>
                <th colspan="5">&nbsp;</th>
                <th colspan="2">3 Point</th>
                <th colspan="2">6 Point</th>
              </tr>
              <tr>
                <th>Redress Kit Size</th>
                <th>Max Body Diameter</th>
                <th>Body Bore</th>
                <th>Fishing Neck Length</th>
                <th>Fishing Neck Diameter</th>
                <th>Total Length</th>
                <th>Body Weight</th>
                <th>Total Length</th>
                <th>Body Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </section>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}