{% extends "_layout.twig" %}

{% set title = "Example Markup/Styles" %}
{% set slug = "example" %}
{% set pageHeaderColor = "bg-primary--dark" %}

{% block content %}

  <div class="bg-tertiary--light">
    <section id="tables" tabindex="-1" class="site-container  pad">
      <h2 class="font-l">Tables</h2>

      <table class="margin-t">
        <caption>Jimi Hendrix - albums</caption>
        <thead>
          <tr>
            <th>Album</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Album</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Are You Experienced</td>
            <td>1967</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>Axis: Bold as Love</td>
            <td>1967</td>
            <td>$12.00</td>
          </tr>
          <tr>
            <td>Electric Ladyland</td>
            <td>1968</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>Band of Gypsys</td>
            <td>1970</td>
            <td>$12.00</td>
          </tr>
        </tbody>
      </table>

      <div class="overflow-table  margin-t">
        <div class="overflow-table__inner">
          <table>
            <thead>
              <tr>
                <th colspan="5">Roller Reamer Data</th>
                <th colspan="4">String or nearbit undressed</th>
              </tr>
              <tr>
                <th colspan="5">&nbsp;</th>
                <th colspan="2">3 Point</th>
                <th colspan="2">6 Point</th>
              </tr>
              <tr>
                <th>Redress Kit Size</th>
                <th>Max Body Diameter</th>
                <th>Body Bore</th>
                <th>Fishing Neck Length</th>
                <th>Fishing Neck Diameter</th>
                <th>Total Length</th>
                <th>Body Weight</th>
                <th>Total Length</th>
                <th>Body Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
              <tr>
                <td>299</td>
                <td>5 3/8</td>
                <td>1 1/2</td>
                <td>21 1/2</td>
                <td>4 3/4</td>
                <td>75</td>
                <td>150kg</td>
                <td>94</td>
                <td>232kg</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </section>
  </div>

{% endblock %}