{% extends "_layout.twig" %}

{# It's rare you'd ever want to output the homepage title of so the value here doesn't matter much #}
{% set title = "Reference" %}
{# Set the slug to empty to simulate an empty segment in Craft #}
{% set slug = "reference" %}

{% set external %}
 target="_blank" rel="noopener" title="Link opens in new tab"
{% endset %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

<div class="bg-grey--lighter  pad" id="intro">
  <section class="site-container">

    <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

    <div data-bk-layout="s:9 m:8 l:7" data-bk-links="primary fade underline-hover" class="rte">
      <p class="font-m">Basekit is a frontend framework designed to speed up the development of <a href="https://fortytwo.studio" class="arrow-exit" target="_blank" rel="noopener">FortyTwo Studio</a> web projects while balancing flexibility, optimisation, and consistency with the source graphic design.</p>

      <p>You’ll need <a href="http://gulpjs.com/" class="arrow-exit" target="_blank" rel="noopener">Gulp</a> to optimise and build project files. Experience using <a href="http://sass-lang.com/" class="arrow-exit" target="_blank" rel="noopener">Sass</a> and <a href="https://twig.sensiolabs.org/" class="arrow-exit" target="_blank" rel="noopener">Twig</a> is required and you’ll need to configure the <code>host</code> and <code>proxy</code> values in the <code>browserSync</code> Gulp task if you want things to be awesome.</p>

      <p>While templates are built with Twig for later integration with Craft CMS, the core framework doesn’t require Craft CMS.</p>
    </div>

    {% include "reference/_partials/_status.twig" with { value : 80 } %}

  </section>
</div>


  <div class="bg-white pad">
    <div class="site-container">

      <h3 data-bk-layout="pad:trl" class="font-l">Getting started</h3>

      <div data-bk-layout="l:8" data-bk-links="primary fade underline-hover" class="rte">

        <p>Assuming you’ve setup a local server (we rather ❤️ <a href="https://laravel.com/docs/5.4/valet" class="arrow-exit" target="_blank" rel="noopener">Laravel Valet</a>) and you’ve downloaded Basekit to your project directory, <code>cd</code> into your project and run <code>$ npm install</code> to get the required packages.</p>

        <p>Run <code>$ gulp</code> and the magic should start. At the moment this includes: Sass comiling to CSS, Twig compiling to HTML, Javascript to minified and combined basekit.js file, and finally browserSync will kick in. To make use of browserSync visit <em>http://localdomain.dev:3000/demo/</em> and you should see the start page. Remember to configure browserSync the Gulp File.</p>

        <p>If everything went to plan you should be up and running and ready to configure your Sass and Twig.</p>
      </div>
    </div>
  </div>


  <div class="bg-white--tint pad" data-bk-links="primary underline fade exit">
    <div class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Directory Structure</h3>

      <ul class="flex">
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">css</h4>
            <p>The core of Basekit, all your Sass is contained here.</p>
          </div>
        </li>
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">demo</h4>
            <p>Static templates and reference documentation get compile here.</p>
          </div>
        </li>
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">imgs</h4>
            <p>Logos, placeholders, UI images… but not content images unless the site will always be static.</p>
          </div>
        </li>
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">js</h4>
            <p>Numbered project javascript files compile to js/min/basekit.js.</p>
          </div>
        </li>
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">node_modules</h4>
            <p>Gulp dependencies, make sure this isn't committed to Git or you’ll not be happy.</p>
          </div>
        </li>
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">templates</h4>
            <p>Frontend template files, these compile to the demo/ directory.</p>
          </div>
        </li>
        <li data-bk-layout="s:6 m:4" class="flex">
          <div data-bk-layout class="ba b-grey--light br-1 bg-white flex flex--content-start">
            <h4 class="font-m font-bold pad-xs-b">bower_components</h4>
            <p>Contains and keeps the html5shiv snippet up to date.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}