{% extends "_layout.twig" %}

{# It's rare you'd ever want to output the homepage title of so the value here doesn't matter much #}
{% set title = "Welcome to Basekit, yo!" %}
{# Set the slug to empty to simulate an empty segment in Craft #}
{% set slug = "reference" %}

{% set pageHeaderColor = "bg-primary--dark" %}
{% set pageHeaderImg = ' style="background-image: url(/imgs/placeholders/landscape.jpg)"' %}

{% set external %}
 target="_blank" rel="noopener" title="Link opens in new tab"
{% endset %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-grey--lighter  pad">
    <div class="site-container">
      <div data-bk-layout="palm:10 hands:9 lap:7" data-bk-links="primary fade" class="font-thin  font-xl">
        <p>Basekit is an opinionated frontend framework built for use in <a href="https://fortytwo.studio" target="_blank" rel="noopener">FortyTwo Studio</a> projects.</p>
      </div>
    </div>
  </div>


  <div class="bg-white pad">
    <div class="site-container">

      <h3 data-bk-layout="pad:trl" class="font-xl">Getting started</h3>

      <div data-bk-layout="lap:4" class="float-r">
        <p class="alert alert--simple"><strong>Status:</strong> Work in Progress</p>
      </div>

      <div data-bk-layout="lap:8" data-bk-links="primary underline fade exit" class="rte">

        <p>This Basekit project makes key use of <a href="http://gulpjs.com/" target="_blank" rel="noopener">Gulp</a>, <a href="http://sass-lang.com/" target="_blank" rel="noopener">Sass</a> and <a href="https://twig.sensiolabs.org/" target="_blank" rel="noopener">Twig</a>, we assume you already have NPM and Git setup. We build static frontend templates in Twig so they can be ported later on to Craft CMS, however the core CSS framework does not require Twig for use.</p>

        <p>You’ll also want a local server of some kind, we currently prefer <a href="https://laravel.com/docs/5.4/valet" target="_blank" rel="noopener">Laravel Valet</a> for small static sites and initial frontend templating, like this.</p>

        <p>Once you've downloaded BaseKit, cd in to the directory and run <code>$ npm install</code> to get the required Gulp packages.</p>

        <p>Run <code>$ gulp</code> and it should start watching and compiling the relevant files, at the moment this includes: Sass (to .css), Twig (to .html), HTML (to minified and cleaned .html) and finally Javascript to minified and combined .js.</p>

        <p>Now that you've comfirmed that Gulp is running, you're ready to start configuring Sass files (and Twig if you're using that).</p>
      </div>
    </div>
  </div>


  <div class="bg-white--tint pad" data-bk-links="primary underline fade exit">
    <div class="site-container">
      <h3 data-bk-layout class="font-xl">Basekit Structure</h3>

      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">bower_components</dt>
          <dd>Only used to keep the html5shiv snippet up to date… not often.</dd>
        </dl>
      </div>
      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">css</dt>
          <dd>The core of Basekit.</dd>
        </dl>
      </div>
      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">demo</dt>
          <dd>Static templates are compile to this directory, plus documentation.</dd>
        </dl>
      </div>
      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">imgs</dt>
          <dd>Logos, placeholders, UI images etc.</dd>
        </dl>
      </div>
      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">js</dt>
          <dd>Project javascript files, numbered files will be compiled and minified into min/basekit.js in their numerical order.</dd>
        </dl>
      </div>
      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">node_modules</dt>
          <dd>Gulp dependencies, make sure this isn't committed to git.</dd>
        </dl>
      </div>
      <div data-bk-layout="pad:rbl hands:6">
        <dl class="alert alert--muted alert--simple">
          <dt class="font-m">templates</dt>
          <dd>Twig project templates, compile to demo.</dd>
        </dl>
      </div>
{#
      {% if mainNav|length %}
        <div data-bk-layout="palm:6  lap:3  lap:pr:1">
          <h3 class="font-xl">Sections</h3>

          <ul data-bk-layout="pad:t">
            {% for item in mainNav if item.children|length %}
              {% for child in item.children if child.slug != 'reference' %}
                <li data-bk-layout="pad:b  pad:small">
                  <a data-bk-layout="center  pad:large" class="btn  br-1" href="{{ child.url }}">
                    {{ child.title }}
                  </a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %} #}
    </div>
  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}