.alert {
  &-t,
  &-b {
    position: relative;

    &:before {
      background: inherit;
      border-color: inherit;
      border-style: inherit;
      border-width: $border-width-default 0 0 $border-width-default;
      content: "";
      height: 15px;
      left: rem(($margin * 1.5) * 1px);
      position: absolute;
      top: rem(-16px);
      transform: rotate(45deg) skew(12deg, 12deg);
      transform-origin: 0 100%;
      width: 15px;
    }
  }

  &-b {
    &:before {
      border-width: 0 $border-width-default $border-width-default 0;
      top: auto;
      bottom: rem(-$border-width-default);
    }
  }

  &-nb {
    &:before {
      border-width: 0;
    }
  }
}