// styles for the footer "FortyTwo" logo
.colophon-logo {
  height: rem($colophon-logo-height);
  width: rem($colophon-logo-width);

  &__img {
    background-image: url("/assets/imgs/logos/colophon-logo.svg");
  }
}
