// src/sass/core/utility-general/_borders.scss
// —————————————————————————————————————————————————————————————————————————————

$border-width-default: 1px !default;

$bdr-sm: 3px !default;
$bdr-md: 4px !default;
$bdr-lg: 6px !default;

$borders: (
  sm: $bdr-sm,
  md: $bdr-md,
  lg: $bdr-lg
) !default;
