// src/sass/core/utility-general/_border-radius.scss
// —————————————————————————————————————————————————————————————————————————————

// Set your radius values, more can be added if you include them in the map
// below. xs and xl aren't included in the map so they aren't available as
// classes for your markup.
$br-xs: 2px !default;
$br-sm: 3px !default;
$br-md: 5px !default;
$br-lg: 8px !default;
$br-xl: 16px !default;

// Include them in this map to have Sass generate the relevant classes. You can
// also add them straight into here if you are never likely to use the
// standalone variables.
$border-radius-sizes: (
  sm: $br-sm,
  md: $br-md,
  lg: $br-lg
) !default;

// The pill br class will have rounded sides with a flat top/bottom.
$br-pill: 1000px !default;

// The round class will create a circle (if the object is square).
$br-round: 100% !default;

