$link-dim-value: 0.5 !default;
$link-transition-duration: ($speed-slow * 1.5) !default;
$link-transition-duration-hover: $speed-normal !default;
$link-transition-props: unquote('color, opacity, border-color, background-color') !default;