{% extends "_layouts/_main.twig" %}

{% set title = "Set your page title" %}
{% set slug = "" %}

{% block content %}

  <div class="bg-white">
    <div class="site-container pad pad-lg">

      <div data-bk-layout="sm:9 md:8 lg:6" data-bk-links="primary underline-initial">

        <p class="pad-sm-b">For documentation and style guides see the <a href="reference/">Reference</a> section or <a href="/README.md">README.md</a> file.</p>

      </div>

    </div>
  </div>

{% endblock %}