{% extends "_layout.twig" %}

{% set title = "Set your page title" %}
{% set slug = "" %}

{% block content %}

  <div class="bg-white  pad">
    <div class="site-container">
      <div data-bk-layout="palm:9 hands:8 lap:7 desk:6" data-bk-links="primary fade underline-hover" class="font-light rte">
        <p class="font-m">This is where you'll want to start your static frontend build, for documentation and style guides have a look through the <a href="reference/">reference directory</a>.</p>

        <p>To generate pages all you have to do is create index.twig files under the directories you want, but this won't create a navigation. To generate that you'll want to look at the <em class="alert alert--inline alert--simple br-2">data.json</em> file and then <code>mainNav</code>.</p>
      </div>
    </div>
  </div>

{% endblock %}