{% extends "_layout.twig" %}

{% set title = "Set your page title" %}
{% set slug = "" %}

{% block content %}

  <div class="bg-white">
    <div class="site-container pad pad-lg-b">

      <div data-bk-layout="sm:9 md:8 lg:6" data-bk-links="primary underline-initial">

        <p class="font-xxl font-light color-primary pad-b">🚧</p>

        <p class="pad-sm-b">For documentation and style guides see the <a href="reference/" class="btn-primary btn-compact br-2">reference page</a></p>

        <p>Page are written in <em>Twig</em> in an almost identical manner to Craft CMS templates. See the reference directory to understand how things work. Temporary data and navigation is held in the <strong>data.json</strong> file so be sure to look at that too.</p>

      </div>

    </div>
  </div>

{% endblock %}