{% extends "_layout.twig" %}

{% set title = "Set your page title" %}
{% set slug = "" %}

{% block content %}

  <div class="bg-white  pad">
    <div class="site-container">
      <div data-bk-layout="s:9 m:8 l:6" data-bk-links="primary fade" class="rte">
        <p class="font-l">Start your frontend build from here, for documentation and style guides see the <a href="reference/">reference directory</a></p>

        <p>Page are written in <code>.twig</code> in an almost identical manner to Craft CMS templates. See the reference directory to understand how things work. Temporary data and navigation is held in the <em class="alert alert--inline alert--simple br-1">data.json</em> file so be sure to look at that too.</p>
      </div>
    </div>
  </div>

{% endblock %}