{% extends "_layout.twig" %}

{% set title = "Example Markup/Styles" %}
{% set slug = "example" %}
{% set pageHeaderColor = "bg-primary--dark" %}

{% block content %}

  <div class="bg-tertiary--light">

    <section tabindex="-1" class="site-container  pad">

      <form class="bk-form" action="POST">
        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert">Alert/Info</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--neutral">Alternative Alert/Info</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--error">Negative/Error/Failure</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--positive">Positive/Success/Confirmation</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--muted">Muted</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--ib">Inline-block</p>
          <p class="alert  alert--positive  alert--ib">Another inline-block</p>
          <p class="alert  alert--neutral  alert--ib">Last one</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  shadow">Drop shadow</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--compact">Compact padding</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert">Multiple alerts for one item</p>
          <p class="alert  alert--simple">Alert--simple to remove arrow</p>
          <p class="alert  alert--simple">Alert--simple to remove arrow</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert">Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          <p class="alert  alert--positive  alert--simple">Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="alert  alert--muted  alert--simple">Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <div class="alert  rte">
            <h3 class="font-m">With lists/rich-text…</h3>

            <ul>
              <li>Paesent commodo cursus magna</li>
              <li>Vel scelerisque nisl consectetur et</li>
              <li>Cras justo odio</li>
              <li>Dapibus ac facilisis in</li>
              <li>Etiam porta sem malesuada magna mollis euismod</li>
            </ul>

            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </div>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <div class="alert  alert--muted  rte">
            <h3 class="font-m">Muted rich-text</h3>

            <ul>
              <li>Paesent commodo cursus magna</li>
              <li>Vel scelerisque nisl consectetur et</li>
              <li>Cras justo odio</li>
              <li>Dapibus ac facilisis in</li>
              <li>Etiam porta sem malesuada magna mollis euismod</li>
            </ul>

            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </div>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.

          <span class="alert  alert--inline  alert--simple  br-2">Within text content, no arrow.</span>

          Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>

          <span data-bk-layout="auto" class="alert">Between text use data-bk-layout=auto</span>

          <p>Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <input type="text">
          <p class="alert  alert--neutral  br-1">Rounded corners</p>

          <div class="pad-s-t">
            <input type="text">
            <p class="alert  alert--neutral  br-4">Roundeder corners ;)</p>
          </div>
        </div>


        <div data-bk-layout="hands:6" class="pad-s-t">
          <p class="alert  alert--above">Above content</p>
          <input type="text">

          <div class="pad-s-t">
            <p class="alert  alert--neutral  alert--above">Above content</p>
            <input type="text">
          </div>
        </div>

        <div data-bk-layout="hands:6" class="pad-s-t">
          <p class="alert  alert--positive  alert--above">Above content</p>
          <input type="text">

          <div class="pad-s-t">
            <p class="alert  alert--error  alert--above">Above content</p>
            <input type="text">
          </div>
        </div>

      </form>

    </section>

  </div>

{% endblock %}