{% extends "_layout.twig" %}

{% set title = "Alert Callouts" %}
{% set slug = "alerts" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Description TBC</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 85 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container ">
      <form class="bk-form" action="POST">
        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert">Standard information alert callout</label>
          <input type="text" id="alert">
          <p class="alert">alert</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-neutral">Neutral alert callout</label>
          <input type="text" id="alert-neutral">
          <p class="alert alert--neutral">alert--neutral</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-error">Error alert callout</label>
          <input type="text" id="alert-error">
          <p class="alert alert--error">alert--error</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-positive">Success alert callout</label>
          <input type="text" id="alert-positive">
          <p class="alert alert--positive">alert--positive</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-ib">Multiple inline-block alerts</label>
          <input type="text" id="alert-ib">
          <p class="alert alert--ib">Inline-block</p>
          <p class="alert alert--positive  alert--ib">Another inline-block</p>
          <p class="alert alert--neutral  alert--ib">Last one</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-shadow">Standard alert with shadow applied</label>
          <input type="text" id="alert-shadow">
          <p class="alert  shadow">Alert</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-compact">Compact padding</label>
          <input type="text" id="compact-alert">
          <p class="alert  alert--compact">Alert</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-multi">Multiple alerts</label>
          <input type="text" id="multi">
          <p class="alert">Alert</p>
          <p class="alert  alert--simple">Alert--simple to remove arrow</p>
          <p class="alert  alert--simple">Alert--simple to remove arrow</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-multi-2">Multiple alerts with longer content</label>
          <input type="text" id="alert-multi-2">
          <p class="alert">Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          <p class="alert  alert--positive  alert--simple">Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="alert  alert--simple">Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-rte">Rich text content</label>
          <input type="text" id="alert-rte">
          <div class="alert  rte">
            <h3 class="font-m">Rich text heading</h3>

            <ul>
              <li>Paesent commodo cursus magna</li>
              <li>Vel scelerisque nisl consectetur et</li>
              <li>Cras justo odio</li>
              <li>Dapibus ac facilisis in</li>
              <li>Etiam porta sem malesuada magna mollis euismod</li>
            </ul>

            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          </div>
        </div>

        <div data-bk-layout="hands:6">
          <h3 class="font-m font-normal">Inlined alerts</h3>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.

          <span class="alert  alert--inline  alert--simple  br-2">Within text content, no arrow.</span>

          Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>

          <span data-bk-layout="auto" class="alert">Between text use data-bk-layout=auto</span>

          <p>Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-round">Rounded corners</label>
          <input type="text" id="alert-round">
          <p class="alert  alert--neutral  br-1">Alert</p>

          <label class="font-m margin-t" for="alert-rounder">Rounder corners</label>
          <input type="text" id="alert-rounder">
          <p class="alert  alert--neutral  br-4">Alert</p>
        </div>


        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-above-1">Above content</label>
          <p class="alert  alert--above">Above content</p>
          <input type="text" id="alert-above-1">
        </div>

        <div data-bk-layout="hands:6">
          <label class="font-m" for="alert-above-4">Above content error</label>
          <p class="alert  alert--error  alert--above">Above content</p>
          <input type="text" id="alert-above-4">
        </div>

      </form>

    </section>

  </div>

{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}