// —————————————————————————————————————————————————————————————————————————————
// MOBILE NAV
// Apply only until the specified breakpoint so we don't have to reset style
// later on at the desktop size
// —————————————————————————————————————————————————————————————————————————————
@include mq($until: $nav-switch-point) {
  .nav-primary-layout {
    // Basic styling for no-js situations
    .no-js & {
      width: 100% !important;

      li {
        display: inline-block;
        width: auto;
      }
    }

    // Only style up the nav fully if js is enabled.
    .js & {
      border-radius: 3px;
      box-shadow: 0 12px 38px -8px rgba(black, 0.75);
      max-width: 400px;
      overflow: hidden;
      position: absolute;
      right: 4%;
      top: calc(100% - 0.5rem);
      width: 92%;
      z-index: $z-mobile-nav;

      // Also make the content full width
      .nav-primary {
        background-color: $sm-bk__desktop-bg;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;

        &.is-active {
          max-height: 2000px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————————————————
// DESKTOP
// —————————————————————————————————————————————————————————————————————————————
@include mq($nav-switch-point) {
  // Get rid of the hamburger at larger screen sizes
  .nav-toggler-wrapper { display: none; }

  .nav-primary {
    // The top level nav list
    > ul {
      > li {
        display: inline-block;
        vertical-align: middle;
        width: auto;
      }
    }

    a {
      &:hover,
      &:focus,
      &.current,
      &.highlighted {
        background-color: $sm-bk__desktop-item-hover-bg;
        color: $sm-bk__desktop-item-color;
      }
    }
  }
}