{% extends "_layouts/_errors" %}

{% set title = "Page Not Found" %}

{% block content %}

  <h1>{{ title }}</h1>

  <p>We couldn't find the page you’re looking, unfortunatly it may no longer exist or there may be a mispelling in the page URL.</p>

  <p>Apologies for the inconvenience but you can try again from the site menu or <a href="/">visit the homepage</a>.</p>

{% endblock %}