{% extends "_layouts/_errors" %}

{% set title = "Server Error" %}
{% set subTitle = "Server Error" %}

{% block content %}

  <h1>Server {{ subTitle }}</h1>

  <p>The server has encountered an unexpected error which has prevented it from fulfilling your request. Please check back later or contact the administrator to investigate this problem.</p>

{% endblock %}