{% extends "_layouts/_errors" %}

{% set title = "Service Unavailable" %}

{% block content %}

  <h1>{{ title }}</h1>

  <p>Our website is temporarily unavailable, apologies for the inconvenience. Please try again soon.</p>

{% endblock %}
