{% extends "_layout.twig" %}

{% set title = "Accessibility" %}
{% set slug = "accessibility" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-grey--light">
    <section class="site-container  pad">

      <h2 data-bk-layout="pad:rl" class="font-xl">{{ title }}</h2>

      <div data-bk-layout="lap:7" class="rte">
        <p class="alert alert--simple">Work in Progress</p>

        <p class="font-m">Accessibility…</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p>
      </div>

    </section>
  </div>


  <div class="bg-white">
    <section class="site-container  pad">
      <h3 data-bk-layout="pad:rbl  lap:8  lap:pl:4" class="font-xl">Examples</h3>

      <div data-bk-layout="palm:6 lap:3">

      </div>
    </section>
  </div>


{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}