{% extends "_layout.twig" %}

{% set title = "Accessibility" %}
{% set slug = "accessibility" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="s:9 m:8 l:7" class="rte">
        <p class="alert alert--simple">Work in Progress</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 0 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">

      <div data-bk-layout="l:7" class="rte">
        <p class="font-l">??</p>
      </div>

    </section>
  </div>


  <div class="bg-white--tint pad">
    <section class="site-container">
      <h3 data-bk-layout="pad:rbl  l:8  l:pl:4" class="font-xl">Examples</h3>

      <div data-bk-layout="s:6 l:3">
        <p>…</p>
      </div>
    </section>
  </div>


{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}