{% extends "_layout.twig" %}

{% set title = "Icons" %}
{% set slug = "icons" %}

{% block content %}
{% include 'reference/_partials/_quick-nav.twig' %}

  <div class="bg-white--tint pad">
    <section class="site-container">
      <h2 data-bk-layout class="font-xxl font-thin">{{ title }}</h2>

      <div data-bk-layout="palm:9 hands:8 lap:7" class="rte">
        <p class="font-m">Similar to the Basekit layout attribute, links in Basekit are also applied using a data attribute: <code>data-bk-links</code>.</p>

        <p>This scoping to a data attribute allows simpler configuration and less stuff in the class attribute.</p>
      </div>

      {% include "reference/_partials/_status.twig" with { value : 80 } %}

    </section>
  </div>

  <div class="bg-white pad">
    <section class="site-container">
      <h3 data-bk-layout="pad:trl" class="font-l">Arrows</h3>

      <div data-bk-layout="hands:8 lap:7">
        <p>Using the following classes we can add indicator arrows to links and other elements to encourage interaction.</p>

        <h3 class="font-m pad-t">Right</h3>
        <p>Displays a visual “call to action” after the link.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout data-bk-links="primary fade underline-hover">
            <ul>
              <li data-bk-layout="6">
                <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="margin-t font-upper"><a class="arrow-r" href="./">Read More</a></p>
              </li>
              <li data-bk-layout="6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem neum sociis natoque.</p>
                <p class="margin-t"><a class="arrow-r" href="./">Read More</a></p>
              </li>
            </ul>
          </dt>
          <dd data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            Usage
            <code class="float-r">class="<strong>arrow-r</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-t">Left</h3>
        <p>Displays a visual “call to action” before the link.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout data-bk-links="primary fade underline-hover">
            <ul>
              <li data-bk-layout="6">
                <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="margin-t font-upper"><a class="arrow-l" href="./">Return</a></p>
              </li>
              <li data-bk-layout="6">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem neum sociis natoque.</p>
                <p class="margin-t"><a class="arrow-l" href="./">Return</a></p>
              </li>
            </ul>
          </dt>
          <dd data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            Usage
            <code class="float-r">class="<strong>arrow-l</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">External Link</h3>
        <p>Indicate to the user that the link exits the website.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout="pad:large" data-bk-links="primary fade underline-hover">
            Visit <a class="arrow-exit" href="http://facebook.com" target="_blank" rel="noopener">our Facebook</a> page to like us and stay up-to-date on coming events.
          </dt>
          <dd data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            Usage
            <code class="float-r">class="<strong>arrow-exit</strong>"
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Scroll Down</h3>
        <p>Indicate to the user that the link moves down the page.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout="pad:large" data-bk-links="primary fade underline-hover">
            <a class="arrow-down" href="#footer">Scroll to end</a>
          </dt>
          <dd data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            Usage
            <code class="float-r">class="<strong>arrow-down</strong>"</code>
          </dd>
        </dl>


        <h3 class="font-m pad-l-t">Scroll Up</h3>
        <p>Indicate to the user that the link moves up the page.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout="pad:large" data-bk-links="primary fade underline-hover">
            <a class="arrow-up" href="#start">Go to start</a>
          </dt>
          <dd data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            Usage
            <code class="float-r">class="<strong>arrow-up</strong>"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Download</h3>
        <p>Indicate to the user that the link download a file.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout="pad:large" data-bk-links="primary fade underline-hover">
            <a class="arrow-dl" href="./" download>Download this file</a>
          </dt>
          <dd data-bk-layout="pad:small" style="border-top: 1px solid #ccc">
            Usage
            <code class="float-r">class="<strong>arrow-dl</strong>"</code>
          </dd>
        </dl>



        <h3 class="font-m pad-l-t">Bold Feature</h3>
        <p>Arrows are normal weight by default but sometimes you might <em>only</em> want the arrow to be bolder.</p>

        <dl class="br-1 shadow bg-white margin-t" style="border: 1px solid #ccc;">
          <dt data-bk-layout data-bk-links="primary fade underline-hover">
            <ul class="font-l">
              <li data-bk-layout="4"><a class="arrow-exit" href="http://google.com" target="_blank" rel="noopener">Normal</li>
              <li data-bk-layout="4" class="font-bold"><a class="arrow-exit" href="http://google.com" target="_blank" rel="noopener">Bold</li>
              <li data-bk-layout="4" class="font-light"><a class="arrow-exit" href="http://google.com" target="_blank" rel="noopener">Thin</li>
            </ul>
          </dt>
        </dl>

      </div>

      <div data-bk-layout="hands:4 lap:4 lap:pr:1" class="pad-b">
        <div class="alert alert--simple font-s" data-bk-links="primary fade underline-hover">
          <h4 class="font-n margin-b"><strong>Note for developers</strong></h4>

          <p>These link styles <strong>can</strong> be applied to <a href="../buttons/">button style links</a>, because that makes sense 😊</p>
        </div>

        <div class="alert alert--simple font-s">
          <h4 class="font-n margin-b"><strong>Note for everyone</strong></h4>

          <p>At the moment these link features use the current primary font's arrow glyphs, in the future we may switch this out to use SVG instead.</p>
        </div>
      </div>
    </div>
    </section>
  </div>
{% include 'reference/_partials/_pagination.twig' %}

{% endblock %}