{% set quickNav = [{
    "title": "Start",
    "url": "/demo/reference/",
    "slug": "reference"
  }, {
    "title": "Colours",
    "url": "/demo/reference/colours/",
    "slug": "colours"
  }, {
    "title": "Fonts",
    "url": "/demo/reference/typography/",
    "slug": "typography"
  }, {
    "title": "Layout",
    "url": "/demo/reference/layout/",
    "slug": "layout"
  }, {
    "title": "Spacing",
    "url": "/demo/reference/spacing/",
    "slug": "spacing"
  }, {
    "title": "Links",
    "url": "/demo/reference/links/",
    "slug": "links"
  }, {
    "title": "Buttons",
    "url": "/demo/reference/buttons/",
    "slug": "buttons"
  }, {
    "title": "Borders",
    "url": "/demo/reference/borders/",
    "slug": "borders"
  }, {
    "title": "Icons",
    "url": "/demo/reference/icons/",
    "slug": "icons"
  }, {
    "title": "Forms",
    "url": "/demo/reference/forms/",
    "slug": "forms"
  }, {
    "title": "Alerts",
    "url": "/demo/reference/alerts/",
    "slug": "alerts"
  }, {
    "title": "Navigation",
    "url": "/demo/reference/navigation/",
    "slug": "nav",
    "tbc": true
  }, {
    "title": "Images",
    "url": "/demo/reference/images/",
    "slug": "images",
    "tbc": true
  }, {
    "title": "Tables",
    "url": "/demo/reference/tables/",
    "slug": "tables",
    "tbc": true
}] %}

{% if quickNav %}
  <div data-bk-links="white" class="w-100 pad">
    <ul class="nav nav-block font-s">
      {% for item in quickNav %}
        <li{{ item.slug == slug ? ' data-bk-links="white dim"' }}>
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}