pre {
  white-space: pre-wrap;
}

code {
  background-color: $code-bg-color;
  border-radius: 0.2rem;
  border: $code-border;
  color: $code-text-color;
  display: inline-block;
  font-family: $font-family--mono;
  font-size: $code-font-size;
  padding: 0.15rem 0.3333rem;
  white-space: pre-wrap;
}