$code-bg-color: rgba(0,0,0,0.1)                                        !default;
$code-text-color: currentColor                                         !default;
$code-border: "1px solid " + rgba(mix(white, black, 50%), 0.75)        !default;
$code-font-size: 0.875rem                                              !default;

//****************************************************************************//

pre {
  white-space: pre-wrap;
}

code {
  background-color: $code-bg-color;
  border-radius: 0.2rem;
  border: $code-border;
  color: $code-text-color;
  display: inline-block;
  font-family: $font-family--mono;
  font-size: $code-font-size;
  padding: 0.15rem 0.3333rem;
  white-space: pre-wrap;
}