html {
  box-sizing: border-box;
  height: 100%;
}

* {
  &,
  &:before,
  &:after {
    // It's rare that bg repeat is needed in most designs so for convinience let's just disable it.
    background-repeat: no-repeat;
    // Inherit the html box sizing.
    box-sizing: inherit;
    // Default padding and margins suck, we'll disable them.
    margin: 0;
    padding: 0;
  }
}

body {
  backface-visibility: hidden;
  background-color: $color-body;
  color: $color-text;
  font-family: $font-family;

  // Convert the font-size variable from pixels to em.
  font-size: (($font-size / ($font-size * 0 + 1)) / 16) * 1em;

  line-height: $font-line-height;
  text-rendering: optimizeLegibility;

  // Prevents iOS (in particular) from screwing with the intended text sizing.
  text-size-adjust: 100%;
}

a,
area,
button,
label,
select,
textarea {
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
  // Disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. This is an alias for "pan-x pan-y pinch-zoom" (which, for compatibility, is itself still valid).
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}