a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  // Match document font size by default, overriding the browser defaults.
  font-size: (($font-size / ($font-size * 0 + 1)) / 16) * 1rem;
  font-weight: $font-weight-headings;
  // Match document line height, overriding the browser defaults.
  line-height: $font-line-height;
}
