// Enable or disable the navigation utility helper and alternative styles.
// See: core/utility.nav.scss
// NOTE: this is a true utility class, it does not style colours or other
// visual stuff. Consider it structural.
$nav-css: true;
$nav-stacked-css: true;
$nav-block-css: true;
$nav-fit-css: true;

// Enable disable all mobile nav CSS.
$nav-mobile: true;
// Define the class name.
$nav-mobile-name: rnav;
// At which breakpoint (or px value) should it kick in?
$nav-mobile-breakpoint: 768px;
// Define the icon dimensions and click/tap-able area.
$nav-mobile-hit-area: 35px;

$nav-mobile-anim-duration: $speed-slow;
$nav-mobile-padding: 5% 5% 10%;

// Define the colours and icon image.
$nav-mobile-background: white;


// $nav-mobile-toggle: "ui/menu.svg";
// $nav-mobile-open-toggle: "ui/menu--close.svg";

$nav-mobile-toggle-background: null;
$nav-mobile-toggle-bar-bg: $grey-dark;

$nav-mobile-burger-bar: $nav-mobile-hit-area / 7;
$nav-mobile-burger-bar-transition-speed: $speed-fast;
$nav-mobile-burger-bar-transition-delay: $speed-fast;
$nav-mobile-burger-bar-border-radius: null;