// If scrolling the site in iOS is weird, enable this, otherwise leave it false.
$ios-smooth-scroll: false;

// Enable two types of visibility utility classes.
$visually-hidden-css: true;
$hide-text-css: true;