$bk-button-padding: 0.66em 1.25em;
$bk-button-padding-compact: 0.25em 0.66em;

[class*="btn-"] {
  appearance: none;
  background-color: transparent;
  border: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: $bk-button-padding;
  transition: all $speed-normal ease-in-out;
  vertical-align: middle;
}

@if $bk-button-padding-compact {
  .btn-compact {
    padding: $bk-button-padding-compact;
  }
}

.btn-empty {
  background-color: transparent;
  color: color(primary);

  &:hover,
  &:focus {
    color: white;
    background-color: color(primary);
  }
}

.btn-bdr {
  border: 1px solid currentColor;

  &--primary {
    border-color: color(primary) !important;
  }

  &--secondary {
    border-color: color(secondary) !important;
  }

  &--white {
    border-color: white !important;
  }
}


.btn-primary {
  background-color: color(primary);
  color: white;

  &:hover,
  &:focus {
    background-color: color(primary, darker);
  }
}


.btn-secondary {
  background-color: color(secondary);
  color: white;

  &:hover,
  &:focus {
    background-color: color(secondary, darker);
  }
}