// Default style for any element that has a class starting with btn-
.btn,
[class*="btn-"] {
  background-color: transparent;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: $bk-button-padding;
  vertical-align: middle;
}

// button[class*="btn-"],
// input[class*="btn-"] {
//   appearance: none;
//   border: inherit;
//   cursor: pointer;
// }

.btn-sm {
  padding: $bk-button-padding-sm;
}

.btn-lg {
  padding: $bk-button-padding-lg;
}

// .btn-empty {
//   background-color: transparent;
//   color: $color-primary;
//
//   &:hover,
//   &:focus {
//     color: white;
//     background-color: $color-primary;
//   }
// }


// .btn-primary {
//   background-color: $color-primary;
//   color: white;
//
//   &:hover,
//   &:focus {
//     background-color: $color-primary--darker;
//   }
// }
//
//
// .btn-secondary {
//   background-color: $color-secondary;
//   color: white;
//
//   &:hover,
//   &:focus {
//     background-color: $color-secondary--darker;
//   }
// }