// @function color($scheme, $tone: base) {
//   @return map-get(map-get($color-scheme, $scheme), $tone);
// }

.color {
  &-primary { color: $color-primary;}
  &-primary--lighter { color: $color-primary--lighter; }
  &-primary--light { color: $color-primary--light; }
  &-primary--dark { color: $color-primary--dark; }
  &-primary--darker { color: $color-primary--darker; }

  &-secondary { color: $color-secondary;}
  &-secondary--lighter { color: $color-secondary--lighter; }
  &-secondary--light { color: $color-secondary--light; }
  &-secondary--dark { color: $color-secondary--dark; }
  &-secondary--darker { color: $color-secondary--darker; }

  &-tertiary { color: $color-tertiary;}
  &-tertiary--lighter { color: $color-tertiary--lighter; }
  &-tertiary--light { color: $color-tertiary--light; }
  &-tertiary--dark { color: $color-tertiary--dark; }
  &-tertiary--darker { color: $color-tertiary--darker; }

  &-grey { color: $color-grey;}
  &-grey--lighter { color: $color-grey--lighter; }
  &-grey--light { color: $color-grey--light; }
  &-grey--dark { color: $color-grey--dark; }
  &-grey--darker { color: $color-grey--darker; }

  &-white { color: $color-white; }
  &-white--tint { color: $color-white--tint; }

  &-black { color: $color-black; }
  &-black--tint { color: $color-black--tint; }

  &-text { color: $color-text; }

  &-alert { color: $alert--text; }
  &-negative { color: $alert-negative--text; }
  &-positive { color: $alert-positive--text; }
}


.bg {
  &-img {
    background-position: center center;
    background-size: cover;
  }

  &-primary { background-color: $color-primary;}
  &-primary--lighter { background-color: $color-primary--lighter; }
  &-primary--light { background-color: $color-primary--light; }
  &-primary--dark { background-color: $color-primary--dark; }
  &-primary--darker { background-color: $color-primary--darker; }

  &-secondary { background-color: $color-secondary;}
  &-secondary--lighter { background-color: $color-secondary--lighter; }
  &-secondary--light { background-color: $color-secondary--light; }
  &-secondary--dark { background-color: $color-secondary--dark; }
  &-secondary--darker { background-color: $color-secondary--darker; }

  &-tertiary { background-color: $color-tertiary;}
  &-tertiary--lighter { background-color: $color-tertiary--lighter; }
  &-tertiary--light { background-color: $color-tertiary--light; }
  &-tertiary--dark { background-color: $color-tertiary--dark; }
  &-tertiary--darker { background-color: $color-tertiary--darker; }

  &-grey { background-color: $color-grey;}
  &-grey--lighter { background-color: $color-grey--lighter; }
  &-grey--light { background-color: $color-grey--light; }
  &-grey--dark { background-color: $color-grey--dark; }
  &-grey--darker { background-color: $color-grey--darker; }

  &-white { background-color: $color-white; }
  &-white--tint { background-color: $color-white--tint; }

  &-black { background-color: $color-black; }
  &-black--tint { background-color: $color-black--tint; }

  &-text { background-color: $color-text; }

  &-body { background-color: $color-body; }

  &-alert { background-color: $alert; }
  &-negative { background-color: $alert-negative; }
  &-positive { background-color: $alert-positive; }
}

// $blend-modes: (
//   // normal,
//   multiply,
//   screen,
//   overlay,
//   darken,
//   lighten,
//   // color-dodge,
//   // color-burn,
//   soft-light
// );
//
// @each $mode in $blend-modes {
//   .bg-bm-#{$mode} {
//     background-blend-mode: $mode;
//   }
//
//   .mix-bm-#{$mode} {
//     mix-blend-mode: $mode;
//   }
// }