.nav-primary {
  a {
    color: white;
  }
}
// A bit of an experimental hack to add a background fill behind the nav and
// hamburger toggle.
.hamburger {
  &-box {
    z-index: $z-mobile-nav-toggle;
  }

  &.is-active {
    &::before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: 100vh;
      min-width: 100vw;
      overflow: auto;
      z-index: $z-mobile-nav - 10;
      background-color: rgba($color-primary--darker, 0.95);
      pointer-events: none;
    }
  }
}

// —————————————————————————————————————————————————————————————————————————————
// MOBILE NAV
// Apply only until the specified breakpoint so we don't have to reset style
// later on at the desktop size
// —————————————————————————————————————————————————————————————————————————————
@include mq($until: $nav-switch-point) {
  .nav-primary {
    a {
      padding: $nav-primary-dd-vertical-padding $nav-primary-dd-horizontal-padding;

      &:hover,
      &:focus,
      &.highlighted {
        background-color: $color-secondary--dark;
      }

      &.current {
        font-weight: 900;
      }
    }

    // Only style up the nav fully if js is enabled.
    .js & {
      background-color: $color-secondary;
      border-radius: $br-md;
      box-shadow: 0 12px 38px -8px rgba(black, 1);
      max-width: 400px;
      overflow: hidden;
      right: ($margin / 16) * 1rem;
      top: calc(100% - #{($margin / 32) * 1rem});
      width: calc(100% - #{($grid-gutter / 16) * 1rem});

      li {
        &:first-child > a {
          border-radius: $br-md $br-md 0 0;
        }

        &:last-child > a {
          border-radius: 0 0 $br-md $br-md;
        }

        &:not(:first-child) {
          border-top: 1px solid rgba(white, 0.1);
        }
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————————————————
// DESKTOP TOP LEVEL
// —————————————————————————————————————————————————————————————————————————————
@include mq($nav-switch-point) {

  .nav-primary {
    &__top-level-item {
      > a {
        border-radius: $br-md;
        padding: ($nav-primary-desktop-item-padding-vertical / 1.5) $nav-primary-desktop-item-padding-horizontal;
        transition: $speed-slow ease-in-out;
        transition-property: color, background-color;

        &:hover,
        &:focus,
        &.highlighted {
          background-color: rgba(white, 0.25);
        }

        &.current {
          background-color: rgba(white, 0.1);
        }
      }
    }

    &__child-list {
      background-color: $color-secondary;
      border-radius: $br-md;
      box-shadow: 0 12px 38px -8px rgba(black, 1);

      a {
        padding: $nav-primary-desktop-item-padding-vertical $nav-primary-desktop-item-padding-horizontal;

        &:hover,
        &:focus,
        &.highlighted {
          background-color: $color-secondary--dark;
        }

        &.current {
          font-weight: 900;
        }
      }

      li {
        &:first-child > a {
          border-radius: $br-md $br-md 0 0;
        }

        &:last-child > a {
          border-radius: 0 0 $br-md $br-md;
        }

        &:not(:first-child) {
          border-top: 1px solid rgba(white, 0.1);
        }
      }
    }
  }
}
