$site-logo-width: 205px !default;
$site-logo-height: 47px !default;

// Other sizes to try: 60px by 15px, or 64px by 16px
// $colophon-logo-width: 56px;
// $colophon-logo-height: 14px;


// base utility to setup the logo for background image text replacement
.logo {
  position: relative;

  &__img {
    @include fit-media;
    @include hide(text);
    background-size: 100%;
  }
}

// styles specific to the main site logo
.site-logo {
  height: rem($site-logo-height) / 2;
  width: rem($site-logo-width) / 2;

  @include mq(md) {
    height: rem($site-logo-height / 1.66666);
    width: rem($site-logo-width / 1.66666);
  }

  @include mq(lg) {
    height: rem($site-logo-height / 1.33333);
    width: rem($site-logo-width / 1.33333);
  }

  &__img {
    background-image: url("/assets/imgs/logos/site-logo.svg");
  }
}