// —————————————————————————————————————————————————————————————————————————————
// MOBILE NAV
// Apply only until the specified breakpoint so we don't have to reset style
// later on at the desktop size
// —————————————————————————————————————————————————————————————————————————————
@include mq($until: $nav-switch-point) {
  a {
    color: white;
    padding: $nav-dd-vertical-padding $nav-dd-horizontal-padding;
    -webkit-tap-highlight-color: rgba(black, 0);

    &.current {
      background-color: $color-primary--light;
    }

    &.highlighted,
    &:hover,
    &:focus {
      background-color: $color-primary--darker;
    }
  }

  // Only style up the nav fully if js is enabled.
  .js {
    .nav-primary {
      background-color: $color-primary--dark;
      border-radius: 8px;
      box-shadow: 0 12px 38px -8px rgba(black, 0.75);


      li:not(:first-child) {
        border-top: 1px solid rgba(black, 0.1);
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————————————————
// DESKTOP TOP LEVEL
// —————————————————————————————————————————————————————————————————————————————
@include mq($nav-switch-point) {
  // Get rid of the hamburger at larger screen sizes
  .nav-toggler-wrapper { display: none; }

  .nav-primary {
    > ul {
        li ul {
          background-color: rgba(orange, 0.33);
        //   box-shadow: 0 2px 8px -2px rgba(black, 0.4);
        //   line-height: 1.4;
        //   position: absolute;
        //   text-align: left;
        //   border-radius: 4px;
        //
        //   li:first-child > a {
        //     border-radius: 4px 4px 0 0;
        //   }
        //
        //   li:last-child > a {
        //     border-radius: 0 0 4px 4px;
        //   }
        //
        //   li:not(:first-child) {
        //     border-top: $sm-bk__desktop-separators-size solid rgba(white, 0.15);
        //   }
        }

      > li {

        > a {
          border-radius: $br-sm;
          color: white;
          padding: ($nav-dd-vertical-padding / 2) $nav-dd-horizontal-padding;
          transition: $speed-slow ease-in-out;
          transition-property: color, background-color;

          &:hover,
          &:focus,
          &.current,
          &.highlighted {
            background-color: white;
            color: $color-primary;
            transition-duration: $speed-fast;
          }

          &.current {
            background-color: rgba(white, 0.25);
            color: white;
          }
        }
      }
    }

  }
}
