<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

<h1>{{siteName}}</h1>

{% if images|length %}
  <ul class="gallery">
    <!-- Loops through "images" array -->
    {% for image in images %}
    <li class="gallery__item">
      <img src="{{image.src}}" alt="{{image.alt}}">
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}