$tables-width: 1px !default;
$tables-responsive: true !default;
$tables-overflow: true !default;
$tables-responsive-bp: sm !default;
$tables-color: #eee !default;

table {
  border-collapse: collapse;
  border-left: $tables-width solid $tables-color;
  border-spacing: 0;
  border-top: $tables-width solid $tables-color;
  min-width: 100%;
}

th,
td {
  border-bottom: $tables-width solid $tables-color;
  border-right: $tables-width solid $tables-color;
  min-width: 4em;
  padding: rem($margin * 1px);
  vertical-align: top;
}

@if $tables-responsive or $tables-overflow {
  @include mq($until: $tables-responsive-bp) {
    .responsive-table {
      border: $tables-width solid $tables-color;
      border-bottom: 0;
      border-collapse: inherit;
      min-width: 100%;

      // Not the first row as that's for the table headers, not the second row either because that's would make a weird layout just style the others
      tr + tr + tr {
        display: block;
        padding-top: 2em;
      }

      th {
        display: none;
      }

      td {
        display: block;

        &:before {
          content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
          display: inline-block;
          font-weight: bold;
          padding-right: 0.5em;
          width: 10em;
        }
      }

      th,
      td {
        border-right: 0;
      }
    }

    // this must be applied to a wrapping element, not the table itself.
    .overflow-table {
      position: relative;

      &__inner {
        -webkit-overflow-scrolling: touch;
        display: block;
        overflow-x: auto;
        width: 100%;

        &::-webkit-scrollbar {
          height: 12px;
        }

        &::-webkit-scrollbar-track {
          background: #f0f0f0;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
        }

        &::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 6px;
        }
      }

      &:after {
        background-image: linear-gradient(90deg, rgba($tables-color, 0),  rgba($tables-color, 0.75));
        border-right: $tables-width solid $tables-color;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: em(20px);
      }

      table {
        min-width: 100%;
      }

    }
  }
}