{% extends "_layout.twig" %}

{% set title = "Buttons" %}
{% set slug = "buttons" %}

{% block content %}

  <div class="w-100 bg-white lighter pad-lg-b" id="intro">
    <section class="site-container">

      <h2 data-bk-layout class="font-xxl font-light color-primary pad-lg-t">{{ title }}</h2>

      <div data-bk-layout="sm:9 md:8 lg:7" class="rte">
        <p class="font-md">Buttons can be tricky little buggers to get right. With the exception of the simple Primary and Secondary styles, buttons will almost always be styled depending on the project and can quickly become unwieldy.</p>
      </div>

      <div data-bk-layout="p:trl"class="pad-b">
        <h2 class="font-md">Standard buttons</h2>

        <ul>
          <li data-bk-layout="p:trb auto"><a class="btn-primary" href="#">Primary Button</a></li>
          <li data-bk-layout="p:trb auto"><a class="btn-secondary" href="#">Secondary Button</a></li>
          <li data-bk-layout="p:trb auto"><a class="btn-bdr btn-empty" href="#">Empty Button</a></li>
          <li data-bk-layout="p:trb auto"><a class="btn-empty" href="#">Empty Button</a></li>
        </ul>
      </div>

      <div data-bk-layout="p:trl"class="pad-b">
        <h2 class="font-md">Full width buttons</h2>

        <ul data-bk-layout="p:0 sm:8 md:6">
          <li data-bk-layout="p:tr"><a class="btn-primary  w-100" href="#">Fit &amp; Left Text</a></li>
          <li data-bk-layout="p:tr center"><a class="btn-primary  w-100" href="#">Fit &amp; Centre Text</a></li>
          <li data-bk-layout="p:tr right"><a class="btn-primary  w-100" href="#">Fit &amp; Right Text</a></li>
        </ul>
      </div>


      <div data-bk-layout="p:trl"class="pad-b">
        <h2 class="font-md">Button sizes</h2>

        <ul>
          <li data-bk-layout="p:trb auto" class="font-xs"><a class="btn-primary" href="#">Extra Small</a></li>
          <li data-bk-layout="p:trb auto" class="font-sm"><a class="btn-primary" href="#">Small</a></li>
          <li data-bk-layout="p:trb auto"><a class="btn-primary" href="#">Normal</a></li>
          <li data-bk-layout="p:trb auto" class="font-md"><a class="btn-primary" href="#">Medium</a></li>
          <li data-bk-layout="p:trb auto" class="font-lg"><a class="btn-primary" href="#">Large</a></li>
          <li data-bk-layout="p:trb auto" class="font-xl"><a class="btn-primary" href="#">Extra Large</a></li>
        </ul>
          <h2 class="font-md">Compact buttons</h2>

          <ul>
            <li data-bk-layout="p:trb auto" class="font-xs"><a class="btn-primary btn-compact" href="#">Extra Small</a></li>
            <li data-bk-layout="p:trb auto" class="font-sm"><a class="btn-primary btn-compact" href="#">Small</a></li>
            <li data-bk-layout="p:trb auto"><a class="btn-primary btn-compact" href="#">Normal</a></li>
            <li data-bk-layout="p:trb auto" class="font-md"><a class="btn-primary btn-compact" href="#">Medium</a></li>
            <li data-bk-layout="p:trb auto" class="font-lg"><a class="btn-primary btn-compact" href="#">Large</a></li>
            <li data-bk-layout="p:trb auto" class="font-xl"><a class="btn-primary btn-compact" href="#">Extra Large</a></li>
          </ul>
      </div>

    </div>
  </div>

{% endblock %}