@mixin grid-alignments($ga-value: null) {

  @include attr-module($bk-grid-name, #{$ga-value}#{"middle"}) {
    > {
      @include attr-module($bk-grid-name) {
        vertical-align: middle;
      }
    }
  }

  @include attr-module($bk-grid-name, #{$ga-value}#{"bottom"}) {
    > {
      @include attr-module($bk-grid-name) {
        vertical-align: bottom;
      }
    }
  }

  @include attr-module($bk-grid-name, #{$ga-value}#{"center"}) {
    text-align: center;
  }

  @include attr-module($bk-grid-name, #{$ga-value}#{"right"}) {
    text-align: right;
  }

  @include attr-module($bk-grid-name, #{$ga-value}#{"left"}) {
    text-align: left;
  }

}