@if $margin-css {

  .margin {

    // margin: rem($margin + 0px);

    &-0 {
      margin: 0;
    }

    &-t {
      margin-top: rem($margin + 0px);
    }

    &-r {
      margin-right: rem($margin + 0px);
    }

    &-b {
      margin-bottom: rem($margin + 0px);
    }

    &-l {
      margin-left: rem($margin + 0px);
    }

    &-tb {
      margin-top: rem($margin + 0px);
      margin-bottom: rem($margin + 0px);
    }

    &-rl {
      margin-right: rem($margin + 0px);
      margin-left: rem($margin + 0px);
    }

    &-auto {
      margin-left: auto;
      margin-right: auto;
    }

  }

}