@if $padding-spacer-css {

  .#{$padding-spacer-name} {

    $padding-spacer: null;

    // If percentage spacing is set in the compile options use %, otherwise
    // default to rem sizing
    @if $padding-spacer-is-percentage {
      $padding-spacer: strip-unit($padding-spacer-size) / $max-width * 100%;
    } @else {
      $padding-spacer: rem($padding-spacer-size);
    }

    &,
    &-t {
      padding-top: $padding-spacer!important;
    }

    &,
    &-b {
      padding-bottom: $padding-spacer!important;
    }

    &-s {
      &,
      &-t {
        padding-top: $padding-spacer / 2!important;
      }

      &,
      &-b {
        padding-bottom: $padding-spacer / 2!important;
      }
    }

    &-l {
      &,
      &-t {
        padding-top: $padding-spacer * 2!important;
      }

      &,
      &-b {
        padding-bottom: $padding-spacer * 2!important;
      }
    }

    // Set max dimensions to prevent huge spaces at large screen sizes
    @if $padding-spacer-is-percentage == true {

      @include mq(px($max-width)) {

        &,
        &-t {
          padding-top: rem($padding-spacer-size)!important;
        }

        &,
        &-b {
          padding-bottom: rem($padding-spacer-size)!important;
        }

        &-s {
          &,
          &-t {
            padding-top: rem($padding-spacer-size / 2)!important;
          }

          &,
          &-b {
            padding-bottom: rem($padding-spacer-size / 2)!important;
          }
        }

        &-l {
          &,
          &-t {
            padding-top: rem($padding-spacer-size * 2)!important;
          }

          &,
          &-b {
            padding-bottom: rem($padding-spacer-size * 2)!important;
          }
        }

      }
    }
  }

}