@if $site-width-css {

  .#{$site-width-name},
  .#{$site-width-name}--100 {
    margin-left: auto;
    margin-right: auto;
    max-width: rem($max-width + 0px);
    width: $site-width;

  }

  // While maintaining the website's max-width, allow it to fit 100% of the screen width when it is less than the website max width
  .#{$site-width-name}--100 {
    width: 100% !important;
  }

}