$widths: (15, 20, 25, 33.333333, 50, 66.666666, 75, 80, 85, 100) !default;

@each $width in $widths {
  .w-auto {
    width: auto;
  }
  .w-#{floor($width)} {
    width: $width + 0%;
  }
}

@each $breakpoint, $value in $mq-breakpoints {
  @include mq($breakpoint) {
    .w-#{$breakpoint}-auto {
      width: auto;
    }

    @each $width in $widths {
      .w-#{$breakpoint}-#{floor($width)} {
        width: $width + 0%;
      }
    }
  }
}