$widths: (20, 25, 33.33333, 50, 66.66666, 75, 80, 100) !default;

@each $width in $widths {
  .w-#{round($width)} {
    width: $width + 0%;
  }
}

@each $breakpoint, $value in $mq-breakpoints {
  @include mq($breakpoint) {
    @each $width in $widths {
      .w-#{$breakpoint}-#{round($width)} {
        width: $width + 0%;
      }
    }
  }
}